$text-color: black;
$link-color: #e67e22;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark: darken($grey-color, 15%);
$off-white: rgb(246, 246, 246);
$off-black: rgba(0,0,0,.8);
$quote-color: #777;
$table-head-color: #dd5;
$table-text-color: white;
$table-bg-color: #34495E;
$table-alt-bg-color: darken($table-bg-color, 10%);
$graph-trail-color: #44d62c;
$graph-street-color: #000000;
