//http://stackoverflow.com/a/20432777

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: $margin * 5;
    width: 100%;
    padding: $footer-padding 0;
    border-top: 1px solid $grey-color-light;
    font-size: 0.6em;

    .sides {
        width: 175px;
    }
}
