body {
    text-align: left;
    /*
    Let's use System fonts for faster loading and consistent UI
    Medium did it first: https://medium.design/system-shock-6b1dc6d6596f#.hrsz463cl
    */
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: $base-font-size;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: $off-black;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.site-header-banner{
    @extend .site-header-image;
    .site-header-image{
        width:100%;
        @include media-query($on-laptop) {
            max-height: $max-site-header-height;
        }
    }
}

.flex_row {
    // uses flexbox - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.about{
  img{
    float:left;
  }
}


.wrap {
    margin: 0 auto;
    width: $wrap-width-mobile;
    @include media-query($on-laptop) {
        width: $wrap-width-desktop;
    }
}

.social{
  img{
    @extend .icon;
  }
}

.icon{
  width:$icon-len;
  height:$icon-len;
}
