body {
    text-align: left;
    /*
    Let's use System fonts for faster loading and consistent UI
    Medium did it first: https://medium.design/system-shock-6b1dc6d6596f#.hrsz463cl
    */
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: $base-font-size;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: $off-black;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//main site content inside the wrap
main{
  .content{
    @include media-query($on-laptop) {
        display:inline-block;
        width: 100%-$sidebar-desktop-width - 2%;
    }
  }
  .sidebar{
    text-align: center;
    vertical-align: top;
    .recent{
      display:block;
      font-size: .5em;
      a{
        margin: $margin/2;
      }
    }
    @include media-query($on-laptop) {
        display:inline-block;
        width: $sidebar-desktop-width - 2%;
    }
  }
}

.flex_row {
    // uses flexbox - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.content{
  figure{
    img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    figcaption{
      text-align: center;
      font-size: 0.95rem;
      margin: $margin 0;
    }
  }
}

.about{
  .content{
    img{
      float:left;
      margin: 0 $margin * 2 $margin * 2 0;
    }
  }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
        cursor:pointer; //needed for links with no href
    }
}

strong, b{
  font-weight: bold;
}

.article-header{
  margin: $margin 0;
}

.wrap {
    margin: $margin * 2 auto;
    width: $wrap-width-mobile;
    @include media-query($on-laptop) {
        width: $wrap-width-desktop;
    }
}

.social{
  display: block;
  img{
    @extend .icon;
  }
}

.icon{
  margin:0;
  padding:0;
  width:$icon-len;
  height:$icon-len;
}
