.site-header-banner{
    @extend .site-header-image;

    .site-header-image{
        display:block;
        margin:0;
        padding:0;
        width:100%;
        @include media-query($on-laptop) {
            max-height: $max-site-header-height;
        }
    }

    navbar {
        //alignment
        position: absolute;
        top: 100px;
        left:25%;
        transform: translate(-12.5%, 0);

        //size
        width:75%;
        font-size: .75em;

        //border
      	border-radius: 0.317rem;
        border: 1px solid $grey-color-light;

        display: block;
        padding: $navbar-padding;

        background-color: black;
        color:#ccc;
        margin:0;
        a {
            display: block;
            text-decoration: none;
            text-align: center;
            margin: 0 auto;
            color:$grey-color-light;
            &:hover{
              color:$grey-color-dark;
            }
        }
        @include media-query($on-laptop) {
            a {
                display: inline-block;
            }
        }
    }
}
