.site-header-banner{
    @extend .site-header-image;

    .site-header-image{
        display:block;
        margin:0;
        padding:0;
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        max-height: $max-site-header-height;
        min-height: $max-site-header-height/3;
    }

    navbar {
        //alignment
        position: absolute;
        top: 25px;
        left:50%;
        transform: translate(-50%, 0);

        //size
        width:75%;
        font-size: .75em;

        //border
      	border-radius: 0.317rem;
        border: 1px solid $grey-color-light;

        display: block;
        padding: $margin;

        background-color: black;
        color:#ccc;
        margin:0;
        a {
            display: block;
            text-decoration: none;
            text-align: center;
            margin:0 $margin/2;
            color:$grey-color-light;
            &:hover{
              color:$grey-color-dark;
            }
        }
        @include media-query($on-laptop) {
            top: 100px;
            a {
                display: inline-block;
            }
        }
    }
}
