@charset "utf-8";
@import "normalize"; //Define variables, mixins, etc for scss files
$icon-len: 1rem;
$small-icon-len: 1em;
$sidebar-desktop-width: 25%;
$margin: 0.67em;
$width-max: 1000px;
$outline: 0 0 6px #000,0 0 6px #000,0 0 6px #000;
$base-font-size: 21px;
$footer-padding: 1em;
$footer-img-len: 1.25em;
$wrap-width-mobile: 95%;
$wrap-width-desktop: 70%;
$max-site-header-height: 225px;
$on-laptop: 800px;
$on-desktop: 1200px;
$sidebar-padding-left: 2%;
$card-width-desktop: 41.5%;
$card-img-height: 5em;
$card-p-size: 1.2em;
@mixin media-query($device) {
     @media screen and (min-width: $device){
        @content;
    }
}
@mixin font-size($size, $amplifier, $desktop-amplifier) {
    $context-size-computed: $size * $step-size-font;
    font-size: $context-size-computed * $amplifier + em;
    @include media-query($on-laptop) {
        font-size: $context-size-computed * $desktop-amplifier + em;
    }
}
@import "colors";
@import "global","table","d3","footer","header_site","buttons","post_summary","tabs";
