<footer>
    <div class="wrap flex_row">
      <!-- Left -->
      <span class="sides">
        <%= link_to "Asset Credits", "/asset-credits.html", :target => "_blank" %>
      </span>

      <!-- Middle -->
      <span class="">
      </span>

      <!-- Right -->
      <span class="sides" style="text-align:right;">
        <%= link_to "Source Code", config[:repo_src], :target => "_blank" %>
      </span>
    </div>
</footer>
