<%
#choose the image to display as the site banner
header_img = "/images/site-header-img.jpg"
if current_page.data.dig(:top_img) then
  url = current_article.url
  url_without_ext = url[0..url.length-6]
  header_img = "/images#{url_without_ext}/#{current_page.data.top_img}"
end
%>

<header class="site-header-banner">
  <%= partial "partials/navbar.erb" %>

  <div class="site-header-image" style="background-image:url(<%= header_img %>);" >
    <!-- <img src="<%= header_img %>" alt="Site Header Image" /> -->
  </div>
</header>
