
<div class="articles-linkage">
    <div>
        <% if current_article.next_article
            art = current_article.next_article %>
            <%= link_to "Next Article", art, class: "button button_primary" %>
        <% end %>
    </div>

    <div>
        <% if current_article.previous_article 
            art = current_article.previous_article %>
            <%= link_to "Previous Article", art, class: "button button_primary" %>
        <% end %>
    </div>
</div>