<aside class="sidebar">
  <%= partial "partials/social_follow.erb" %>
  <a class="open-mailchimp-subscribe-popup">Subscribe!</a>

  <h4>Recent Articles</h4>
  <div class="recent_articles">
    <% blog.articles[0...5].each do |article| %>
      <%= link_to article.title, article %>
    <% end %>
  </div>
</aside>
