<aside class="sidebar">
  <a class="open-mailchimp-subscribe-popup">Subscribe</a>

  <h4>Follow</h4>
  <%= partial "partials/social_follow.erb" %>

  <div class="recent">
    <% blog.tags.each do |tag, articles| %>
      <%= link_to "#{tag}", tag_path(tag), { class: "button button_primary" }%>
    <% end %>
  </div>
</aside>
