---
title: "Vegan Eating at Dewey's Pizza"
tags: vegan, pizza, food
---

I got a coupon for a free 11" pizza from [Dewey’s Pizza](http://deweyspizza.com/) at the [Emerald City Half and Quarter Marathon](/blog/emerald-city-quarter-marathon.html) this year.
I hadn't been to Dewey's since it had first opened in Columbus several years ago.

I did some research and to my surprise the crust (for both the pizza and calzones) and the red sauce were both vegan!

<blockquote class="twitter-tweet" data-lang="en">
  <p lang="en" dir="ltr">A celiac, a vegan and a meat-lover walk into a Dewey’s Pizza…and all leave satisfied. (Photo by: @glutenfreepearls)
    <a href="https://t.co/DlqQfYfXT7">pic.twitter.com/DlqQfYfXT7
    </a>
  </p>&mdash; Dewey&#39;s Pizza (@DeweysPizza)
  <a href="https://twitter.com/DeweysPizza/status/672852119733575680?ref_src=twsrc%5Etfw">December 4, 2015
  </a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

Knowing that they had vegan options I was now sold.

We headed to Dewey's and ordered two pizzas.

We ordered two Killer Veggie pizzas, minus the mozzarella cheese and olives.
On the smaller pizza we substituted in artichokes and pineapple and had artichokes and roasted red pepper on the bigger pizza.

<%= partial "partials/image.erb", locals: {
     src: "deweys-vegan-pizza.jpg",
     alt: "Dewey's Pizza Two Vegan Pizzas 11-inch and 17-inch"} %>

Overall our pizza seemed a little light on sauce and if I went back I'd definitely ask for extra sauce.
On top of that the vegtables weren't super fresh and some were clearly from a can.
Despite that it was pretty tasty!
We ate until stuffed and polished off the rest the next morning.
