---
title: "UACA 5 Miler Race Report"
tags: race, race report, 5 mile, road running
race: {
  location: "Upper Arlington, Ohio",
  date: "Monday, May 29th, 2017",
  distances: "5 mile, 1 mile",
  participants: "319",
  url: "http://directors1933.uaca.org/wordpress/events/memorial-day-run/",
  strava_url: "https://www.strava.com/activities/1011295093/embed/d2494232aa6e5daf454cbd2a21f2b6e9d55f9c7b"
}
---

I ran the [Field of Heroes 5k](/blog/field-of-heroes-5k-race-report-2.html) the day prior to this race.
I knew I was out of (speed) shape going into this weekend so I had low expectations.

What I didn't know what that my expectations were too high for this race!
I was hoping to maintain a 7:30-7:45 pace for this race.
My finishing time was well within that range, but I felt like complete crap from mile 3 onward.

Mile 4 was done at over an 8 minute pace.

My legs were heavy from the speedwork the day before and were barely keeping up.
[Last year](/blog/uaca-5-miler-race-report.html) I increased my effort significantly during the last 1.5 miles of the race but this time around I didn't have it in me.

After this race I seriously questioned all the ultras I have been doing.
The training cycle this spring obviously caused a huge blow to my speed.

I could run 75 miles but couldn't finish a 5 mile race feeling strong.

I don't have an answer yet regarding what I want to do going forward.
So many other runners seem to juggle speedwork and ultras.

I haven't had a marathon PR since I started doing ultras.

For now I am going to experiment with my training schedule and see if I can gain speed and endurance.
[Hyner 50k](http://www.hikerun.com/) is already on the schedule for 2018.
More to come on that...

**Final Time:** 38:24

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:53.827160493827165% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BUr35SCljQG/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Blurry pic of my dad and I at the UACA 5 miler. Hot hot day!</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-05-29T17:59:53+00:00">May 29, 2017 at 10:59am PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

Even though I am disappointed with where my speed is right now, I did earn #2 in my 20-29 age group.
So this race wasn't all bad.
Simply the beginning of a new focus for my runs.

###Race Collections

<%= partial "partials/image.erb", locals: {
    src: "uaca-5-miler-race-shirt.jpg",
    alt: "UACA 5 Miler Race Shirt, Bib, and Age Group Award"} %>

I wasn't a huge fan of the shirt design this year plus the shirt wasn't tech material.
The shirt was soft though!
I grabbed the shirt in for [James](http://jarlowrey.com/about.html) instead.
([Two](/blog/field-of-heroes-5k-race-report-2.html) free shirts in one weekend! He is so lucky!)

<%= partial "partials/image.erb", locals: {
    src: "uaca-5-miler-award.jpg",
    alt: "UACA 5 Miler F 20-29 2nd place award"} %>

[Read the Race Report for 2016 Here](/blog/uaca-5-miler-race-report.html)
