---
title: "Wendy's Frosty 5k"
tags: race, ohio, 5k, road running
top_img: "wendys-frosty-5k-gear.jpg"
race: {
  location: "Huntington Park, Columbus, Ohio",
  date: "Sunday, August 13th, 2017",
  distances: "5k",
  participants: "704",
  url: "http://www.columbusfrosty5k.com/"
}
---

My plan for the weekend was to run 14 miles on Saturday.
As my fall mileage builds I figured adding in a 5k on Sunday would be fun to see how my legs are feeling on back to back hard days.

I searched [Running in the USA](http://www.runningintheusa.com/) for something close by to fill my weekend.
When I stumbled across the Wendy's Frosty 5k I had to sign up.
What a novelty!
How had I not heard of this race in town before?
Not only did you get a frosty upon finishing, but you also got to finish on the field in Huntington Park!
I have already finished on the 50 at Ohio Stadium and on [center ice at Nationwide Arena](/blog/5th-line-5k-race-report.html) so I figured I needed to add another Columbus sports venue to the list!


<blockquote class="twitter-tweet" data-lang="en">
  <p lang="en" dir="ltr">Wendy&#39;s Frosty 5k that finished on the field at Huntington Park
    <a href="https://t.co/kfWJADYcWb">pic.twitter.com/kfWJADYcWb</a>
  </p>
  &mdash; Nicole (@bonktothefinish)
    <a href="https://twitter.com/bonktothefinish/status/896759630164099074">August 13, 2017</a>
  </blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


I had to do a lot of research before hand to figure out that the race shirts were cotton and not tech material.
The shirts were really soft and nice but I never wear cotton (I either live in workout clothes or am dressed up for an occasion not suitable for a t-shirt).
I grabbed a large for [James](http://jarlowrey.com/about.html).
Since he has worn it a few times now he has gotten questions from strangers ranging from asking if he works at Wendy's to wondering where they can buy a frosty shirt.

###Race Course

The course started just outside of Huntington Park.
It wasn't very clear *where* the race was supposed to start exactly in any of the pre-race information.
This was the biggest improvement I thought could be made.
I overheard numerous people asking others where the race started and no one knew.
Finally someone who had run the race before pointed it out down a side street.

I had 14 miles on my legs and they were feeling heavy at the start.
I didn't have any specific goals other than running at a solid effort level.
The course was through the Scioto Miles area that is a typical route for downtown races.
None the less it's scenic with the river views so it doesn't get old.

**Final Time:** 22:09

###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "wendys-frosty-5k-gear.jpg",
     alt: "2017 Wendy's Frosty 5k Race Shirt, Race Medal, Bag, and Other Items"} %>

The race bag also included a free frosty keychain with any purchase for the remainder of 2017.

*Frosty not pictured.
{: .small }
