---
title: "Pro Football HOF Legends 5k Race Report"
tags: race, 5k, road running
top_img: "IMG_20170506_104425-3.jpg"
race: {
  location: "McKinley (Timken) High School Canton, Ohio",
  date: "April 29th, 2017",
  distances: "5k",
  participants: "910",
  url: "http://www.hofmarathon.com/",
  strava_url: "https://www.strava.com/activities/962760861/embed/f9997747f343c6addd5e2b3d008d335ba1ca8cce"
}
---

Since I had to show up in Canton on Saturday anyway for the Pro Football Hall of Fame Marathon expo, I decided to sign up for the Legends 5k the day before.
There was also a discount for the 5k if you had already signed up for any event on Sunday.

The 5k started and finished right next to the expo.
The race started at 8am, and the expo started at 9am, so it was  super convenient.
It was also my first time doing a 5k the day before a marathon.
It's becoming increasingly popular with big races like the Rock 'n' Roll races adding a 5k the day before the bigger events on Sunday.
I enjoyed completing a fun shake out race the day before with so many other people racing the next day.
The only thing I would note is that if you are competitive and racing on Sunday I would probably advise against something like this.
I was out there to have fun and was making sure I didn't run out of energy on Saturday putting me in a bad position for Sunday.

Parking was a breeze.
It was at the same start/finish as the marathon on Sunday.
Everything was already set up so there were plenty of bathrooms and I thought the morning moved very smoothly.

I started with [James](http://jamesrlowrey.com/about.html) and we lined up pretty far in the back.
After all, I was trying to run at a 60-70% max effort today.

When the race started we were both joking around.
James said he was going to trip me so that he could beat me.
I was jumping over road blocks pretending they were hurdles.

The first mile or so was downhill.
At some point I decided that I was going to pull ahead and run a bit faster.
I think I was having *too* much fun.
So I picked up my pace and started passing people one by one trying to get to a group that was more the pace I wanted to be running.
After the downhill stretch, runners ran along a creek through a park that I remembered from last years marathon.
This stretch was nice and mostly flat.

Then there was a right turn that took runners out of the park and uphill back to the finish.
At this point I was trying to maintain pace, but my mind was wandering and I was gradually slowing down.

A spectator yelled that I was the third female and I was in shock.
"What?!"
I tried to think of when the last female was that I passed but I couldn't remember.
"She could be right behind me," I thought.
I held on to maintain my pace knowing that I didn't want this to turn into a sprint with 0.75 miles to go.

I didn't dare turn around because in all honesty I didn't want to know.
If I was passed then that was ok, the big race was tomorrow anyways.

I chugged along trying to keep pace with another runner that I had been running with since mile 2.
He pulled away with a quarter mile to go as I kept my steady pace.

The finish line came up before I knew it and suddenly I crossed as third female!

**Final Time:** 22:07

Immediately after finishing a light rain started.
I waited for James who was less than a minute behind me.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:45.55555555555556% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BTeEUzdlCar/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Legends 5k! I got 3rd female #bibchat #5k #runcanton #canton #running</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-04-29T12:47:45+00:00">Apr 29, 2017 at 5:47am PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

We waited around for the expo to start and tried to look up a good place to get breakfast.

Right as we were thinking about leaving to go get breakfast there was an announcement about awards.
I had no idea the 5k gave away awards!

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170429_090034.jpg",
    alt: "Legends 5k Awards Ceremony" } %>

We went over to the awards tent where I found Stephanie, a runner I had met last year while running Earn your Mittens, back to back marathons in [Kenosha, Wisconsin](/blog/wisconsin-marathon-race-report.html) and [Kalamazoo, Michigan.](/blog/kalamazoo-marathon-race-report.html)
She was pregnant and still placed in her age group!
How awesome is that?!

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170429_090132.jpg",
    alt: "Legends 5k Me with Award" } %>

The age group awards were shoes and wings and the overall awards were football player bobble heads.

###Weekend Collections

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170506_104425-3.jpg",
    alt: "Legends 5k Me with Award" } %>

The 5k gear is on the right in the picture below.
I really liked the medal for this race as well as the awards for the race.
I usually prefer a tech shirt but I really liked the overall vintage theme for the race shirts this year.

[Read Last Year's Pro Football Hall of Fame Race Report Here](/blog/pro-football-hall-of-fame-marathon-race-report.html)
