---
title: "Rockford Marathon Race Report"
tags: race, marathon, road running
top_img: "rock-cut-state-park-sunset.jpg"
published: false
race: {
  location: "Rockford, Illinois",
  date: "Sunday, May 21st, 2017",
  distances: "Marathon, Half Marathon, 10k",
  participants: "727",
  url: "https://www.chicagoevents.com/events/rockfordmarathon/",
}
---

For this blog post I'm going to try something a little bit different.
This marathon was James' 4th marathon.
I was along for the ride to keep him company and pace him to the finish.
But the race was all my idea.
So I'll present my side and [James](http://jarlowrey.com/) will present his to give a bigger picture of what this race looked like for a casual runner and a serial racer.

###The Sign-Up

Browsing Facebook I found a post that someone had mentioned the Rockford Marathon had special $26.20 pricing.
I like that this trend of cheap road marathons is catching on.
First the [Pro Football Hall of Fame Marathon](/blog/pro-football-hof-marathon-race-report.html) picked it up in 2017 and now this is the third race I've seen with $26.20 pricing!

When I found out about the pricing I checked my schedule.
I was in Chicago for two weeks for work and the race was the weekend sandwiched in between the two.
Perfect considering I needed to be close by anyways!

James isn't big into racing, but I can convince him to sign up when I find good deals.
I knew a marathon would be a tough sell.
When I called him he was with his brother trying to get a locksmith because they were locked out.
Perfect timing to get him to agree when he was busy and only half paying attention...
I pitched the idea, waiting, and asking for a reply.
It was probably something like "Sure babe, sounds fun," to get me off the phone.
I took the yes and ran with it and signed us up before he could change his mind.

###Lodging

<%= partial "partials/image.erb", locals: {
     src: "rock-cut-state-park.jpg",
     alt: "Rock Cut State Park view of Tent and Rockford Marathon Shirt, Bib, and Stickers 2017" } %>

We stayed at Rock Cut State Park for a cheap rate of $12 a night.
The drive was a bit far to the start (~20 minutes) but it wasn't awful.
The campgrounds were right on a lake which was scenic, however, at night you could hear the faint noises coming from the highway close by.
That took away from the peacefulness and beauty of the area just a bit.
It also got fairly cold at night considering it was almost the end of May.
We brought plenty of layers so it wasn't a problem, just not what I was expecting.

<%= partial "partials/image.erb", locals: {
     src: "rock-cut-state-park-sunset.jpg",
     alt: "Rock Cut State Park Sunset Spring 2017" } %>

###Packet Pick-Up

The packet pick-up was laughably small.
It was located in a Fleet Feet that was under construction and hadn't opened yet.
It was very easy to get in and out with almost no wait.
I didn't mind it but I was hoping to buy an Illinois Fleet Feet singlet when I saw the location.

The race also had an option to mail your packets which was nice.
I haven't used this feature yet at a race but I debated using it here since I was traveling.
It's nice to see more races embracing this feature.

###Race Day

Parking wasn't hard to find but getting near the start was a bit difficult.
Google maps didn't recognize that certain streets were one-way.
This coupled with streets being closed for the race meant that it took a bit longer than expected to get across the river, but once we did parking was a breeze.

The half marathoners and marathoners started together at 6:00AM.
The race had Beast Pacing teams which helped the start be a bit more orderly.

The course was essentially 2 loops for the full marathon running parallel to the river (however the river was not in sight) before crossing and returning back alongside the river.
The stretch along the river was tough because it was open and there were not many trees or buildings to shield the wind.
This made for some tough miles as you were coming into the halfway point and then again in the several miles leading to the finish.

The race had "gels" but the packets were larger than normal sized gels and contained something more similar to concentrated gatorade.
The brand was called [Glukos](https://www.amazon.com/gp/product/B017T02XIK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B017T02XIK&linkId=2806b1fccb6966c028af765ad3544c81) and on the label it stated that the gel was the official gel of the Rock 'n' Roll Marathon Series.
Some flavors were better than others but overall I wasn't a huge fan.
It would be great for someone who finds that gels sit heavy in their stomach, however I would prefer something less sugary.

I thought James could run a 4:45-5:00 marathon, so that's what pace I was trying to shoot for.
The 4:45 pacer was a ways ahead of us so I was just happy that we remained between the two pacers for most of the race.

After the halfway point the course emptied out considerably, and we were pretty much alone for most of the race.
We saw a few people here and there off in the distance or in passing, with one other runner that we were going back and forth with.

One thing that I was pretty unhappy about was that although we were on pace to come in well ahead of the 6 hour cut off, on the second loop some aid stations were empty or packing up.
When we finally did finish, I noticed that the finish line was being packed up as well.

**Final Time:** 4:54:42

So yea, way ahead of the 6 hour cut off and it felt like we were holding them up to leave.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:39.907407407407405% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BUXMB9_Fa8A/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">James finished his spring marathon! And I knocked another state off the list! Woohoo! #marathon #rockfordmarathon #bibravepro #bibchat Up next @freepmarathon (Fall marathon for James?!) and @honorrunhalfmarathon</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-05-21T17:11:47+00:00">May 21, 2017 at 10:11am PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>


###Race Collections

My only complaint about the shirts were that they were not gender specific.
Other than that though I felt like the shirt and medal were good considering the $26.20 price tag for the race.

<%= partial "partials/image.erb", locals: {
     src: "rockford-shirt-medal.jpg",
     alt: "Rockford Marathon Shirt Medal 2017" } %>


##James' Race

It seems that it's every other day Nicole has found an exciting new race, and she usually invites me along.
As the lazy partner in the relationship I tend to opt for dog sitting duties instead.
However I try to be open and if we're already traveling or it has been awhile since my last race I'll go along.
I didn't know anything about Rockford but since it was near our Chicago vacation it sounded like a good time to race.

This was my 4th marathon, the previous being Columbus OH (4:05), San Francisco CA (4:30) and the North Face Endurance Challenge WI (trail, 6:30).
That's a bit more marathons than your average Joe but it's far from being a hobby.
I really enjoy the feeling of accomplishment after completing a marathon and being able to see awesome sights while out on the run.
Unfortunately, afer Columbus and SF I developed migraines due to dehydration, so I've been turned off of these races for awhile.
I'm happy to report that the slower pace (4:54) combined with Nicole's tutelage resulted in a migraine free Rockford marathon.

###Camping

After the 7 hour drive to Rock Cut State Park we entered our campsite and settled in.
Nicole had snagged us a great camping spot out on a little peninsula with a lakeside fantastic view.

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.6629909841768!2d-88.98489442638292!3d42.34970798954274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDIwJzU5LjAiTiA4OMKwNTknMDAuMCJX!5e0!3m2!1sen!2sus!4v1496254589063" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

Once the tent was setup and sleeping bags in order, we left again to pick up some vegan meatballs and assorted vegetables for campfire grilling.
We're not quite vegetarian but we're slowly headed in that direction, plus this seemed easier to store and cook.
Eventually we hit the hay and despite the faint highway noises nearby, got a good night's sleep.

###Race Day

The next morning we were up early to make the 6AM start time.
Banana, bathroom, and we're off.
Near the start we hit some issues with Google Maps, closed streets, and finding parking, but still made it out with plenty of time to spare.
As we exited the car I experienced the first of a series of terrible feelings that were to plague the rest of the day.

As mentioned earlier, I'm a bit more relaxed when it comes to this running stuff - perhaps too relaxed.
My training schedule for this race was something like 5-20 mi weeks, which can be summed up as "extremely ill prepared".
Once we arrived, I think my body remembered what it was like to do a marathon, and coupled with my intense training regime, thought it was not unlikely that the race would kill me.
Faced with this fight or flight situation, my brain passed down an extremely urgent mandate to the rest of the troops.
Anyways, after exiting the porta potty for the first time in that pre-race morning, I began to be afraid for what lurked ahead.
By the end of the race we had 5 or 6 porta potty stops on this two loop course, and I felt quite lucky when Nicole mentioned that she "had never seen so many Porta Johns at a race before".

Besides that, the race itself was mostly smooth sailing.
Compared to my other city runs views weren't hugely scenic, at least until the last ~3 miles of the loop that ran along the Rock River.
The sculptures and water riverside was pretty cool.

It was surprising to me how much the race cleaned out once the first loop ended.
What started out as a relatively crowded race was immediately weaned down to only have 1-2 runners visible at any time.
Those half marathoners were the bulk of the pack.
Nicole said they didn't have the marathon option available in past years, and it felt like most people hadn't gotten the memo that it had come back.

It's always funny when you exercise with someone more fit than you.
Since we kept an even pace the whole race it began to feel like Nicole and I were more evenly matched than you'd believe by looking at our training schedules.
Alas the feeling did not last.
A dramatic shift occurred in the last 10% or so of the race, as Nicole began accelerate to push me forward.
This always happens, but somehow it's still a surprise.
Suddenly she was maintaining a constant five-ten foot lead as I struggled with wind, tiredness, and some bad chaffing (don't forget your compression shorts people).

As the finish loomed she fell back so we could finish together, another marathon down.
Just past the inflatable archway we were greeted new medal swag and a host of chocolate Kind bars and powdered donuts, where I happily made up my calorie deficit.
