---
title: "Vegan Options at Qdoba"
tags: vegan, mexican, food
---

Traveling and being vegan always requires a little bit more pre-planning.
I ended up in a hotel with a fridge but no microwave.
UGH, the worst kind of hotel!
So I've been ordering a lot of meals online.

Earlier in the week I got Chipotle and passed Qdoba on the way back to my hotel.
I haven't eaten at Qdoba since high school or about 7 years.
Today I decided to give it another go.

I went to Qdoba's website and saw that they had online ordering.
"OK awesome, now I can order whatever I want and not have to explain my dietary choices to anyone!," I thought.
The sad life of trying to order food that's vegan is truely all of the questions.
YES, FOR THE 5TH TIME I DO NOT WANT ANY MEAT.
NO, I REALLY DON'T WANT CHEESE EITHER!

So I prepared to order from their online ordering portal.
I got all my research ready: multiple Google search articles of what ingredients the restaurant has that are vegan and [Qdoba's allergen list](https://www.qdoba.com/static/downloads/allergen_chart_and_ingredient_statements__us.pdf).

But magically to my surprise Qdoba had this awesome online ordering portal that catered to multiple different dietary options!

<%= partial "partials/image.erb", locals: {
     src: "QdobaScreenshot.jpg",
     alt: "Qdoba Online Ordering Screenshot of Dietary Preferences Options"} %>

Basically all I had to do was select the vegan option and other options that did not match disappeared.
How cool is that?!

I've ordered from so many different restaurants online now and am used to picking based on allergy information or unofficial sources saying items are vegan that I can't trace back to an official statement from the company.
Or even worse is restaurants that have a vegan page to tell you what you ca order but it's outdated and most of the items aren't even on the menu anymore. (Looking at you Panera...)

Every restaurant should follow Qdoba's lead on this one.

Honestly my only complaint was that I couldn't add avocado to the taco salad but I could add it to the burrito bowl from th online platform.
A small price to pay for being able to eat vegan and order with ease for once.

I got a vegetarian taco bowl and side of tortilla soup with added veggies.

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Eating vegan at <a href="https://twitter.com/qdoba?ref_src=twsrc%5Etfw">@qdoba</a> 👍👍👍 <a href="https://twitter.com/hashtag/vegan?src=hash&amp;ref_src=twsrc%5Etfw">#vegan</a> <a href="https://twitter.com/hashtag/qdoba?src=hash&amp;ref_src=twsrc%5Etfw">#qdoba</a> <a href="https://twitter.com/hashtag/veganlife?src=hash&amp;ref_src=twsrc%5Etfw">#veganlife</a> <a href="https://twitter.com/hashtag/veganfood?src=hash&amp;ref_src=twsrc%5Etfw">#veganfood</a> <a href="https://twitter.com/hashtag/veganhour?src=hash&amp;ref_src=twsrc%5Etfw">#veganhour</a> <a href="https://twitter.com/hashtag/veganfoodshare?src=hash&amp;ref_src=twsrc%5Etfw">#veganfoodshare</a> <a href="https://twitter.com/hashtag/veg?src=hash&amp;ref_src=twsrc%5Etfw">#veg</a> <a href="https://twitter.com/hashtag/veganlifestyle?src=hash&amp;ref_src=twsrc%5Etfw">#veganlifestyle</a> <a href="https://t.co/1oZVwp7hox">pic.twitter.com/1oZVwp7hox</a></p>&mdash; Nicole (@bonktothefinish) <a href="https://twitter.com/bonktothefinish/status/930949418534232064?ref_src=twsrc%5Etfw">November 16, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

Next time I'm thinking of trying the loaded tortilla soup to get a bigger portion though, as the soup was SO good.
