---
title: "The Big Run – Columbus – Race Report"
tags: race, race report, 5k, road running
race: {
  location: "Worthington, Ohio and Other Nationwide Locations",
  date: "Wednesday, June 7th, 2017",
  distances: "5k",
  participants: "4,585 Nationwide, 233 Columbus",
  url: "https://www.fleetfeetsports.com/thebigrun",
  strava_url: "https://www.strava.com/activities/1026091430/embed/4ea0c74a426e439a4bcc239e61eea29825bbfaab"
}
---

Only a few days after [Rock ‘n’ Roll San Diego](/blog/rock-n-roll-san-diego-marathon-race-report.html), I was back at it again with the Big Run as part of the Columbus Run Crew.
The race was held on [Global Running Day](https://globalrunningday.org/), and results were aggregated across the country for nationwide results.
Because I am typically traveling for work, I found myself rushing from Middle-of-nowhere, Ohio praying that I’d make it in time.

I convinced James to run this race.
In the few days leading up to Global Running Day it was clear that he had completely forgotten.
He showed up with his brand new [Altra Torins](https://www.amazon.com/gp/product/B01N7KPOFB/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01N7KPOFB&linkId=9ab140b9f73c6ed0a92e175a71061221) ready to test them out.
He found some in his size for a great price at the Rock ‘n’ Roll expo a few days prior.
(He has run in Altras in the past, however, didn’t like them as they were not stability shoes which he later learned that he needs.)

The course ran on the [Olentangy Trail]( https://www.traillink.com/trail/olentangy-trail/) and was a quick out and back.
The trail was still open to the public, which made for a tight start and one very pissed-off biker.

About a mile into the race it was clear that I was not going to be able to keep up with James and I let him know he could go ahead if he wanted.
He had not ran a marathon over the weekend and was feeling a tad more fresh.
I watched him disappear into the distance.

My legs were feeling heavy but the biggest thing holding me back was my calves.
They were beyond tight and screaming that a brisk walk would be nice.

I had hoped to catch back up with James but I never saw him again until I pulled into the finish.
I had to walk it off upon finishing as I was worried my calves would cramp up if I stood still.

**Final Time:** 23:00.6

And there it was: The first race that James has ever beat me at. He ran 22:18.9.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BVD2UCPFApf/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">For @globalrunningday James beat me for the first time ever at a race (he&#39;s getting fast). BUT I ran right on pace of what I wanted to run 3 days after my marathon @brooksrunning @fleetfeetsports @fleetfeetcolumbus #thebigrun #globalrunningday</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-06-08T01:27:50+00:00">Jun 7, 2017 at 6:27pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "the-big-run-shirt-medal-bib.jpg",
     alt: "The Big Run Shirt, Medal, and Bib"} %>

I don’t usually like getting non-tech shirts at races but I did like the design/style/color of this race shirt.
My favorite part was the medal, which was fairly large for a 5k and had running emojis around the ribbon.
They ran out of shirts though, so James had to wait for them to make another batch after the race.
