---
title: "Ebates Shopping Review – Get Cash Back with Your Regular Online Shopping!"
tags: product review, shopping, cash back
---

<a href='https://www.ebates.com/r/NICOLE42154?eeid=28585' target='_blank' rel='nofollow'><img src='https://www.ebates.com/images/referral/2017/ebates-referral-button.jpg' alt='Ebates Coupons and Cash Back' height='31' width='171' border='0'/></a>

I started using Ebates when I got my new job that includes a significant amount of travel. 
It’s free to sign up. It took me several months to get on track with regularly using Ebates. 
Now, I use it regularly for booking my hotels and for additional shopping.

The best part is that Ebates now has a [browser extension](https://www.ebates.com/help/button.htm) to make it easier to remember to use Ebates on all of your shopping trips! 
This saved me on my recent purchase of buying glasses on [Zenni Optical](http://www.zennioptical.com/).

By using a referral you can start off with an additional $10 after your first purchase. 
[Click here if you want to use my link as a referral.](https://www.ebates.com/r/NICOLE42154)

###How it Works

Ebates makes deals with companies to determine the amount of cash back for each store then earns a commission for each purchase made. 
They share some of that commission with you as cash back bonuses. 
Cash back percentages change regularly and occasionally stores will run special promotions with higher cash back.

###The Goal

Obviously stores are hoping that using Ebates will increase how much you spend or how much you shop online. 

I do not use it that way. 
I simply do my regular shopping and go to Ebates before I want to check out with all of my items already in the cart.

I regularly purchase items from Walmart for in-store pickup (I am a big price shopper for bulk food), hotels for travel (expensed to my company card, free cash back!), and anything else I might need. 
The unfortunate part is that Amazon typically only offers cash back for special categories, none of which currently interest me.

###How You Get Paid

Perhaps the best part of Ebates is how easy it is to get your cash back. 
[Once a quarter (4x a year)](https://www.ebates.com/help/payments.htm), Ebates automatically sends a check to the mailing address you have on file. 
That’s it! 
No need to remember to manually release your payment and no minimum needed for your check to dispurse.

So far I have $65.53 of lifetime cash back after 6 months of opening my Ebates account. 
Although I have significantly increased my usage of Ebates in the last 2 months after I discovered the [browser extension](https://www.ebates.com/help/button.htm).

Although some stores have low cash back (2%), I also get 2% cash back through my credit card which allows me to stack the bonuses in my online purchases.
It all adds up.

###Cons

Sometimes Ebates misses a purchase from a shopping trip. 
It is a little extra work but it is always good to check that all of your purchases are being applied. 
Ebates has an [easy form you can fill out](https://www.ebates.com/help/customer_care/wheresmycashback.htm) if you have a missing payment. 
So far I have only had one payment that took a while to show up. 
Ebates had the issue fixed within 24 hours of me submitting the form.

###Interested? 

[Click below to get your $10 bonus after your first purchase.](https://www.ebates.com/r/NICOLE42154)

<a href='https://www.ebates.com/r/NICOLE42154?eeid=28585' target='_blank' rel='nofollow'><img src='https://www.ebates.com/images/referral/2017/ebates-referral-button.png' alt='Ebates Coupons and Cash Back' height='31' width='171' border='0'/></a>
