---
title: "Blogging Directories"
tags: blog
---

The following is a list of blog directories that I have sumbitted my blog to.
Feel free to use this information to apply to your own blog!
I am planning for this to be a living document that I will update as needed.

1. [Blogarama](http://www.blogarama.com/en/) <br/>
2. [Miles to Blog](http://milestoblog.com/blog-links/3317/bonk-to-the-finish/) <br/>
3. [Blogging Fusion](https://www.bloggingfusion.com/)

<a href="http://www.blogarama.com/exercise-and-fitness-blogs/1290009-blog/" target="_blank"><img src="http://www.blogarama.com/images/button.gif" alt="Follow me on Blogarama" /></a>

<center>
<a rel="nofollow" href="http://milestoblog.com/blog-links/3317/bonk-to-the-finish/"><img src="http://milestoblog.com/wp/wp-content/uploads/2013/10/MTBBadge.png" border="0"/></a></center>

<a href="https://www.bloggingfusion.com/"><img src="https://www.bloggingfusion.com/images/linkware/bloggingfusion1.png" alt="Blogging Fusion Blog Directory" style="border:0;" /></a>
