---
title: "Oktoberfest Meiler Vier Race Report"
tags: columbus run crew, 4 mile, short race, road running
race: {
  location: "Ohio Expo Center, Columbus, Ohio",
  date: "Friday, September 22nd, 2017",
  distances: "4 miles",
  participants: "550",
  url: "http://www.m3ssports.com/events/oktoberfest.htm",
  strava_url: "https://www.strava.com/activities/1201759431/embed/06f166de0c226442dbe2dc6bfdbfe94a2765404e"
}
---

This race was held at the start of the Columbus Oktoberfest.
I had never been before so I figured it would be a good opportunity to go the event and incorporate running.
It actually ended up working out well because you got a free parking pass with the race materials!
Otherwise parking would have been about $10.

For some reason I was thinking the race started at 7pm and showed up around 6pm.
It actually started around 6:15pm.
Luckily while everyone was watching the tapping of the keg and lining up at the race start I found bathrooms with no line!
I got lucky there…

The race had pacers but the quickest group was 32:00 (8:00/mile).
I was hoping to run a bit faster than that and break 30.
As this was a night race the weather was pretty warm, pushing 90 degrees.
The race had two loops as the course.
You passed water stops twice which was great with how hot this race was.

I started loop 1 and felt like I had started a bit faster than I was wanting.
I had to slow myself down and find my pace because with the heat I was working at a pace that didn’t feel maintainable.
Now that I had a mile in I was thinking that breaking 30 might not be realistic given the weather.
I finished my first loop a bit more conservatively.

<%= partial "partials/image.erb", locals: {
     src: "oktoberfest-run.jpg",
     alt: "Oktoberfest Meiler Vier Running Columbus Run Crew Shirt 2017"} %>

The loop was mainly on backroads of the Ohio Expo Center which I thought was ok.
Running through the festival was fun but when you got outside of that it was just you and the sun with little spectators.
There was also a section where you ran by farm animals which didn’t smell the greatest.

Loop 2 I was worried about given that you would be passing other runners.
All and all the race had spread out enough at this point that it wasn’t really an issue.
I tried to kick it up the last mile but now I was really overheating.

**Final Time** 29:29

My time was good enough to secure 3rd female!
I beat my goal but had to lay in the grass and down water for a while to recover.
I felt like I was going to throw up.
I spent way too long laying in the grass and at that point knew I probably pushed a little too hard with the heat.
None the less it was done!

<%= partial "partials/image.erb", locals: {
     src: "nicole-and-james.jpg",
     alt: "Oktoberfest Meiler Vier Me and James 2017"} %>

The race also came with a free beer and sausage.
I gave both to my boyfriend James who at that point I think was glad that he came.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BZXNH60FF29/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Why is it 90°F in late September??? Tomorrow&#39;s long run will be even more interesting... #bibchat #SKINSorNOTHING #RiseUp #bibravepro #oktoberfest @skinssportswear</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-09-22T23:58:18+00:00">Sep 22, 2017 at 4:58pm PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "oktoberfest-shirt-bib-medal.jpg",
     alt: "Oktoberfest Meiler Vier Shirt, Medal, and Bib 2017"} %>

I love this race shirt!
M3S Sports hit it out of the park with the [Emerald City race shirt](emerald-city-quarter-marathon.html) and now I had another unique shirt to add to my collection.
I was happy with the color as it was a darker orange.
Also the texture of the shirt was different which gave the shirt a subtle pattern too.

<%= partial "partials/image.erb", locals: {
     src: "back-of-medal.jpg",
     alt: "Oktoberfest Meiler Vier Back of Medal 2017"} %>

And of course, you couldn’t have a Oktoberfest race without adding a bottle opener to the back of the medal!
