---
title: "My Dog’s First Half Marathon - Brokeman’s Central Ohio Race Report"
tags: half marathon, race report, dog
race: {
  location: "Smith Farms, Columbus Ohio",
  date: "Sunday, October 1st, 2017",
  distances: "Half Marathon, 10 miles, 5 miles",
  participants: "190",
  url: "https://www.brokemans.com/",
  strava_url: "https://www.strava.com/activities/1211289218/embed/20f75d6d139df9bb973fcfbceafcfe28832df5a4"
}
---

Sometime on a cool day during the past summer my dog rocked an 11 mile run with my boyfriend.
He told me and I was shocked, especially after hearing how quickly she bounced back after running it.
It was at this point when I realized that my dog *could* finish a half marathon if the conditions were right.

I have friends who have ran half marathons with their dog and heard stories of dogs even [joining in to half marathon distances](https://www.runnersworld.com/running-with-dogs/hound-bandits-half-marathon-in-alabama).
I have another friend who’s dog runs ultramarathon distances.
I just never though it’d be MY dog running a half marathon.

Viira is a 3 year old Belgian malinois that are generally speaking very high energy, high strung dogs.
I was looking for a dog in Arizona to run with me.
Except I wanted a full grown dog who would be ready to start running from Day 1.
But sometimes the dog picks you and I ended up with a puppy instead.

I thought I was setting myself up for success with a high energy breed but quickly learned that although she liked exercise she liked cuddling and generally being a Velcro dog much more.

We would run 0.5 miles up to 1.5 miles.
By the time we moved to Ohio over a year later I realized that my dog was unstoppable in the colder weather.
Suddenly out of nowhere our runs were regularly between 3 and 5 and we even hit 8 miles on a cool night.
After the 8 mile run I was tired.
We arrived home and much to my surprise Viira was zooming in circles around the couch.
“You’ve got to be kidding me. This dog is nuts.”
That was in the fall of 2015.

Fast forward to the summer 2016 and we were back to running 1-3 miles due to the heat.
No problem, I’d just run with Viira until she wanted to head home and then either bike on my stationary bike or return outdoors by myself to add on some extra miles.

I’ve never been too worried about pushing her past her limit.
She is quite the drama queen and will lay on the ground when she doesn’t want to go on and only get up if we are heading back home.
Sometimes this even means we are walking home.
I consider all runs/walks with my dog as her choice so we slow down when she wants and take sniff breaks when she wants too.
In the summer I plan our routes to pass multiple water sources so she has plenty of opportunities to cool down, drink, and just generally take a short break.

Then in this past summer 2017 we were regularly cranking out 5 milers.
I was confused considering how big of a jump it was from the previous year.
On the random day when she hit 11 I started looking for fall half marathons that were dog friendly.

I knew someone who had previously done the Brokeman’s Central Ohio race with her dog and for the price it seemed like the best option.
The course was along the Alum Creek multi-use trail (meaning it had water she could stop to cool off in if needed) and there’d be plenty of water stops.
In early October I expected it to be a decent temperature.

Leading up to the race I was getting increasingly worried as the weather had been unseasonably hot weekend after weekend.
If the weather was going to be 70+ I was not going to be bringing Viira.
Luckily, last minute the weather called for a break in the heat with a high only in the 60s for that day.
With the 8am start that meant that most of the run would be in the upper 40s to low to mid 50s for our run.
It was back on! Viira was ready to run!

This was my dogs first official race.
We started at the very back of the 2nd wave to stay out of other runners way and make sure that Viira started slow.
I didn’t want her to burn out part way through the run so we were running at a slower pace than she was used to.
My tentative goal for her was between 2:10-2:15 but that was very flexible depending on how she was doing.
I knew that even if we walked the last couple miles we had plenty of time.

Armed with tons of dog bags, dog treats, and a collapsible cup we were off.
It took my dog a few miles to realize that we didn’t need to pass every single runner but eventually she relaxed into a normal pace.

The water stops were mostly unmanned jugs.
We were spending more time at the water stops than other runners by trying to give Viira multiple opportunities to drink before we kept going.
Because of this we were going back and forth with other runners who would pass us at a water stop, then we would pass them again, and then they would pass us at the following water stop.

The multi-use trail was very nice and not very crowded even with the large race going on.
When we made it to mile 5 Viira was still looking fresh but I was thinking that 8 was a long way to go.
The course was a loop to start followed by an out and back stretch and we were now a few miles from the turnaround point.
Other runners/spectators were asking if Viira was running the half distance.
She was uninterested in most of the other runners unless we were about to pass them.
So apparently my dog is competitive.

We hit the turnaround point and we are still having to occasionally remind Viira to “heel” and not pull at the leash.
Around mile 10 we stopped again at a water stop but for the first time in the race Viira didn’t want any water. I tried offering it to her a few times before giving up knowing there was another water stop in about 1.5 miles.

In between this water stop we passed an older women.
We said “good job!” as we passed similar to what we had been doing all day.
She replied commenting on how sorry she felt for our dog that we were forcing her to run this.
SERIOUSLY?!
I wanted to stop and chew her out and lecture her on why I was a good dog owner and explain all of Viira’s training that has led up to this or how I wasn’t going to even bring her if the weather had been hotter.
Or explain what Viira is like when she has gone several days *without* a run.
Trust me, no one wants to see or deal with that.
But this run was about Viira and I knew that she didn’t want to stop so I just ignored it and kept moved.

When we were approaching mile 12 the sun was getting a little warmer and Viira was not longer trying to pull. I knew there was a big water opening about a half mile from the finish.
We were on pace to beat 2:10 but I figured Viira would have more fun if we stopped for a dip in the water.
Viira got soaking wet and looked happier than ever.
We leisurely made our way to the finish from there.

**Final Time:** 2:11:43.9

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BZtaiZxFVYi/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Easy run for me today after 10 miles at 7:51 pace yesterday. Today: Viira (the dog&#39;s) 🐕 first half marathon! 🏃 Two long years of training and she did awesome! We even ran negative splits. Final time of 2:11 #dogintraining #runnerdog #dogontherun @skinssportswear #SKINSorNOTHING #skinscompression</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-10-01T14:58:49+00:00">Oct 1, 2017 at 7:58am PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

Overall I was impressed with how awesome Viira did and how long her energy lasted.
At the finish someone asked if a marathon was up next for her.
I said that up until a few months ago I never thought that she would run a half marathon so I wasn’t expecting it but not necessarily discounting it either.

...

Fast forward several hours in the day...

Guess who was barking and jumping all around the house...

Ok, so maybe I held my dog back a little too much in terms of pace.
The amount of energy she had later in the day made me think that next time she could easily pull off a better time.


###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "viira-with-brokemans-gear.jpg",
     alt: "Viira and bibs and Medals from Brokeman's Running Company Central Ohio Race Half Marathon, 10 Miler, and 5 miler 2017"} %>

Brokeman's is a low-frill race. This justifies the low cost.
Usually there are extras availabl for purchase like shirts or other goodies.
But if you're like me and already have plenty of race gear passing is an easy option.

###Related Posts <br/>
[My Dog’s Running/Training Schedule](dog-running-schedule.html)
