---
title: "Lacle Waterproof Hooded Jacket Product Review"
tags: product review, clothing, jacket
top_img: "IMG_20170408_131846-2.jpg"
---

<a href="https://www.tomoson.com?code=TOPc9a0c886dfe5cb4ef3ab1024ba0e92dd" rel="nofollow" style="display: none;"></a>

*Disclaimer: I recieved this product for a discount in exchange for my honest review. All opinions presented are my own.*

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170408_124321-2.jpg",
    alt: "Lacle Women's Jacket Front"} %>

This is a cheaply priced ($29.99) winter waterproof jacket from China.
As such, the sizing runs 2 sizes too small.
I typically wear a U.S. women's size 0-2 and ordered a medium in this jacket.
I ordered an XL for my boyfriend who typically wears a men's medium to large in tops.
The XL was laughably small for him. He would have needed at least an XXL in this jacket.

Other than the sizing this jacket was well constructed and of nice material.
The jacket has 3 zip pockets and a fleece lining.
The hood is also removable by zipper.

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170408_124131-2.jpg",
    alt: "Lacle Women's Jacket Back"} %>

I tested the jacket by running it under the faucet in my bathroom sink and found that lived up to its waterproof label.
It blocked wind pretty well also.
The waterproof and fleece lining combination makes this jacket a perfect weight for fall to late fall or early spring.
It could also be used for winter running as a thick top layer, but I found the sleeves to be a bit short when compared to other winter running gear.

###Women's vs. Men's Jackets

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170408_131846-2.jpg",
    alt: "Men's and Women's Jacket Front"} %>

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170408_131904.jpg",
    alt: "Men's and Women's Jacket Back"} %>

[Link to Women's Jacket](https://www.amazon.com/gp/product/B01N9ZK2BP/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01N9ZK2BP&linkId=ebaedd3e958f5e58037759182c46520f)

[Link to Men's Jacket](https://www.amazon.com/gp/product/B01MD1YKFR/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01MD1YKFR&linkId=ebaedd3e958f5e58037759182c46520f)

<a href="https://www.tomoson.com?code=BOTTOMc9a0c886dfe5cb4ef3ab1024ba0e92dd" rel="nofollow" style="display: none;"></a>
