---
title: "Race Alert! Honor Run Half Marathon"
tags: race, race discount, half marathon, moderate race
top_img: "honorruntopimage.png"
keywords: "honor run half marathon discount code, honor run half discount, honor run half coupon code"
race: {
  location: "Florence, Kentucky",
  date: "Sunday, November 12, 2017",
  distances: "Half Marathon, 5k, Kids Run, 2-Person Relay",
  url: "http://www.honorrunhalf.com/"
}
---

*Disclaimer: I received a free entry into the Honor Run Half Marathon as part of being a BibRave Pro. Learn more about becoming a [BibRave Pro](https://www.bibrave.com/bibravepro) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review, find, and write race reviews!*

I just signed up for my first race as a [BibRave Pro](https://www.bibrave.com/bibravepro)!
The race starts and finishes under the Florence Y’All water tower at Florence Mall.
All race proceeds benefit two great causes.
The first is Honor Flight Tri-State which helps send local veterans who have served our nation in World War II, Korea, and Vietnam to Washington DC to visit their memorials.
Second is Habitat For Humanity of Cincinnati that helps support local veteran home repair.
So it's for a great cause.

*Use code **"BIBRAVE10"** and recieve $10 off your registration fee!*

Also, each person that registers between now and May 12th for any Honor Run Half Marathon event will be registered to win a free guardian trip on a 2018 Honor Flight.

In addition, you get a shirt, a pretty awesome medal, and post race food and drinks.
See below!
Everyone gets the same medal regardless of distance.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BOpxLiJBlXY/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Just in time for registration to open on Sunday we are excited to announce our 2017 medal designs!  We have decided to highlight the different memorials that are visited during the Honor Flight trip.  Highlighted in 2017 will be the Marine Corps memorial!  The medals are the same size and weight that you have come to expect from us.  As in years past all finishers, regardless of the event will receive this medal!  We are excited about the new design and hope you are as well!  Don&#39;t forget registration opens up at the stroke of midnight into Sunday.  Don&#39;t miss out on the lowest prices of the year.</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Honor Run Half Marathon (@honorrunhalfmarathon) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-12-30T19:14:22+00:00">Dec 30, 2016 at 11:14am PST</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

The race has free parking and that's always huge for me, especially when I'm traveling to a race by myself.

Here's the course map for the half marathon:

<%= partial "partials/image.erb", locals: {
    src: "honorrunhalfcoursemap.png",
    alt: "Honor Run Half Marathon Course Map 2017"} %>
