---
title: "Migraine Stick Product Review"
tags: migraines, product review
top_img: "migrainestick.jpg"
---

<a href="https://www.tomoson.com?code=TOP5bfb322b980e3822042ef5a3b2fa2ffd" rel="nofollow" style="display: none;"></a>

*Disclaimer: I recieved this product for free in exchange for my honest review. All opinions presented are my own.*

[Product Website](http://www.migrainestick.com/)

I have suffered from migraines since I was in high school.
Typical backstory about trying anything and everything I could get my hands on hoping to find a cure.
I happened across this product and was sceptical but thought it was worth a shot.

<%= partial "partials/image.erb", locals: {
    src: "migrainestick.jpg",
    alt: "Migraine Stick"} %>

No pill, just rolling something across your forehead?
I remember annoying commercials in the past about a product called Head-On.
I never tried it since their commercials essentially gave me a migraine - ironically, the very thing they were advertising to cure.
HEAD ON APPLY DIRECTLY TO THE FOREHEAD.
HEAD ON APPLY DIRECTLY TO THE FOREHEAD.
HEAD ON APPLY DIRECTLY TO THE FOREHEAD.
I will never understand why you wouldn't want a calm, soothing commercial for migraine sufferers.

When the product arrived I was even more sceptical.
I thought it was going to contain medicine of some sort.
Nope.
The ingredients are very simple: peppermint, spearmint, lavender and coconut oils.

<%= partial "partials/image.erb", locals: {
    src: "migrainestickingredients.jpg",
    alt: "Migraine Stick Ingredients"} %>

I used this product on my forehead several times for testing purposes when I didn't have a migraine.
The product has a strong smell, and while calming, it may not be the best for uses when you are sensitive to smells because of your migraine.
The product itself essentially feels like Icy Hot for the forehead.

Several days passed after recieving the product and I finally got a migraine.
I rolled the product onto my forehead.
The icy-hot sensation felt stronger than when I had previously tested it.
I'm not sure if that was some sort of placebo effect or if I was more sensative from the migraine.
I did not take any other medication and I found that the product worked surprisingly well.
I reapplied it 2 or 3 times when the feeling wore off before the migraine went away.

Overall, I found that this product exceeded my expectations.
I have tried medication that has worked less or not at all.
This product was all natural and likely better for you than some medication alternatives.
In the future I think I will continue to use this product before taking medication due to this product having no adverse side effects.

[Product Website](http://www.migrainestick.com/)

<a href="https://www.tomoson.com?code=BOTTOM5bfb322b980e3822042ef5a3b2fa2ffd" rel="nofollow" style="display: none;"></a>
