---
title: "Brokebabes Marathon Distance Challenge Race Report"
tags: race, marathon, trail running
race: {
  location: "Deer Creek State Park, Mt. Sterling, Ohio",
  date: "April 30th, 2017",
  distances: "Marathon, Half Marathon, 10k, 5k",
  participants: "~35",
  url: "http://www.brokemans.com/",
}
---

This was a women's only race held on Mother's Day.
My mom was out of town and as such I had the day to myself.

Alright, so I have to start out this post with a few negatives.
I was really dreading this race.
There had been multiple venue changes (3 total I think), and the race was finally changed to trail.
While I typically run a lot of trail, I was hoping to get a marathon PR this spring so I was setting my schedule up with a few options.
I was bummed out when this race went to trail for that reason.

Also, once the course was finalized the course was a 1.8 mile loop.
That meant I had to run 14.5 loops for the full marathon distance.
I did run a [1 mile loop marathon in February](/blog/warm-up-columbus-race-report.html), but the short loops are pretty tough.

The morning of I considered not going.
The race fell on a holiday and I was having lingering aches in the arch of my right foot.
I convinced myself to go because I did pay for the race (a very reasonable price of $35).

I figured I'd just show up and run until I didn't want to anymore.
I was only about 70% confident that I would finish the full distance.
BUT (spoiler), I ended up having a great time, despite all of pre-race hiccups and foot pain.

The race was low frills and low cost.
Since it was low cost there was no cups and you were supposed to bring your own bottle/pack.
When I got there I realized that I forgot my reusable cup.
Thinking on my feet I realized my small waste pack had a ziplock bag that I kept emergency Tylenol in.
I emptied it out and used it for my water "cup" for the day.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BUFbfKxg5Xo/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Today was the first annual #brokebabesmarathon. All these women (and more not pictured) joined up for some grueling trail miles to celebrate Mothers Day out in the woods. These are true #forcesofnature . #forceofnature</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Brokeman&#39;s Running Co. (@brokemansrunning) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-05-14T19:40:31+00:00">May 14, 2017 at 12:40pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

 The half and full marathoners started at 7:00 AM.
 The race director mentioned that 30-40 runners signed up for the full and half.
 Everyone looked around.
 There was maybe 20 people there.

 The course explanation was a bit confusing.
 Something like "Run to the fork, go right, take the out and back, go through tall grass, turn around, continue on the loop, go through the add on, re-enter the loop, come back to the start, complete the small loop and finish at the aid station."
 All 5 minutes before the race.
 I thought the course was just a simple out and back.
 For such a short loop, the course contained so many details to remember!
 No one wanted to start near the front.
 I ended up close to it but definitely didn't want to take lead.

 As a pack we tried to remember the course details and make sure we were going the right way.
 On a short out and back section we ran past a structure through the tall grass.
 "Were we supposed to run to the tall grass or through it?"
 Another runner pointed out a metal structure in the middle of the tall grass and said, "I think this is the turn around point!"
 As we started to go through the tall grass we all agreed this seemed wrong.
 It must have been *to* the tall grass.

 We kept going until we hit another obstacle.
 There was a fork and I followed the runners in front of me.

 This took us back to the start but my watch was a quarter mile off.
 I stated that I think we messed up and were supposed to go right at the fork.
 I made sure to make up this portion later on in the race by running the small quarter mile loop twice.

 Our group broke up over time and then there was 3 of us, 1 running the half and then another runner doing the full.
 We locked in pace and passed some miles.
 It was great running with others to break up the monotony of the short loops.

 After 6 or 7 miles the other marathon runner I was running with asked me what my marathon PR was.
 I was feeling out of breath keeping up with her at this point.
 I mentioned it was 3:56.
 Following this, I asked what her PR was. 3:30-something.
 Damn.
 This was a bad idea.
 I was going to burn out on this course if I tried to keep up with her.

 I started debating on when I would drop back.
 My mind knew the right answer, now.
 But my heart wanted to push.
 I was tied for first.

 After loop 7 or so, we broke apart and were going back and forth with who was ahead.
 When she was ahead of me I tried to keep her in my sight.
 When I was ahead I slowed the pace, trying to bring down my heart rate.

 Around mile 15 I stubbed my toe HARD on a small pointy root that was hidden under the tall grass on the trail.
 It hurt bad.
 The small root managed its way between my big and second toe.
 I knew that I was going to have a blister and bruise at the minimum, and maybe lose my toenail on my second toe too.

 The last 5 loops felt LONG.
 Maybe because I was running alone, or the scenery was getting stale, or it was heating up and I was slowing down.
 I was dreading having to complete that last 1/2 loop.

 My stomach was feeling twisted with a few miles left.
 I switched to water and stopped taking gels.
 Considering the heat and all the energy I was losing, this was likely a bad choice.
 While walking in the final 0.5 lap I must have looked bad; the girl I was running with stopped me and shared her water and fruit snacks.

 I staggered into the finish thankful to be done.
 Despite not realizing it, I finished first!
 The small course made it difficult to keep track, runners seemed to be passing me throughout the race.
 It may have been a small race, but as my first marathon trail race win I was estatic!

 **Final Time:** 5:07

<%= partial "partials/image.erb", locals: {
     src: "brokebabes-marathon-finishers.jpg",
     alt: "Brokebabes Marathon Finished Picture with Medal" } %>

###Collections

 Like I said this race was low frills.
 I got a medal and a nice SMALL bib (Other races take note! The small bib was great and actually fit on my shorts!)
 You could buy inexpensive shirts and other apparel.
 Getting first place also netted me a very cool medal rack, but I decided to leave it for someone else as my medals already have an organizer (hence no picture).

<%= partial "partials/image.erb", locals: {
     src: "brokebabes-marathon-bib-medal.jpg",
     alt: "Brokebabes Marathon Medal and Bib" } %>
