---
title: "Canal Corridor 100 Injury, Steroids, and Aftermath"
tags: "injury, 100"
---

The day after my [100 miler](canal-corridor-100.html) I’m back to work.
No rest for the weary.
Started running Saturday at 5am, finished 27 hours later on Sunday, drove home and went into work the next day.

I expected lots of limping and slow walking so I made sure to add extra time into my morning routine and walk from the parking garage to get to work.

The first day was terrible.
My left foot was so swollen for reasons unknown even though my right foot/leg was the one I had trouble with during the race.
Odd.
Luckily I wore pants to work and discretely elevated my leg all day.
That didn’t seem to help the swelling much.

The week went on and my swelling, aches and pains were disappearing.
Well, except for one spot.
The back of my right knee/upper calf still hurt.
It felt the best in the mornings as I slept with my legs elevated and gradually got worse throughout the day.
When I got home from work after sitting all day was when the pain was the worst.

Friday rolled around and it was already hurting by 9am.
That’s when I realized that it wasn’t getting better, quite the opposite.

I tried to get in with my typical sports medicine doctor (who’s also an ultrarunner!) but I couldn’t get an appointment until the following Monday.
I felt like the pain was bad enough that I didn’t want to wait it out through the weekend.
I thought that I was going to have to go to urgent care after I got out of work.

I sent a Hail Mary text to my mom at lunch asking if she had any available appointments at her Family Physician Practice.
I knew that this was a long shot and wasn’t expecting anything.
By some miracle she could get me in that afternoon.
I didn’t even have to take time off work.

###The Diagnosis

One thing about having a doctor for a mom is that I don’t get much sympathy for my self-imposed injuries.
I walked into her office and everyone already knew that I had ran “literally 100 miles.”
They starred at my limp and I struggled to explain how I voluntarily ended up like this.

“I swear it wasn’t this bad while I was running” and “I just thought it was typical soreness” were met with silence and confusion.

**I explained my symptoms:**
It all started at mile 30 when I had some pain in the back of my knee.
It came and went and I just attributed it to the stretches of blacktop in the race.
Until a little after mile 40 when a sharp pain radiated down from my knee to my upper calf.
Instead of thinking the two pains were related I assumed this was a new pain that would come and go.
Typical ultra stuff right?

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:56.43518518518519% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BWgTmvAFdia/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Rest, ice, compress, and elevation. Now if I could only find a knee compression sleeve that actually works. Left foot swelling is going down but still lots of pain in my right knee. Everything seems to feel worse at night after sitting/standing all day. #recovery #RICE #100mileaftermath</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-07-13T23:13:56+00:00">Jul 13, 2017 at 4:13pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

I explained how it felt the best in the morning after sleeping with my [triangle wedge pillow]( https://www.amazon.com/gp/product/B009HHLBKK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B009HHLBKK&linkId=51cc089424f4338abd4ac776a375f6cb) that I use to elevate my legs.
The pain gradually worsened during the day until I could return home and go back to elevating my legs for the rest of the night.
Ice was no help, or at least that's how it felt.
I could bend my knee less and less as the day went on.
Also that the pain was getting worse, not better with time.

> It was a quick diagnosis of bursitis in both knees and a burst Baker’s cyst in the back of my right knee.

After running through my symptoms I had a check up on my knees and calves.
It was a quick diagnosis of bursitis in both knees and a burst Baker’s cyst in the back of my right knee.
Basically the fluid build-up is from overuse.
However, the fluid sac (Baker’s cyst) actually bursting is what caused the pain in my upper calf.
And then I ran on that for 60 more miles.
So needless to say my right leg was not in great shape.

<%= partial "partials/image.erb", locals: {
     src: "steriod-medicine.jpg",
     alt: "Post Canal Corridor 100 Steroid Medicine 2017"} %>

I got put on an 6-day prescription of Methylprednisolone steroid that cost about $7 from my local Walmart.
For the first few days I felt overly sweaty and had to turn my house into an icehouse just to feel comfortable.
1.5 weeks after starting the steroids I’m starting to feel better and am ready to ease myself back into running.
