---
title: "Dawg Gone Long Run 50k Race Report and Cat Adoption"
tags: race, ultramarathon, ohio, cat, pet
top_img: "dawg-gone-long-run-buff-bib-medal.jpg"
race: {
  location: "Caesar Creek State Park, Waynesville, Ohio",
  date: "Saturday, June 24th, 2017",
  distances: "50k, 50 mile",
  participants: "100",
  url: "http://orrrc.org/?tribe_events=dawg-gone-long-run-50k50-miler",
  strava_url: "https://www.strava.com/activities/1052176511/embed/ef1ad98d3b160d6a25e2f7a8989ff2dbcba618a7"
}
---

###The Sign-Up

Two weeks after Dawg Gone Long Run I was signed up to run Canal Corridor 100.
Canal Corridor was going to be my [second](/blog/processing-a-dnf.html) 100 miler attempt, but hopefully my first 100 miler finish.
Racing a 50/50k so close to my 100 seemed...risky.
But the [FOMO](https://en.wikipedia.org/wiki/Fear_of_missing_out) when I thought of skipping was severe.

Only a few days prior to Dawg Gone Long Run I saw a post on Facebook.

"There are 4 spots available for race day registration ($50) at Dawg Gone Long 50 miles. If you are interested, message me!"

Oh no...
And I knew the race was going to have vegan pizza at the finish.
Lactose intolerance makes that a huge draw.

I started to ponder.
No big plans for the weekend.
If I ran the 50k slowly, perhaps the last minute heat training could help out for the 100.
Emphasis on slow.
Even when close to the finish!
I signed up.

##Race

Race morning I was up early to make it to the start 1.5hrs away.
Both the 50 mile and 50k started at 6:30am.
The 50 milers ran 3 loops and those running the 50k completed 2.

After registering and getting my packet I hung around the start area and noticed a cat.
At first I assumed it was someone else's cat but slowly realized no one else was watching it.
I went to say hi and realized the thing was skin and bones.
Definitely not someone's pet.
I got my phone out and sent pictures to my boyfriend [James](http://jarlowrey.com/about.html) asking if it was still there when I finished running if we could look after it.

After spending some time with the cat I moved closer to the start line where I noticed some other runners that I knew.
I talked to Paul, who traveled all the way from Pennsylvania for this race.
He and I ran together at University of Arizona, but at the time I was far from doing any ultras.
Later in the day Paul would go on to win the 50k.

###Loop 1

At the start line I hung towards the back sticking to my slow and steady plan for the day.
Although it had rained almost two days straight leading up to the race, the course was surprisingly dry.
The patches of mud were rare considering, but I knew the mud would be worse the second loop after the pounding of all the runners.

Even with the eventual mud, the course felt surprisingly fast compared to last year's tornado aftermath.
Last year a tornado had gone through the park only a few days prior to the race, meaning that there wasn't enough time to adequately clear the trail.

The course had some rolling hills but nothing terrible.
The toughest part of this race was the heat and humidity.
Today the humidity lowered throughout the day - returning to normal after the several days of rain.

I finished my first loop right at three and a half hours.
I filled up at the aid station closely watching out of the corner of my eye to see if the cat was still hanging around.
Nope.

I left the aid station to start loop 2.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.5% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BV118yxFmCD/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Last long run before Canal Corridor 100 in 2 weeks. It&#39;s going to be a party (I&#39;m bringing the caffeine pills 💊) now time to check the weather religiously for the next 2 weeks #ultrarunning #100miletraining</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-06-27T11:26:41+00:00">Jun 27, 2017 at 4:26am PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

###Loop 2

Upon leaving the aid station I was thinking outloud.
"Maybe someone took the cat home already",
"Maybe the cat ran away and hid."

I thought about how that cat had spent 2 days in the rain.
It was probably sick or a bad hunter to be so skinny.
I was sad I didn't make James come to the race with me so we could've saved the poor thing.
I made a mental note to do that more often.

Then I went back to focusing on my run.
The temperatures were starting to heat up.
Luckily it was my last loop, but my thoughts drifted back to last year's [DGLR](/blog/dawg-gone-long-run-50-race-report.html) and the miserable heat.

This year I was running with no blisters!
Last year I finished with blood blisters forming between all of my toes because I hadn't found my perfect trail shoes yet.
Sizing up on my [Altra Superiors](https://www.amazon.com/gp/product/B01HNJT6QY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01HNJT6QY&linkId=3a3b74411c3e7cb281783f817ec0240d) were the answer.

I finished loop two a bit slower at almost 4 hours.

**Final Time:** 7:26:00

Upon finishing, to my suprise, I saw the cat!

<%= partial "partials/image.erb", locals: {
     src: "dawg-gone-long-run-cat-1.jpg",
     alt: "Picture of the Maascot for Dawg Gone Long Run 2017 - Rescue Cat"} %>

I checked to see if James had agreed to shelter it before offering to take the cat home.
Volunteers had been feeding it bacon and pizza all day so the cat had hung around.
A volunteer even offered to help me pay for the cat's vet bills!
Seriously, I don't think you could have found nicer volunteers for this race.

<%= partial "partials/image.erb", locals: {
     src: "dawg-gone-long-run-rescue-cat.jpg",
     alt: "Picture of Me after finishing Dawg Gone Long Run 2017 with my newly rescued Cat"} %>

We made a makeshift box to put the cat in for the long drive home.
Best race finisher's award ever!

###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "dawg-gone-long-run-buff-bib-medal.jpg",
     alt: "Dawg Gone Long Run 2017 Buff, Bib, and Medal"} %>

[Read the Race Report from 2016 Here](/blog/dawg-gone-long-run-50-race-report.html)
