---
title: "Vegan Options at Olive Garden"
tags: vegan, italian, food
---

There I was trying to figure out what to eat after the Detroit Free Press Marathon.
My body had been screaming for calories for the past 24 hours.
And of course I was in a small town so I had to do a bit of digging to find vegan options for dinner.

Olive Garden ended up being right next to my hotel.
They also had an online ordering platform for carry out orders.
I'm all for convenience so it was an easy sell.

I found that Olive Garden actually has an entire page on their website pointing out [vegetarian and vegan menu options](http://www.olivegarden.com/nutrition/vegetarian-and-vegan-options).
(Other restaurants should take note!)
This made ordering so much easier.

The [PDF menu guide](https://media.olivegarden.com/images/site/ext/pdfs/olive-garden-veg-vegan_073117.pdf) clearly defines all potential options.

The biggest downfall of Olive Garden was unfortunately their online ordering system for me.
There were no options to modify menu options.
For example: there is a make your own pasta option.
Here you can select a vegan pasta and sauce, however, the only toppings available are meat.
You can't substitute veggies for the meat options.
To me this was a big bummer.
So I ordered no pasta.

Also I thought about ordering a salad, but there was no way to request no croutons or salad dressing through the online form.
These two items are what makes the salad vegetarian as opposed to vegan.
The only options online to modify the salad was to remove vegetable toppings.
So I didn't order any salad either.

I ended up with the minestrone soup and breadsticks. (Yes, the breadsticks are vegan!)

<blockquote class="twitter-tweet" data-lang="en">
  <p lang="en" dir="ltr">Alright not working out so the obvious decision was to get <a href="https://twitter.com/olivegarden?ref_src=twsrc%5Etfw">@olivegarden</a>
    <a href="https://twitter.com/hashtag/veganmeals?src=hash&amp;ref_src=twsrc%5Etfw">#veganmeals</a>
    <a href="https://twitter.com/hashtag/vegan?src=hash&amp;ref_src=twsrc%5Etfw">#vegan</a>
    <a href="https://twitter.com/hashtag/postmarathon?src=hash&amp;ref_src=twsrc%5Etfw">#postmarathon</a>
    <a href="https://t.co/Fx9fbon5T9">pic.twitter.com/Fx9fbon5T9</a>
  </p>&mdash; Nicole (@bonktothefinish) <a href="https://twitter.com/bonktothefinish/status/920068362591449090?ref_src=twsrc%5Etfw">October 16, 2017</a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8">
</script>

Calling to place your order or simply dining in likely would have resulted in a better customer experience than going through the online ordering system.
