---
title: "Race Alert! Detriot Free Press/Chemical Bank Marathon"
tags: race, race discount, marathon, long race, bibrave, bibrave pro, race alert
top_img: "detriotcoverphoto1.jpg"
keywords: "detriot marathon discount code, detriot marathon coupon code, free press marathon discount, free press marathon coupon code"
race: {
  location: "Detriot, Michigan",
  date: "Sunday, October 15, 2017",
  distances: "Marathon, Marathon Relay, Half Marathon, 5k, Kids Run",
  url: "http://freepmarathon.com/"
}
---

*Disclaimer: I received a free entry into the Detriot Free Press as part of being a BibRave Pro. Learn more about becoming a [BibRave Pro](https://www.bibrave.com/bibravepro) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*

I have wanted to do the Detriot Marathon for several years now.
I finally moved back to the Midwest but found that the Detriot Marathon was on the same day as the Columbus Marathon every year.
Although I love Columbus, I figure it's finally time to check out Detriot!

*Use code **"DETROITBRP17"** and recieve 10% off your registration fee!*

The draw of the marathon to me is that you get to cross over into Canada entering on Ambassador Bridge and exiting on Detroit-Windsor Tunnel.
There is an additional bridge crossing aroung mile 19 where you add a few miles on Belle Isle.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.31481481481481% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BM7UNv3jZ1l/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Oh look, one of our favorite bridges to run on. #freepmarathon ❤️🏃‍♀️🏃#Repost @motorcityshooters ・・・ Congratulations to:  @camera_jesus --------------------------------------- Please visit their feed and show some Motor City love. --------------------------------------- Thank you for following and using the hashtag #motorcityshooters ! --------------------------------------- Selected By @misszee25 --------------------------------------- Family : @kapturekid | @detroit_chiver | @krystins_world | @misszee25 --------------------------------------- Community : @RawDetroit #RawDetroit @GramSlayers #GramSlayers --------------------------------------- #Detroit #puremichigan #illgrammers #fatalframes #moodygrams #igersdetroit  #agameoftones #DepictTheD #way2ill #createcommune #theimaged #heatercentral #all2epic #ARTOFVISUALS #aov #createcommune #fatalframes #justgoshoot #meistershots #gearednomad #shotzdelight #heatercentral #vzcomood #grittyside #exklusive_shot</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Detroit Free Press Marathon (@freepmarathon) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-11-17T21:44:48+00:00">Nov 17, 2016 at 1:44pm PST</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

I worked for General Motors in Detriot so I'm exited to head back!

Here's the course map for the marathon:

<%= partial "partials/image.erb", locals: {
    src: "Marathon-Course-Map.jpg",
    alt: "Detriot Free Press / Chemical Bank Marathon Course Map 2017"} %>
