---
title: "2018 Balega Impi"
tags: "balega, gear, socks, running gear, ambassador, ambassadorship"
---

After almost a year of patiently waiting to see the Balega ambassador application open up it finally did in November! 
Then mid-January I got the news, I am officially a Balega Impi!

My story with Balega goes back to middle school.
My dad, who was a marathon runner bought me two pairs of Balega socks.
The were kind of plain, both were mostly white and one had some pink coloring around the heel while the other had light blue.

I didn't run much in high school but picked it back up in college.
My local Fleet Feet would run promotions where you would get a free pair of socks with a new shoes purchase.
That's how I got introduced to Balega's Hidden Comfort sock which to this day is still a favorite for me.
The Hidden Comfort socks provide so much cushion but are breathable enough that you don't feel like you are stuck with sweaty feet if you wear them in the summer.

Then another race [Rocks and Roots](rocks-and-roots-race-report-2.html) has introduced me to other styles of Balega socks.
I hadn't branched out much because the Hidden Comfort socks were already so great, but the Blister Resist socks became a favorite for longer distances for me where I am more blister prone.
I've also tried the Enduros and Ultralight.

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Picked up my AG award from <a href="https://twitter.com/TriStateRunning?ref_src=twsrc%5Etfw">@TriStateRunning</a> and <a href="https://twitter.com/HonorRunHalf?ref_src=twsrc%5Etfw">@HonorRunHalf</a> 👍 new <a href="https://twitter.com/balega?ref_src=twsrc%5Etfw">@balega</a>  socks ☑️ <a href="https://t.co/hw0eEZs1j8">pic.twitter.com/hw0eEZs1j8</a></p>&mdash; Nicole (@bonktothefinish) <a href="https://twitter.com/bonktothefinish/status/933060548647882753?ref_src=twsrc%5Etfw">November 21, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

I've tried other sock brands here and there but Balega is by far my top pick for running socks.
I'm so excited to have the opportunity to be an "Impi" for a brand I love!
More to come!