---
title: "Karma Duo Ring Set: For Setting Goals or Swapping out Your Wedding Ring on the Go"
tags: silicone, gear, product review, bibrave, bibrave pro
---

*Disclaimer:
I received a [Karma Duo Ring Set](https://karmarings.com/collections/womens-duo) to review as part of being a [BibRave Pro](https://www.bibrave.com/bibravepro).
Learn more about becoming a [BibRave Pro](https://bibravepro.tumblr.com/) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*

<%= partial "partials/image.erb", locals: {
    src: "karma-package.jpg",
    alt: "Karma Ring Co Duo Set Silicone Rings metal case"} %>

Within almost perfect timing, not long after getting engaged I realized I'd be taking my ring off regularly to run. 
Not to mention the horror stories I've heard about finger swelling during ultras when people forget to take off their rings!

<%= partial "partials/image.erb", locals: {
    src: "flowers-karma.jpg",
    alt: "Karma Ring Co Duo Set Silicone Rings matching Pink Flowers in West Seattle"} %>

This is where Karma Ring came into my life! 
With a plain white band that can be swapped out for 3 different colors, I was excited to be able to swap out my ring to match my running gear.
I picked out the white which came with 3 colors: lilac, light pink, and pink. Honestly I kind of wished I could have grabbed the green from the other duo set. But, if you ask me you can never have too many color options. I'd love to see Karma Ring Co. offer more Duo color sets in the future so I can customize my band even further.

<%= partial "partials/image.erb", locals: {
    src: "chicago-karma.jpg",
    alt: "Karma Ring Co Duo Set Silicone Rings in Chicago near River"} %>

But the Karma Rings don't have to be used for only a wedding band replacement! They are comfortable and I barely noticed that I was wearing it on my runs, so it's an easy way to add more style to your look. The website also defines [different symbolizism](https://karmarings.com/pages/style-guide) that their rings can have:

>**Left Hand** - The right hemisphere of the brain is associated with creativity and controls the left hand.  Therefore, rings worn on the left hand symbolize a focus on mindset, creativity, and personal philosophy.
>
>**Right Hand** - The left hemisphere of the brain is associated with logic and controls the right hand.  Therefore, rings worn on the right hand typically symbolize logical awareness and a desire to control one’s behavior and rationale.
>
>**Thumb (Will Power)** – The thumb is independent, while working in tandem with our other fingers to accomplish various tasks.  The thumb represents logic and will power, a symbol of controlling ones thoughts and actions. 
>
>**Index Finger (Authority and Ambition)** – Also known as the “Power Finger”, the index finger represents Authority, Power, Leadership, and Ambition.  Historically, Kings, Priests, and healers wore rings on the index finger because it was believed to be especially powerful. 
>
>**Middle Finger (Identity and Materialism)** – The middle finger, being the tallest, is associated with ones purpose in life.  As the center of the hand, it symbolizes personal identity and things most important to us. 
>
>**Ring Finger (Emotion, Creativity, and Heart)** – The ring finger connects to the artery that runs directly to our heart.  It symbolizes feelings of affection and love.  It is also characteristic of one’s creativity and artistic self.
>
>**Little Finger (Relationships)** – The little finger or “pinky” is associated with confidence in both personal and business relationships.  It is related to our attitudes towards other people, intimacy, and personal attitudes toward oneself.  The little finger faces the world, and watches our back as our friends do.

They kind of remind me of those silicone jelly bracelets that were popular back in my high school days.

Oh yeah, and did I mention it's made out of food-grade silicone? It withstood the test of me picking blackberries in my backyard, didn't stain, and was a breeze to clean. I tried and tried to stain the white outer layer with blackberry juice, dirt, mud, and sweat, but it's still white as new.

###Discount
Use code "BibRave33" for 33% off on [their website!](https://karmarings.com/)

<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BmcSkwUlqMv/?utm_source=ig_embed" data-instgrm-version="9" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BmcSkwUlqMv/?utm_source=ig_embed" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Nicole Huston (@bonktothefinish)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-08-14T02:10:16+00:00">Aug 13, 2018 at 7:10pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>