---
title: "Camping in Comfort on the Cheap"
tags: camping, gear, product review
published: true
---

<a href="https://www.tomoson.com?code=TOPdf116e25621d2690e8fcf50407031aff" rel="nofollow" style="display: none;"></a>

As I complete more ultramarathons and travel further and further to find new races, I decided to invest in some quality camping gear.
Buying great gear upfront pays off quick when hotels start near $100 per night.

Since I use this gear often I wanted quality gear, but without the name brand price.
I spent long days and nights reading reviews and searching to the edges of the internet to make sure I wasn't spending too little or too much.

Here's what I came up with:

###Tent

While some features may be optional this one is pretty necessary for camping.
I wanted a light tent that could also be used for backpacking.
I debated on a 3 or [4-season tent](https://www.amazon.com/gp/product/B00HS7FFT4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00HS7FFT4&linkId=98ed405d7cd8eb20b2638fdcd260bcd6) for a while.
Finally I decided it was more important to me to have a light tent than a 4-season tent.
Some reviews of this tent showed people using it in the winter, so while it won't hold up for a snow storm it will work fine for me.

I bought [this 3-person tent](https://www.amazon.com/gp/product/B00AU6CYSA/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00AU6CYSA&linkId=57acdacdcd2419c7d8935c67fef857f3) so I can squeeze myself, my dog, and boyfriend into it.
3 full grown adults would be a tight fit in this tent though.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:39.49074074074074% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BWQpSLDlxuR/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">I love my ⛺ #camping #alpsmountaineering</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-07-07T21:15:31+00:00">Jul 7, 2017 at 2:15pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

Recommended Add-On: [Floor Saver](https://www.amazon.com/gp/product/B003GXUYLS/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B003GXUYLS&linkId=ce13caa8e9daab38091d1a85bcf8cd4e) to protect the bottom of your tent.
Especially important if you are camping on rocks/roots/sticks.

###Sleeping Pad

I originally splurged and bought a [Therm-a-Rest EvoLite Regular](https://www.amazon.com/gp/product/B00PZKXB2Y/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00PZKXB2Y&linkId=acea382d7dd633df3e862490fd322989).
It had all the specs: self-inflating, super lightweight, and compact.

But it sucked.
It wasn't as thick or comfortable as expected, and provided little insulation against the ground.
Despite taking extra special care it quickly got a hole and defalted over night.

I decided self-inflating pads were too high maintainence for me and bought this [cheap foldable foam mat](https://www.amazon.com/gp/product/B01APD5880/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01APD5880&linkId=31606083f86a1975d371a88494dda17d).
It was more comfortable than the first sleeping pad and extremely durable.
So for now I'm sticking with it.

###Sleeping Bags

Right now I have two extremes:

1. A [sleeping bag liner](https://www.amazon.com/gp/product/B0026JLUYI/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0026JLUYI&linkId=04a2b567d915fcbc56498139be2b0263) that also works well by itself in the summertime.

2. A [0 degree sleeping bag](https://www.amazon.com/gp/product/B00G6HTG2E/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00G6HTG2E&linkId=6d70f1606d96ac088f6ea2c6d657044a).
P.S. I get cold easily, so I doubt this would actually keep me warm at 0 degrees.
The bag was also much larger than expected, definitely wouldn't classify this one as compact!


###Pillow

I recently found [this inflatable pillow by FavorGear](https://www.walmart.com/ip/Inflatable-Pillows-Camping-FavorGear-Compact-Travel-Pillow-Ultralight-Comfortable-Backpacking-Hiking-Airplane-Train-Car-Office/572841940).
The brand is new to me but it works great.
The pillow is comfortable andextremely compact: with the push of a button the air releases and it fits into a tiny carrying pouch.

<%= partial "partials/image.erb", locals: {
     url: "https://www.amazon.com/gp/product/B01N1P8WJ7/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01N1P8WJ7&linkId=bdbd289fdecb9f6a9300501591c2df15",
     src: "inflatable-pillow-favorgear.jpg",
     alt: "FavorGear XTACTICAL PRODUCTS,INC. Inflatable Pillow with dime for size"} %>

And that's it!

Am I missing anything?
Have you found a good value in camping gear?
Let me know!
I'll keep adding and testing new items as needed!

<a href="https://www.tomoson.com?code=BOTTOMdf116e25621d2690e8fcf50407031aff" rel="nofollow" style="display: none;"></a>
