---
title: "In Memory of Todd Werley: Pro Football Hall of Fame Marathon Race Report"
tags: race, marathon, road running
race: {
  location: "McKinley (Timken) High School Canton, Ohio",
  date: "April 30th, 2017",
  distances: "Marathon, Half Marathon, 5-Person Relay, 2-Person Relay",
  participants: "4479",
  url: "http://www.hofmarathon.com/",
  strava_url: "https://www.strava.com/activities/964897035/embed/19e50ae8145af6c25829debaaf6ef402a85a0e6b"
}
published: true
---

This was my second year running the [Pro Football Hall of Fame Marathon](/blog/pro-football-hall-of-fame-marathon-race-report.html).
Last year I was not thrilled with how the race turned out as I had constant nausea for the last ten miles.
I’m not still not sure how I got to that point, but I was ready for some redemption.

###In Memory of Todd Werley

I was expecting to run this race with a few friends, one of them being Todd Werley who ran a very similar pace as mine.
I met him earlier this year at [Run for Regis](/blog/run-for-regis-50k-race-report.html).

Todd was an amazingly great guy who made new close friends seemingly at every race he went to.
He ran with multiple running groups and had a particular passion for anything veteran and running related.
He ran for [22 Too Many]( https://www.22toomany.com/), [Wear Blue: To Remember]( http://www.wearblueruntoremember.org/), and [Team RWB](https://www.teamrwb.org/).
He was always planning his next big race and encouraging me to sign up too, because the more the merrier of course!

Sadly one week before the race he unexpectedly passed away.
I am heartbroken by his loss, and made the obvious decision to run in his honor.
This entailed wearing blue to remember, pinning his picture to my singlet, and keeping him in my thoughts as I ran.
The race was an emotional roller coaster for me: it was something larger than just going on a run.
The sheer number of runners who showed up on race day with his picture pinned to their bodies was shocking.
It was clear that he had touched numerous lives and I am so thankful to have known him.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:57.5462962962963% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BTcvarCl9J0/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Ready for Canton. In memory of Todd Werley. Always in our thoughts 🇺🇸🇺🇸🇺🇸🇺🇸 #wearblue #wearbluetoremember #22toomany</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-04-29T00:25:48+00:00">Apr 28, 2017 at 5:25pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

###Expo

I ran the [Legends 5k](/blog/legends-5k-race-report.html) on Saturday.
The finish and awards ceremony lined up perfectly with the start of the expo.
I was in and out fairly quickly.
The expo felt bigger than last year, however it was in a smaller location and less spread out so it was hard to determine exactly.

I snagged a signed poster by [Dick Beardsley](http://archive.boston.com/marathon/stories/2002/salazar_beardsley_82.html).
This will go right next to my signed [Deena Kastor](http://deenakastor.com/wp-content/uploads/2015/04/Deena_Kastor_Bio.pdf) poster in my office.

I also got a shirt from last year’s race for $3!

###Lodging

I stayed in La Quinta Inn in Canton.
The hotel did the job for a single night, however I wasn’t thrilled that our non-smoking room reeked of cigarette smoke.
The breakfast time was also very close to the start of the race. Breakfast started at 6am, but race start was at 7am.
The man at the counter did not mention anything about breakfast starting early even though we asked at check-in.
Race morning on the way out the door we saw several groups of runners enjoying the breakfast around 5:45.
So apparently they did open breakfast early…

##Parking

Last year I bought a preferred parking pass.
At this time last year I had only ran a handful of marathons, and I was very nervous.
Buying the preferred parking pass was one less thing to stress about race day morning instead of having to worry about a shuttle.
It also meant I could hide from the cold in the car until close to the start of the race.

This year I had a much more casual approach to this race.
I also hadn’t heard any major complaints regarding the shuttle service from the prior year which solidified my decision to pass on the preferred parking.

We left the hotel around 5:45.
I looked up the drive the night before and Google Maps said that it would take 11 minutes to get there.
I thought I was giving myself plenty of time to get to the race start.
That changed when three miles from the exit we encountered standstill traffic.
Wow.

I knew this race would be bigger than last year as the race held a short $26.20 special marathon pricing promotion in the summer of 2016.
Apparently I didn’t realize how large this race had grown over the year.
Also, due to construction around the Pro Football Hall of Fame, the course was rerouted this year and the start/finish was in a completely different area.
So here I was, me and hundreds of other runners who all incorrectly estimated race morning traffic.

I heard later that the prior year the parking area had several entrances to the lot, while this year there was only one entrance to the parking.

My dad and I sat in the car not moving while Google Maps ETA ticked upward by the minute. At this point we were realizing that if we didn’t get to the parking lot until after 6:30, by the time we got on a shuttle, it was likely that we’d be missing the official race start. This is why chip timing is so great right?!

The race website had stressed making sure you parked in a legal space if you were not using preferred parking or the shuttle lot.
As the race was on Sunday, churches would be towing runner cars and they warned that tickets may be issued.
As we creeped closer to the stoplight at the end of the exit ramp, more and more runners were seen running/walking towards the start instead of taking the shuttle.

Right after getting through the light, there was a gas station that we had stopped at the day before.
It was right next to a side street that had a few local cars parked on it.
I didn’t see any no parking signs on the street.
We debated for a while as we didn’t know exactly how far away from the start line we were.
While we would most likely make it to the start line on time if we parked there, we weren’t exactly sure if we were allowed to park there or how long the run to the start would be.
We took the risk.

###To the Race Start

My dad and I took the steady jog towards the race.
We followed other runners hoping that they knew how to get to the start as we had no idea.
We stopped at a McDonalds to use the bathroom before the start, thinking that we wouldn’t have time to wait in line at the start.
It ended up being about a mile jog to the start.
Not too bad!

As soon as we got to the start there was an announcement that the start had been delayed 15 minutes.
Although this meant the race would be hotter, this was the right call considering there was a long line behind us that still needed to park.

The downside to all the race morning parking issues was that I missed meeting up with several friends during the race.
I was supposed to meet up with some other [BibRave Pros](https://www.bibrave.com/bibravepro) and the Team Riot running group from Cleveland.
Luckily I did run into the BibRave Pros by chance!

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170430_124130-2.jpg",
    alt: "BibRave Pros at Pro Football HoF Marathon" } %>

###Race

I lined up near the 3:55 pacer.
My thoughts about the beginning few miles were not necessarily positive, as it felt like I was weaving in and out of runners trying to hold my pace.
There were many runners running much slower than a 9 minute pace, and I even passed walkers.
This race had pace groups!
I found it frustrating that runners had to run in a row, especially when their pace was so much slower than what everyone around them was trying to run.

After the first few miles the crowd thinned out and pace groups had stabilized.
I noticed that my pacer was killing the uphills seemingly speeding up to a pace faster than the 8:58 pace he was supposed to be holding.
I was holding an even pace and watched my pacer gain ground, only to drop back up to me.
At about mile 9 it was heating up.
I changed my watch to the heart rate screen and let the pacer slip away.
I realized that the pace I was running was not going to be maintainable for the rest of the race.

The course was designed to run to the 13 mile point, only to turn around and basically follow the course backwards.
Originally I wasn’t sure how I would like this layout, but found that with essentially the large out and back you got to see so many runners running towards you.
I find out and back segments extremely motivating.
Often when a runner passes me, I just assume that they are feeling great.
When you get to see runners running towards you, you realize that everyone else is struggling too, and it makes me feel like I’m feeling exactly how I should be feeling.
Not to mention I got to cheer on other Wear Blue runners as I noticed our matching singlets!

I hit mile 17.
During 50ks I always celebrate when I have single digit miles left so I held on to this feeling.

<%= partial "partials/image.erb", locals: {
    src: "t_1_IMG_5237.jpg",
    alt: "Pro Football HoF Official Race Picture" } %>

At mile 18 I feel apart.
I realized that the entire race I had been looking on the sidelines and seeing Todd, or at least people who reminded me of him.
I realized that I wasn’t going to see him, as he was no longer around and broke down crying.
The temperatures were heating up and with a high of 85 for the day, the miles were starting to get miserable.
I reminded myself that I was running for Todd, and that really helped pull me through the last 8 miles of the race when all I wanted to do was walk.

The last 8 miles were a straight $hit show.
I passed a water station where someone was trying to back out of their driveway onto the course and would have hit other runners.
The lady lived on a corner lot, and volunteers urged her to pull through her lawn to exit onto the road that was not closed.
She got out of her car and started cussing the volunteers out saying that it was “her house”….etc. etc. etc.
It should be noted that it was not her road!
Plus there were signs all throughout the course warning that roads would be closed the day of the race that had been up for weeks leading up to the race.
Somehow I didn’t have much sympathy for her.

Then at mile 21 I pulled out my last salt/electrolyte tab which I direly needed.
My stomach was starting to not handle Gatorade as well and I had switched to water.
This pill was the best way for me to make sure I kept up on my salt and electrolytes.
I fumbled the pill in my hands and watched in slow motion as it crashed onto the blacktop.
I considered turning around and picking it up (gross).
I was sore enough at this point that I realized that bending over to pick it up would be a struggle.
I kept running.

I was too tired to run and drink water at aid stations so I walked through the last few.
At the last water stop about 2.5 miles from the finish I watched as the 4:00 pacer caught up to me.
My heart rate was now spiking above 200 at points.
The last 2.5 miles containing lots of uphill stretches.
I forced myself to run unless my heart rate crossed 200, in which case I slowed down or even walked until it dropped.

I watched the 4:00 pacer run behind a building and break his pace stick in two and toss it in a dumpster.
Confused, I kept running and he never passed me again.
Within the last mile, the runners I was passing started to look familiar and I recognized them as other runners who had started alongside the 3:55 pacer.
Then out of nowhere I recognized another runner: the 3:55 pacer!
He no longer held his sign and I felt better knowing that on a hot day, I beat the pacer that I started with.

That gave me the last kick I needed to pull into the finish.

**Final Time:** 4:02:18

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0462962962963% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BThJlBtlUW4/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Freaking hot marathon. I was hoping to get a small PR running with the 3:55 group. Didn&#39;t make it in the heat as I was in maintenance mode trying to watch my HR. Passed the 3:55 pacer in the last mile though so I had that going for me! 4:02 finish 😁😎🤗 @hofmarathon #marathon #heartratetraining #running #bibchat</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-04-30T17:31:22+00:00">Apr 30, 2017 at 10:31am PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

###Race Collections

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170430_182439_736.jpg",
    alt: "Pro Football HoF Marathon Weekend Wrap-up" } %>


[2016 Pro Football HoF Marathon Race Report](/blog/pro-football-hall-of-fame-marathon-race-report.html)

[2017 Legends 5k Race Report](/blog/legends-5k-race-report.html)
