---
title: "Field of Heroes 5k Race Report"
tags: race, race report, 5k, road running, columbus run crew
top_img: "field-of-heroes-columbus-run-crew.jpg"
race: {
  location: "Westerville, Ohio",
  date: "Sunday, May 28th, 2017",
  distances: "5k",
  participants: "1140",
  url: "http://www.fieldofheroes.org/race.htm",
  strava_url: "https://www.strava.com/activities/1009739075/embed/dfc6249327d5bfda2192813ca65fcf2fa1c8a41f"
}
published: true
---

At this time last year I was in great shape, having completed three marathons and two 50ks in the four or so weeks leading up to this race.
That allowed me to complete first female in 2016, much to my surprise.
This year the [Georgia Death Race](/blog/georgia-death-race-report.html) threw off my training a bit, it occurred only two months before this race.
GDR was a distance PR for me of ~74 miles.
As such I took the month of April very easy, and although I did one 50k and a marathon, I wasn't running much during the week.
I listened to my body and took it a day at a time.

But suddenly May came and went and my summer race club was starting up.
The new schedule consists of many shorter distances.
Oh, and I haven't done speedwork since the fall before I started training for Georgia Death Race.

Leading up to this race I actually had nightmares where I was trying to run as fast as I could but I was still only running a 40 minute 5k.
Then I would get lost which added more time in my dreams.
I was nervous knowing that I wasn't going to run anything close to what I had ran the prior year.
Unfortunately I wasn't going to get any faster by sitting at home and stressing so put it off to the back of my mind.

###Race Morning

This race finishes through [3,000 American Flags](http://www.fieldofheroes.org/program.htm) that are put up over Memorial Day weekend.
I ran this race in memory of Todd Werley with his [22 Too Many](https://www.22toomany.com) image pinned to my back.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BUpEcvUFXFL/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Bittersweet holiday this year. Running for #22toomany and Todd Werley #memorialdayweekend #memorialday Training for @honorrunhalfmarathon and @freepmarathon</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-05-28T15:51:52+00:00">May 28, 2017 at 8:51am PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

Before the start I met with my race club for a quick team photo.
My rough goal was to run between a 21:30 and 22:30 5k.
Afterwards we all headed towards the start where I met some new runners, one of which was trying to run around the same pace as me.

<%= partial "partials/image.erb", locals: {
     src: "field-of-heroes-columbus-run-crew.jpg",
     alt: "Field of Heroes 5k Columbus Run Crew Group Photo 2017" } %>

Before I knew it the race was off!
The course of this race is very similar to the [First of the First 5k](/blog/first-on-the-first-race-report.html) that I run every year.
One major difference is that this race goes through a fire station.
For me this is the stand out feature of this course (behind the 3,000 flags obviously).
Firefighters and other spectators are cheering for you as you run through and it is a very cool detour during the race.

<%= partial "partials/image.erb", locals: {
     src: "field-of-heroes-5k-fire-station.jpg",
     alt: "Field of Heroes 5k Running Through Fire Station 2017" } %>

As I was running I noticed my body was acting very differently than it did last year.
My legs were holding me back, while my breathing and heart rate were ok.
I could not push my legs any faster than they were going which was a weird feeling.
Usually it is my breathing that is holding me back.

I slowly made my way into the finish.

<%= partial "partials/image.erb", locals: {
     src: "field-of-heroes-5k-finisher-photo.jpg",
     alt: "Field of Heroes 5k Finisher Photo Bib #1071 2017" } %>

**Final Time:** 22:40

Ok, so 10 seconds slower than the range I was hoping to finish this race in.
But I'll take it.
Time to spend my summer improving my speed and hopefully getting back to the speed I was at this time last year.

###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "field-of-heroes-5k-race-swag.jpg",
     alt: "Field of Heroes 5k Finisher Swag: Shirt, Medal, Bib, Bag 2017" } %>

I like getting the reusable shopping bag every year at this race.
I thought the medal was VERY cool this year too.
The race did have gender specific sizing but I picked up a shirt for [James](http://jarlowrey.com/about.html) instead as I am currently trying to downsize on race shirts.

[Read the Race Report for 2016 Here](/blog/field-of-heroes-5k-race-report.html)

---

Race Photos from [Cap City Sports Media](http://www.capcitysportsmedia.com/)
{: .small }
