---
title: "Fun Run Box Review"
tags: gear, product review, subscription box, bibrave, bibrave pro
top_img: "frb_cover.jpg"
published: true
---

*Disclaimer:
I received a one month challenge box from [Fun Run Box](https://funrunbox.com/) to review as part of being a [BibRave Pro](https://www.bibrave.com/bibravepro).
Learn more about becoming a [BibRave Pro](https://bibravepro.tumblr.com/) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*

I've never ordered a subscription running box before so I was excited to test this one out.
I've seen other running subscription boxes that contain nutrition or gear.
The biggest thing that set this box apart for me was the personal challenge, team competition and large community.

Each month comes with a running challenge for the month.
The Oktoberfest box had a training plan with the ultimate goal to run a fast 5 miles at the end of the month.
The Oktoberfest box had an obvious beer related theme.
The secondary theme seemed to be dogs, which I of course was super excited about since dogs are one of my favorite things.

Then the other side of the challenge form has a list of items to post to social media and your assigned team.
The team with the most posts at the end of the month wins!

The box also contained several items including:

- Tech Shirt

- [Headsweats](http://www.headsweats.com/) hat

- Race Bib for 5 Mile Challenge

 - Dog Magnet

 - Travel Size Muscle Roller

 - Beer Flavored [Jelly Bellys](https://www.jellybelly.com/)

 - [Regrained](https://www.regrained.com/) Honey Cinnamon IPA Granola Bar

<%= partial "partials/image.erb", locals: {
     src: "full-fun-run-oktoberfest-box.jpg",
     alt: "Fun Run Box Oktoberfest 2017 Box Contents"} %>

The shirt was light weight and was made of a very breathable fabric which was good considering that it was a black shirt.
The hat is offically my favorite running hat I own since it has a dog on it.
The dog magnet also went on the fridge to hold up - you guessed it - a picture of my dog.

Check out how awesome this hat is. Also paired with my new favorite race shirt from the [Emerald City Quarter Marathon!](emerald-city-quarter-marathon.html).

<%= partial "partials/image.erb", locals: {
     src: "fun-run-box-oktoberfest-hat.jpg",
     alt: "Fun Run Box Oktoberfest 2017 Hat"} %>

The Jelly Belly beer beans were SO good. I honestly was expecting them to be a novelty item that tasted not great.
But I actually found myself quickly eating all of them!
They also go well paired with actual beer.

<%= partial "partials/image.erb", locals: {
     src: "fun-run-box-beer-jelly-beans.jpg",
     alt: "Fun Run Box Oktoberfest 2017 Jelly Belly Beer Flavor with an IPA"} %>

I really enjoyed the idea of posting pictures of the box in use to social media.
The hashtags made it easy to search for others who were doing the Oktoberfest challenge and connect with runners that I may not have otherwise found.

I also felt like this box would be a great idea if you were in a running rut (it happens to all of us occasionally!).
Each month brings new running challenges that you may not have otherwise thought about.

###My 5 miles to complete the challenge:
<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BZipzZBFueX/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#FRB5MileChallenge compete! Had to add in a few water stops for my dog though as it&#39;s still so hot out. Code “BIBRAVE” for 15% off any subscription or single Oktoberfest from @funrunbox #funrunbox #FRBTeamDiggity #bibchat #bibravepro</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-09-27T10:40:33+00:00">Sep 27, 2017 at 3:40am PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

At the end of it all, I'm sad to say that #FRBTeamDiggity came in dead last.
Although I'd say that we lost in style with all of our new gear!

**Intersted in trying it out for yourself?**
Code **“BIBRAVE”** is good for 15% off any subscription or single Oktoberfest box at [https://funrunbox.com/bibrave](https://funrunbox.com/bibrave).

###Want to keep reading?

Here's some reviews by other Bibrave Pros: <br/>
1. [Amy](http://www.livinglifetruth.com/2017/09/the-5-mile-dachs-challenge-fun-run-box.html) <br/>
2. [Meridith](http://www.scootadoot.org/2017/10/04/road-tested-fun-run-box/) <br/>
3. [Gina](https://runningaroundtheboyz.blogspot.com/2017/10/its-fun-on-run-in-box.html)

[Check out other gear and race discounts here.](/discounts.html)

The Fun Run Box [#BibChat](https://twitter.com/search?q=%23bibchat&src=typd) will be held this Tuesday at 9PM EST over on [BibRave's channel.](https://twitter.com/bibrave/)
I'll be participating with my twitter handle [@bonktothefinish](https://twitter.com/bonktothefinish).
