---
title: "Jaeger Run for Pride 5k Race Report"
tags: race, race report, 5k, columbus run crew
race: {
  location: "Genoa Park, Columbus, Ohio",
  date: "Friday June 16, 2017",
  distances: "5k",
  participants: "277",
  url: "http://www.runforpride.org/",
  strava_url: "https://www.strava.com/activities/1040082740/embed/731658942b56aa17302d6da1178bb7fb3617ccfa"
}
published: true
---

This was my second year running the [Jaeger Run for Pride 5k](jaeger-run-for-pride-5k-race-report.html).
My 5k PR (20:34) is still holding strong from last year.

The race moved from Goodale Park to Genoa Park this year, along with the entire [Columbus Pride Festival](https://columbuspride.org/).

The weather for the race this year was going to be brutal.
Friday night had highs pushing into the upper 90s.
Yikes.
I decided before the race that I was going to focus on feel and not pace for this run.
The temps would be dicating my finish time at this one.

<%= partial "partials/image.erb", locals: {
     src: "run-for-pride-start.jpg",
     alt: "Jaeger 5k Run for Pride Columbus, Ohio 2017 Race Start Line",
     caption: "The Starting Line" } %>

I started out conservative and held on, trying to gradually speed up as I got further along.
The new location had more frequent hills but they were smaller than the prior year's long hill that ran into the finish.

Another fun tidbit about this race was that the course came in at almost exactly 3 miles, meaning that it was a bit short.
I later found out that this was due to a surprise wedding!
Apparently the city wasn't quite on top of organizing their permits to make sure that nothing overlapped.
I don't blame the race directors for this and there were last minute changes to the course to try to add distance.

In the end I think that I paced this race fairly well.
I was happy and surprised when I came into the finish as 3rd female!
Second year in a row for me getting 3rd female at this race.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:59.675925925925924% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BVbJeNqF4c2/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Woohoo! Some terrible races to start my speedwork for the summer but today I ran 21:01. That&#39;s 27 seconds slower than my PR I set last year at this race. Today&#39;s race had 90°F temps and humidity. Much better than I expected: third female for the second year at a row at this race. #bibchat #bibravepro #6run4 #bebrilliant @brilliant_reflective Training for @honorrunhalfmarathon and @freepmarathon</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-06-17T02:37:47+00:00">Jun 16, 2017 at 7:37pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

**Final Time:** 21:01

###Collections

<%= partial "partials/image.erb", locals: {
     src: "jaeger-run-for-pride-shirt-medal-2017.jpg",
     alt: "Jaeger 5k Run for Pride Columbus, Ohio 2017 Shirt and Medal"} %>

This is the second year that there have been shirt issues at this race.
Last year I signed up to recieve a size small, and ended up with a large.
To be fair I did show up last minute for packet pick up, less than 10 minutes before the race started.
But I had signed up in advance.

This year I signed up way early but somehow the registration process didn't get my shirt size.
I recieved an email containing a Google Doc intended for shirt sizing.
I filled out the doc and figured everything was covered.

...

Nope, when I showed up to packet pick up (this time the day before the race), I was told that there was no listed shirt size for me.
I filled out the form I was sent so I'm not sure what happened.
Other runners had the same issue as me.
I assumed no response meant that everything was good, not that my response never went through.
I did end up getting a shirt after the race but the whole thing was a bit annoying.

Now onto the medals.
Last year I believe they only gave medals to the top 3 male and female finishers.
This year the [race website](http://www.runforpride.org/) listed that the first 200 finishers would get medals.
However this year my medal was labeled with "Top 30."
I liked the rainbow ribbon on this year's medal but other runners were upset that only top 30 got medals when the website clearly stated top 200.
I would be upset too if I thought I paid for something and ended up not receiving it.


**Related tangent:**
Hello [The Big Run](/blog/the-big-run-race-report.html)? Still waiting on that race shirt I paid for!!
Feel free to send it any time...

Both of these issues I think can be chalked up to communication problems between the race directors and the runners.
It's not fair to expect runners to be ok with being left in the dark.
Remember who your audience and future customers are...

<%= partial "partials/image.erb", locals: {
     src: "sunset-pride.jpg",
     alt: "Jaeger 5k Run for Pride Columbus, Ohio 2017 Pride Festival Sunset"} %>

[Read the Race Report from 2016 Here](jaeger-run-for-pride-5k-race-report.html)
