---
title: "Cat Adoptaversary Appreciation / Cat Rave"
tags: pet, cat, rescue, animals
top_img: "rye-top-img.jpg"
published: true
---

Happy first adoptaversary (adoptiversary? what's the proper spelling of this made up word?!) to my cat Rye! Last year, I signed up for [Dawg Gone Long Run 50k](dawg-gone-long-run.html) last minute and saw you at the start. 
You were dangerously skinny.
When I petted you, clumps of hair fell off.
I started the race but I didn't forget you, vowing to take you home if you were still there when I finished.
After my first loop you were no where to be found, but when I got to the 50k finish there you were!
Volunteers were feeding you aid station food and I called my boyfriend (now fiance!) begging to let me take you home.

You weren't a fan of the car.
You didn't like getting shoved into a makeshift crate of used pizza boxes, and you screamed the entire drive home. 
After taking you home and trying to set you up in your own space, you insisted in being in rooms with everyone else.
You walked right up to my 80+ pound dog to introduce yourself.

The vet said your kidney and liver were likely failing, that you had an injuried eye from a fight ir malnutrition, and your claws were all broken like you had been hit by a car. 
You threw up every meal for almost 3 weeks and I wasn't sure you'd make it at times. 
You were so hungry that you'd try to reach into our bowls while eating, a habit that I'm very glad you've given up now that you are healthy.

We named you Rye after Rhino, one of the strongest grey animals on earth. 
You've definitely lived up to your name, and now spend your days sleeping in sunny window sills and getting carried to every meal. 
Your nights are spent cuddling up under the covers as close as possible to another human. 
You're the definition of a grumpy cat but you've more than earned it.

I always considered myself a dog person but here I am writing a mushy post about my first cat (which subsequently led to 2😸🐾)

Click through below to see more pictures of Rye's first year:

<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bka-pzolWH9/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bka-pzolWH9/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Nicole Huston (@bonktothefinish)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-06-24T20:54:10+00:00">Jun 24, 2018 at 1:54pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>

###Other Rye Related Posts:
- [List of Potential Cat Names](cat-names.html)
- [Dawg Gone Long Run 50k Race Report and Cat Adoption](dawg-gone-long-run.html)