---
title: "Brilliant Reflective Assortment Pack Review + New Colors"
tags: reflective, gear, product review, bibrave, bibrave pro
---

*Disclaimer:
I received [Brilliant Reflective](https://www.brilliantreflective.com) to review as part of being a [BibRave Pro](https://www.bibrave.com/bibravepro).
Learn more about becoming a [BibRave Pro](https://bibravepro.tumblr.com/) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*


<%= partial "partials/image.erb", locals: {
    src: "product-pic.jpg",
    alt: "Brilliant Reflective Strips Colors and Shirt"} %>

I received several packs of Brilliant Reflective. Most of these packs were stick-on. 
In the past I typically have gotten iron-on for clothing.

With the stick-on packs I got creative with what I put it on.
Dog leashes, my running shoes, and even my mailbox were some of the things I applied it to!

<%= partial "partials/image.erb", locals: {
    src: "mailbox-br.jpg",
    alt: "Brilliant Reflective Strips on Mailbox at Night"} %>

So far, the strips have stuck on very well to my mailbox despite rainy PNW weather and the blazing summer sun.

Another thing I tried (which I have heard about but had yet to try it myself) was putting the stick-on packs on running clothing and simply throwing it in the wash. 
Out of the several items of clothing I put stick-on strips on, all are still on after multiple wears and trips through the washing machine and dryer. 
One set of strips even lasted me through a [rainy marathon](nodmarathon.html) and still are sticking strong after 3 wears and washes.

<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BkGY3WiFuTR/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.518740629685155% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BkGY3WiFuTR/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Nicole Huston (@bonktothefinish)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-06-16T20:59:09+00:00">Jun 16, 2018 at 1:59pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>

###New Colors

<%= partial "partials/image.erb", locals: {
    src: "gold-and-green-br.jpg",
    alt: "Brilliant Reflective Strips Gold and Green Color Options"} %>

Two of the colors I received were gold and green. I've been waiting on a green color [ever since I first started using Brilliant Reflective Strips!](brilliant-reflective-strips.html) 
Stay tuned for new color releases by Brilliant Reflective! 
I know I'm excited to have expanded color options.

###But Do They Last?

Below you'll see 2 dog leashes. 
The top leash has had Brilliant Reflective on for almost 7 months now.
The bottom leash was newly applied, unused.
In general I think that the dog leash got a lot more wear that clothing would as it has to flex and move more than clothing and it's used every single day.
Nonetheless it's still shining bright enough to keep you (or your pet) visible.

<%= partial "partials/image.erb", locals: {
    src: "dog-leashes-compare.jpg",
    alt: "Brilliant Reflective Strips Dog Leashes + Brilliant Reflective after 7 months"} %>

###Discount

Use code "BIBRAVE18" to buy one, get one free! Enjoy!