---
title: "Flying Pig 10k Race Report"
tags: 10k, bibrave, road running, ohio, cincinnati
race: {
  location: "Cincinnati, Ohio",
  date: "Saturday, May 5th, 2018",
  distances: "10k",
  participants: "5,600",
  url: "http://flyingpigmarathon.com/",
  strava_url: "https://www.strava.com/activities/1570728448/embed/65c287adbce2bbaa15bdf2f46148cd4ad252f6d9"
}
---

*Disclaimer: I received a free entry into the [Flying Pig](http://flyingpigmarathon.com/) as part of being a BibRave Pro. 
Learn more about becoming a [BibRave Pro](https://www.bibrave.com/bibravepro) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*

I was ready to go (but beyond nervous!) to complete the 4-Way Challenge for the Flying Pig.
This consisted of running the 10k and 5k on Saturday, followed by the marathon on Sunday!
I've done countless ultras and even [back-to-back](wisconsin-marathon-race-report.html) [marathons](kalamazoo-marathon-race-report.html) but having never ran the Flying Pig I didn't know what hills awaited me.

It turned out the 10k had some hills but it was very managable.
The race morning was overcast but humid.
I planned to run about an 8:30 pace (give or take) and was doing pretty well until about mile 4.5 when I saw a group of runners I had seen earlier in the race.
Suddenly, my race went from catching up on the Up & Vanished podcast with my Aftershokz to getting really competitive and wanting to race someone into the finish.

So my last mile was about a 7:30 pace...Oops.

**Final Time:** 52:04

I did beat the group of runners I wanted to, but suddenly it dawned on me that they were probably running a single race while I had two more to go.
Not sure who truely won that.

I rolled into the finish and had about another hour to kill before my next race.
I thought the 10k seemed the least crowded out of the 3 races I did which made it easy to find a spot on the lawn after the race to hangout.
This was next to impossible the following day!
Gear Check was easy too and I never had to deal with any lines to access it.

I hung out my some pretty tulips and enjoyed the nice views of the Ohio River for a while to prepare the for the 5k that started at 10am, 2 hours after the start of the 10k.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BiZaEQkFutR/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:37.5% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BiZaEQkFutR/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">10k down 5k next! @runflyingpig #flyingpigbr #runflyingpig #cinci</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/bonktothefinish/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> Nicole Huston</a> (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-05-05T13:12:26+00:00">May 5, 2018 at 6:12am PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>

- [Flying Pig 5k Race Report](flying-pig-5k.html)
- [Flying Pig Marathon Race Report](flying-pig-26-2.html)
- [Flying Pig Registration Excitement](flying-pig-marathon.html)