---
title: "Flying Pig Marathon Race Report"
tags: marathon, bibrave, road running, ohio, cincinnati
race: {
  location: "Cincinnati, Ohio",
  date: "Sunday, May 6th, 2018",
  distances: "26.2, 13.1, Relay",
  participants: "5,826 (marathon)",
  url: "http://flyingpigmarathon.com/",
  strava_url: "https://www.strava.com/activities/1570729854/embed/58c5814fb54204530987f32217e7583bcf7a4ef5"
}
published: true
---

*Disclaimer: I received a free entry into the [Flying Pig](http://flyingpigmarathon.com/) as part of being a BibRave Pro. 
Learn more about becoming a [BibRave Pro](https://www.bibrave.com/bibravepro) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*

Here goes nothing.
With the [10k](flying-pig-10k.html) and [5k](flying-pig-5k.html) done on Saturday, I was ready for the real deal on Sunday.
The worst hills were yet to be seen and temperatures were rising; I knew the marathon would be a challenge.

I left the hotel with plenty of time to spare to get settled in before the race, but 15 minutes out realized I forgot my bib and had to turn around.
Suddenly I was running half an hour behind.

I used Waze for traffic as the race had recommended and it said I would be ok.
Well, Waze didn't adjust the ETA for traffic until I actually hit it, which was frustrating.
Downtown parking was a cluster which I did not expect considering how easy parking was the day before despite the multiple races going on all day.
If I could do it all again I would have left way earlier to park (and not forgotten my bib).

Because it took me so long to park, I didn't ultilize gear check nor did I have time to wait in line for a bathroom.
I heard later that the bathrooms in the stadium apparently had no line, but I wasn't even aware the stadium was open.
The corals were full and I found it hard to read the pacer signs from a distance (but I also don't have the best eyesight), so it was difficult for me to figure out where exactly to position myself.

Luckily, I found a friend who I typically run a similar pace to.
This made me feel more confident about my positioning.

The race started quickly there after.
The coral starts always seem a little anticlimactic to me if you aren't in the first coral.
The start line did have flames on top of the arch for all the runners though, which made the start much more exciting!

The first section of the race leads you into Kentucky.
By the time you're headed back into Ohio around mile 8, you have to eat the worst hill of the course.
I knew this hill from running the Queen Bee Half (put on by the same organization).
It wasn't supposed to be a surprise to me but it still felt longer than I remembered it.
I just slowed my pace, reminded myself that it was very early in the race, and not to push it.

The first half of the race had almost constant crowd support which was amazing.
Around the time that the half marathoners turned off was about the time the crowd support lessened, however there was still an overwhelming amount of it compared to other races I've done.

The race had numerous snack options at aid stations in addition to the usual water and gatorade which made it easy to avoid the gels - spoken like a true ultrarunner.
There was also tons of options for alcohol but in the heat there's no way I would have been able to keep any of it down as I was worried enough about stomaching the sports drink.
I grabbed tons of fruit along the course including oranges, watermelon, and grapes.
Aid stations also had tissues which are a huge perk, something I have only ever seen before at the Queen Bee half.

Around mile 17, the heat started getting to me and I knew I had to switch from sports drink to water and salt/electrolyte tabs.
I walked up one hill around this time that was steep but short to grab my new fuel.
I also turned on my bluetooth and continued my binging of the Up & Vanished podcast as my motivation was dwindling.
This helped until the mystery and intrigue suddenly stopped: I hadn't downloaded enough podcasts to make it to the end of the race.
Of course, this all happened during a long, slow climb without much crowd support.
It was hot and the one distraction I was counting on was out the window.

I trucked along looking for the cold towels I heard about somewhere in the last 6 miles of the race.
I was stopping at aid stations and grabbing ice to cool myself off.
This seemed to help for just long enough to give me back some mental energy to make it to the next aid station.

In my opinion, the worst hill of the race wasn't any of those steep and long climbs I had heard about, but a short little hill strategically placed at mile 24.
Right when you are starting to think you're almost there you get one last reality check.
Although I knew I was nearing the finish, I was finidng I couldn't give it my usual kick.
My finish was more of a steady but sluggish pace despite my efforts to pick up the pace.

**Final Time:** 4:21:23

I came into the finish and sat on some stacked crates for a while.
Finally an opportunity to gulp down water I had been struggling to drink during the race.
Some friends came in and after a bit I briefly started feeling off.
Another electrolye pill and 3 bags of salty potato chips set me feeling back to normal.

After the race I had to stand in multiple lines to collect my marathon finisher's jacket and shirt + medal for completing the 4-Way Challenge. 
I was lucky I saw friends because post-marathon my brain was focused on food and a shower, not all the other things I needed to collect before leaving.

The line for the jackets was crazy long, but despite that it was efficient and moved quickly.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BidQN6xFYnP/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BidQN6xFYnP/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">35.5 miles wrapped up for the weekend and first time finishing The Pig! Now I understand the hype 🐖 it may have been a hot day but food options and water stops went above and beyond any marathon I&#39;ve ever done #flyingpigbr #bibchat</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/bonktothefinish/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> Nicole Huston</a> (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-05-07T01:03:20+00:00">May 6, 2018 at 6:03pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>

###4-Way Challenge Collections

<%= partial "partials/image.erb", locals: {
    src: "gear.jpg",
    alt: "Flying Pig 4-Way Challenge (Marathon, 10k, and 5k) Race Gear 2018"} %>

Here's everything (minus the poster!) that I got for completing a weekend's worth of races.
I'm also patiently waiting on the 4-Way Challenge medal rack that is being mailed out to everyone!

- [Flying Pig 5k Race Report](flying-pig-5k.html)
- [Flying Pig 10k Race Report](flying-pig-10k.html)
- [Flying Pig Registration Excitement](flying-pig-marathon.html)

Post-race, I was able to jump on Athlinks.com and claim my race results. You can check out how I did it [here](https://bonktothefinish.com/blog/athlinks), and while you’re at it, jump on and make an account too. Don’t forget to add me as a friend so we can go head-to-head in future races!