---
title: "Race Alert! North Olympic Discovery Marathon"
tags: race, race discount, marathon, long race, bibrave, bibrave pro,race alert, road running
keywords: "north olympic discovery marathondiscount code, nod marathon discount, washington race coupon code"
race: {
  location: "Port Angeles, Washington",
  date: "Saturday, June 3rd, 2018",
  distances: "Marathon, Marathon Relay, Half Marathon, 10k, 5k, Kids Run",
  url: "http://nodm.com/"
}
published: true
---

Big news break: my time in the Midwest has come to an end, and soon I'll be moving cross-country.
I'll be headed towards Seattle where I'll be a short drive away from both beaches and mountains.
Oh, and milder winters.
What more could you want?!

As such, my race planning has been a little behind as I wasn't sure when and where I'd be moving.
Now the specifics are finalized and the first race I put on my calendar was North Olympic Discovery Marathon.

The race takes place in Port Angeles, about 2.5 hours from Seattle.

The course looks scenic but a bit hilly, a big change from Ohio flatlands.
It's also a point to point course.
Check out the video below for a preview of the course!

<iframe src="https://player.vimeo.com/video/238216550?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

And I added some cool training socks to my cart while registering!

{::nomarkdown}
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">My new North Olympic Discovery Marathon socks. Now to start training! 
<a href="https://twitter.com/NODMarathon?ref_src=twsrc%5Etfw">@NODMarathon</a> <a href="https://twitter.com/hashtag/nodm?src=hash&amp;ref_src=twsrc%5Etfw">#nodm</a> <a href="https://twitter.com/hashtag/bibchat?src=hash&amp;ref_src=twsrc%5Etfw">#bibchat</a> <a href="https://t.co/nVq4KTevk3">pic.twitter.com/nVq4KTevk3</a></p>&mdash; Nicole (@bonktothefinish) <a href="https://twitter.com/bonktothefinish/status/949427632466202626?ref_src=twsrc%5Etfw">January 5, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{:/}

For every pair of socks ordered the race is sending a pair of brand new socks to homeless shelters in the community.
So really, how could you not buy them?!

###But is there a discount code you ask?!
Use code “BibRave527” to save 5% on race entry!

Let me know if I'll see you there!

**Related Articles**

- [When Life Gets in the Way of Training](when-life-gets-in-the-way.html)
- [North Olympic Discovery Marathon Race Report](nodmarathon.html)