---
title: "Maple Valley Bear Run Race Report"
tags: 5k, road running, washington, short race
race: {
  location: "Maple Valley, Washington",
  date: "Sunday, June 10th, 2018",
  distances: "5k",
  participants: "642",
  url: "http://www.maplevalleybearrun.com/",
  strava_url: "https://www.strava.com/activities/1632249097/embed/bc438c49edcb0426105c14c09b6c4d416f397a62"
}
published: true
---

Seattle has a lot of races. I mean A TON. But so many of them are a pretty far drive away from me since the greater Seattle area is so large. I figured I would start small and look for races in Southern King County. I stumbled upon a summer 5k in [Kent Cornucopia Days 5k](https://www.kentwa.gov/residents/parks-recreation-and-community-services/events/kent-cornucopia-days-5k), which was dirt cheap with the option to pay a cheaper price not to get a shirt. Naturally this was right up my alley! Registration wasn’t open just yet, but I found it was part of a summer series of four other 5ks called the [Soking Challenge](http://www.outpatientpt.com/sokingchallenge/). At the time the Maple Valley Bear Run was the only 5k with registration open so I went ahead and signed up.

I arrived not totally knowing what to expect or where I was going. I parked outside of the park area and walked in but missed my turn and ended up finding  the Maple Valley Days festival and having to backtrack a bit to find the race start.

I picked up my bib and shirt but getting a bit lost didn’t give me much time to head back to my car to put the shirt away. I ended up stashing it in a tree in the woods while I ran so I didn’t have to race back to my car before the actual race. I couldn’t help but notice the race shirts were Seahawks colors. You can’t escape the Seahawks anywhere around here!  ### #12

<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bj3T-Q1FPCq/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bj3T-Q1FPCq/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Nicole Huston (@bonktothefinish)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-06-11T00:27:48+00:00">Jun 10, 2018 at 5:27pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>

Bib was on and I was ready to run! The race was a lot bigger than I expected. Either I’m not used to the size of Seattle crowds yet or this race did a great job getting people to register. There were tons of cross country kids there which meant I was about to get smoked as I was feeling pretty out of shape speed-wise. My last 5k was ran almost a year ago now and it had been even longer than that since I PR’ed in my 5k.

The race luckily had signs and I lined up in the 7-8 minute/mile group. I turned on my Aftershokz and started a new podcast called Lore. It was pretty good and creepy! But I wish I would have speed up the pace a bit for a 5k. He talked really slowly which added to the creepiness but didn’t help much during a race setting.

Luckily there were people every mile giving you your time so you didn’t have to look down at your watch. This helped me stay on track and motivated for the next mile.

<%= partial "partials/image.erb", locals: {
    src: "2018_Bear_Run_5k.jpg",
    alt: "2018 Maple Valley Bear Run after Mile 2"} %>

There were hills! And there was some loose gravel trails towards the end too. There was just enough gravel that I considered that I might have fared better in my trail shoes for the race. Despite the hills and gravel I came in right on pace under 23 minutes.

**Final Time:** 22:55	

That was good enough to get me 1st in my age group and 9th female overall. Not bad for being out of shape! Hopefully this will motivate me to get some more speed work in.

###Race Collections

<%= partial "partials/image.erb", locals: {
    src: "bear-run-shirt-and-bear.jpg",
    alt: "2018 Maple Valley Bear Run shirt and Bear age group award"} %>

So I won a bear, which when I walked in the door my dog was 100% sure I had gotten her a new toy. For now I’m trying to keep it on display rather than ripped to shreds but we’ll see how long that lasts.