
<% content_for :head do
  js = javascript_include_tag "https://d3js.org/d3.v4.min.js", "graphs"
  css = stylesheet_link_tag  :d3
  "#{js} #{css}"
end %>


<div class="races_graph" id="graph_5K"></div>

<%= partial "partials/races_table.erb" %>
