---
title: "Discounts"
description: "Home of running gear and race discounts and coupon codes. Updated on a frequent basis so check back soon. Feel free to share all codes with friends and family."

---

![Races Logo](/images/icons/races_logo.png)

---

[**Queen Bee Half Marathon and 4-Miler**](http://queenbeehalf.com/)

**Saturday, October 12, 2019**

![Queen Bee Half Maarathon and 4-Miler 2019 Discount Code](/images/icons/QB-Nicole10.png)

Enjoy a women's focused event carefully thought out swag and expo experience to make your race day one of a kind! Not only is the event fun, but there's not shortage of ease with this hilly course that challenge you and will simultaneously show you all Cincinnati has to offer.

*10% off the Queen Bee half marathon or 4-miler using code* **"NICOLE10"**

---


![Featured Logo](/images/icons/featured_logo.png)

---


[**Mesa-Phoenix Marathon**](https://thephoenixmarathon.com/marathon-registration/)

**Saturday, February 8, 2020**

![Mesa-PHX Marathon 2020 Discount Code](/images/icons/header-ambassador.jpg)

A net downhill course with great temperatures during Phoenix winter!
Perfect for PRing or a destination race to escape the cold that rest of the U.S. has to deal with this time of year.
20.7% of runners qualify for Boston and this race has sold out every year since 2013!
I will be there!
Join me!

*Use code **"BONKTTF10"** for $10 off the full and half marathon pricing!*

The discount cannot be applied to the 10k distance.
{: .small }

![Mesa-PHX Marathon 2020 Coupon Code](/images/icons/course_elevation_thumb.jpg)

---

![Gear Logo](/images/icons/gear_logo.png)

---

**Bracoo USA**

Use code **bonkttf25** to take **25% off ANY Bracoo product** (excluding LS70, LS71, and LE70) on www.amazon.com/bracoo

Use **BOGORUNHAPPY** to get **BUY ONE GET ONE FREE** (LE70 Leg Sleeves, LS70 Advanced Leg Sleeves and LS71 Compression Socks) valid till the end of 2019. Limited quantity so it may end before December 31st on https://amzn.to/336P6yk

---


<% update_date = File.mtime(current_page.source_file).to_date %>
<p class="small center">Last Updated <%=  update_date.strftime("%b %e, %Y") %></p>

<%= partial "partials/ad_unit_bottom.erb" %>
