---
title: "Discounts"
keywords: "2Toms discount,2Toms code,2Toms discount code,Brilliant Reflective code ,Brilliant Reflective discount code,Brilliant Reflective discount,Orange Mud code,Orange Mud discount code,Orange Mud discount,Knuckle Lights code,Knuckle Lights discount code,Knuckle Lights discount,AfterShokz code,AfterShokz discount code,AfterShokz discount,Stunt Puppy code,Stunt Puppy discount code,Stunt Puppy discount, Rock n Roll marathon discount,Rock n Roll marathon discount code,Rock n Roll marathon code,HC 15K code,HC 15K discount,HC 15K discount code,Hot chocolate race code,Hot chocolate race discount,Hot chocolate race discount code,Hot Chocolate Discount,Hot Chocolate Discount code,Hot Chocolate code,Craft Classic Seattle code ,Craft Classic Seattle discount,Craft Classic Seattle discount code,Craft Classic San Diego code ,Craft Classic San Diego discount,Craft Classic San Diego discount code,Craft Classic Phoenix code ,Craft Classic Phoenix discount,Craft Classic Phoenix discount code,Madison Mini-Marathon code,Madison Mini-Marathon discount,Madison Mini-Marathon discount code,Bucktown 5K code,Bucktown 5K discount,Bucktown 5K discount code,Urban Bourbon Half code,Urban Bourbon Half discount,Urban Bourbon Half discount code,Kansas City Marathon code,Kansas City Marathon discount ,Kansas City Marathon discount code,Pumpkins in the Park code,Pumpkins in the Park discount,Pumpkins in the Park discount code,Madison Marathon code,Madison Marathon discount,Madison Marathon discount code,North Shore Turkey Trot code,North Shore Turkey Trot discount,North Shore Turkey Trot discount code,Clarendon Day Run code,Clarendon Day Run discount,Clarendon Day Run discount code,Bike the Coast code,Bike the Coast discount,Bike the Coast discount code,Tulsa Run code,Tulsa Run discount,Tulsa Run discount code,Milwaukee Marathon discount,Milwaukee Marathon code,Milwaukee Marathon discount code,Route 66 Marathon discount,Route 66 Marathon code,Route 66 Marathon discount code,Sedona Marathon code,Sedona Marathon discount,Sedona Marathon discount code,Detroit Free Press Marathon code,Detroit Free Press Marathon discount,Detroit Free Press Marathon discount code,Honolulu Marathon code,Honolulu Marathon discount,Honolulu Marathon discount code,Freedom's Run code,Freedom's Run discount,Freedom's Run discount code,Run Inspired 10K code,Run Inspired 10K discount,Run Inspired 10K discount code,Nutrabolt Oktoberfest Half code,Nutrabolt Oktoberfest Half discount,Nutrabolt Oktoberfest Half discount code,Honor Run Half code,Honor Run Half discount,Honor Run Half discount code,Bellin Women's Half code,Bellin Women's Half discount,Bellin Women's Half discount code,Zooma Cape Cod code,Zooma Cape Cod discount,Zooma Cape Cod discount code,Run Laughlin code,Run Laughlin discount,Run Laughlin discount code,Chicago Half Marathon code,Chicago Half Marathon discount,Chicago Half Marathon discount code,BCS Marathon code,BCS Marathon discount,BCS Marathon discount code,The North Face Endurance Wisconsin discount,The North Face Endurance Wisconsin code,The North Face Endurance Wisconsin discount code,TNFECS WI code,TNFECS WI discount,TNFECS WI discount code,Ocean State Rhode Race code,Ocean State Rhode Race discount,Ocean State Rhode Race discount code,Bristol Independence Rhode Race code,Bristol Independence Rhode Race discount,Bristol Independence Rhode Race discount code,Jamestown Rhode Race code,Jamestown Rhode Race discount,Jamestown Rhode Race discount code,North County Wine Run code,North County Wine Run discount,North County Wine Run discount code,Monterey Bay Half Marathon code,Monterey Bay Half Marathon discount,Monterey Bay Half Marathon discount code,Run Mag Mile code,Run Mag Mile discount,Run Mag Mile discount code,America's Finest City Half Marathon code,America's Finest City Half Marathon discount,America's Finest City Half Marathon discount code,AFC Half Marathon code,AFC Half Marathon discount ,AFC Half Marathon discount code,UA Mountain Series Killington code,UA Mountain Series Killington discount ,UA Mountain Series Killington discount code,UA Mountain Series Copper Mountain code,UA Mountain Series Copper Mountain discount ,UA Mountain Series Copper Mountain discount code,47th Annual James Cunningham Seawall Race code,47th Annual James Cunningham Seawall Race discount ,47th Annual James Cunningham Seawall Race discount code,AFC code,AFC discount ,AFC discount code,America's Finest City Half code,America's Finest City Half discount,America's Finest City Half discount code,Rock n Roll Virginia Beach code,Rock n Roll Virginia Beach discount,Rock n Roll Virginia Beach discount code,Rock n Roll Philadelphia code,Rock n Roll Philadelphia discount,Rock n Roll Philadelphia discount code,Rock n Roll Montreal code,Rock n Roll Montreal discount,Rock n Roll Montreal discount code,Rock n Roll San Jose code,Rock n Roll San Jose discount,Rock n Roll San Jose discount code,Rock n Roll Brooklyn code,Rock n Roll Brooklyn discount,Rock n Roll Brooklyn discount code,Rock n Roll Denver code,Rock n Roll Denver discount,Rock n Roll Denver discount code,Rock n Roll St Louis code,Rock n Roll St Louis discount,Rock n Roll St Louis discount code,Rock n Roll Lisbon code,Rock n Roll Lisbon discount,Rock n Roll Lisbon discount code,Rock n Roll Los Angeles code,Rock n Roll Los Angeles discount,Rock n Roll Los Angeles discount code,Rock n Roll Las Vegas code,Rock n Roll Las Vegas discount,Rock n Roll Las Vegas discount code,Rock n Roll Merida code,Rock n Roll Merida discount,Rock n Roll Merida discount code,Rock n Roll San Antonio code,Rock n Roll San Antonio discount,Rock n Roll San Antonio discount code,Rock n Roll Arizona code,Rock n Roll Arizona discount,Rock n Roll Arizona discount code,Rock n Roll Savannah code,Rock n Roll Savannah discount,Rock n Roll Savannah discount code,RnR Virginia Beach code,RnR Virginia Beach discount,RnR Virginia Beach discount code,RnR Philadelphia code,RnR Philadelphia discount,RnR Philadelphia discount code,RnR Montreal code,RnR Montreal discount,RnR Montreal discount code,RnR San Jose code,RnR San Jose discount,RnR San Jose discount code,RnR Brooklyn code,RnR Brooklyn discount,RnR Brooklyn discount code,RnR Denver code,RnR Denver discount,RnR Denver discount code,RnR St Louis code,RnR St Louis discount,RnR St Louis discount code,RnR Lisbon code,RnR Lisbon discount,RnR Lisbon discount code,RnR Los Angeles code,RnR Los Angeles discount,RnR Los Angeles discount code,RnR Las Vegas code,RnR Las Vegas discount,RnR Las Vegas discount code,RnR Merida code,RnR Merida discount,RnR Merida discount code,RnR San Antonio code,RnR San Antonio discount,RnR San Antonio discount code,RnR Arizona code,RnR Arizona discount,RnR Arizona discount code,RnR Savannah code,RnR Savannah discount,RnR Savannah discount code,Hot Chocolate 15K Denver code,Hot Chocolate 15K Denver discount,Hot Chocolate 15K Denver discount code,Hot Chocolate 15K Chicago code,Hot Chocolate 15K Chicago discount,Hot Chocolate 15K Chicago discount code,Hot Chocolate 15K Columbus code,Hot Chocolate 15K Columbus discount,Hot Chocolate 15K Columbus discount code,Hot Chocolate 15K Scottsdale code,Hot Chocolate 15K Scottsdale discount,Hot Chocolate 15K Scottsdale discount code,Hot Chocolate 15K St Louis code,Hot Chocolate 15K St Louis discount,Hot Chocolate 15K St Louis discount code,Hot Chocolate 15K Tampa code,Hot Chocolate 15K Tampa discount,Hot Chocolate 15K Tampa discount code,Hot Chocolate 15K San Francisco code,Hot Chocolate 15K San Francisco discount,Hot Chocolate 15K San Francisco discount code,Hot Chocolate 15K Atlanta code,Hot Chocolate 15K Atlanta discount,Hot Chocolate 15K Atlanta discount code,Hot Chocolate 15K Dallas code,Hot Chocolate 15K Dallas discount,Hot Chocolate 15K Dallas discount code,Hot Chocolate 15K Nashville code,Hot Chocolate 15K Nashville discount,Hot Chocolate 15K Nashville discount code,Hot Chocolate 15K Las Vegas code,Hot Chocolate 15K Las Vegas discount,Hot Chocolate 15K Las Vegas discount code,Hot Chocolate 15K Seattle code,Hot Chocolate 15K Seattle discount,Hot Chocolate 15K Seattle discount code,Hot Chocolate 15K San Diego code,Hot Chocolate 15K San Diego discount,Hot Chocolate 15K San Diego discount code,Hot Chocolate 15K Philadelphia code,Hot Chocolate 15K Philadelphia discount,Hot Chocolate 15K Philadelphia discount code,Hot Chocolate 15K Minneapolis code,Hot Chocolate 15K Minneapolis discount,Hot Chocolate 15K Minneapolis discount code,HC Denver code,HC Denver discount,HC Denver discount code,HC Chicago code,HC Chicago discount,HC Chicago discount code,HC Columbus code,HC Columbus discount,HC Columbus discount code,HC Scottsdale code,HC Scottsdale discount,HC Scottsdale discount code,HC St Louis code,HC St Louis discount,HC St Louis discount code,HC Tampa code,HC Tampa discount,HC Tampa discount code,HC San Francisco code,HC San Francisco discount,HC San Francisco discount code,HC Atlanta code,HC Atlanta discount,HC Atlanta discount code,HC Dallas code,HC Dallas discount,HC Dallas discount code,HC Nashville code,HC Nashville discount,HC Nashville discount code,HC Las Vegas code,HC Las Vegas discount,HC Las Vegas discount code,HC Seattle code,HC Seattle discount,HC Seattle discount code,HC San Diego code,HC San Diego discount,HC San Diego discount code,HC Philadelphia code,HC Philadelphia discount,HC Philadelphia discount code,HC Minneapolis code,HC Minneapolis discount,HC Minneapolis discount code,A1A Fort Lauderdale Marathon and Half Marathon code,A1A Fort Lauderdale Marathon and Half Marathon discount,A1A Fort Lauderdale Marathon and Half Marathon discount code, mesa-phx marathon discount, mesa phoenix marathon coupon, mesa phoenix marathon code, encintas half marathon discount, encintas half marathon code, encintas marathon coupon"
description: "Home of running gear and race discounts and coupon codes. Updated on a frequent basis so check back soon. Feel free to share all codes with friends and family."
---



![Featured Logo](/images/icons/featured_logo.png)

---

[**Mesa-Phoenix Marathon**](https://thephoenixmarathon.com/marathon-registration/)

**Saturday, February 24, 2018**

![Mesa-PHX Marathon 2018 Discount Code](/images/icons/header-ambassador.jpg)

A net downhill course with great temperatures during Phoenix winter!
Perfect for PRing or a destination race to escape the cold that rest of the U.S. has to deal with this time of year.
20.7% of runners qualify for Boston and this race has sold out every year since 2013!
I will be there!
Join me!

*Use code **"BONKTTF10"** for $10 off the full and half marathon pricing!*

The discount cannot be applied to the 10k distance.
{: .small }

![Mesa-PHX Marathon 2018 Coupon Code](/images/icons/course_elevation_thumb.jpg)


[**Encinitas Half Marathon**](https://encinitashalfmarathon.com/)

**March 4, 2018**

![Encinitas Half Marathon 2018 Discount Code](/images/icons/encinitas-half-marathon-discount.jpg)


*Use code **"BONKTTF10"** for 10% off any Encinitas Half Marathon entry!*

---

![Gear Logo](/images/icons/gear_logo.png)

---

**AfterShokz** - Receive a BONUS portable storage case using "FREECASE" at [http://bibrave.aftershokz.com/](http://bibrave.aftershokz.com/).

**Brilliant Reflective** - Use code "BRPmulti" for 20% off multipacks at [http://bit.ly/BRforRunners](http://bit.ly/BRforRunners).
Check out my review of the [Brilliant Reflective](/blog/brilliant-reflective-strips.html) strips.

![Brilliant Reflective Discount Coupon Code](/images/icons/brilliantreflective.png)

**Fun Run Box** - Use code “BIBRAVE” for 15% off any subscription or single Oktoberfest box at [https://funrunbox.com/bibrave](https://funrunbox.com/bibrave).

![Fun Run Box Discount Coupon Code](/images/icons/FunRunBox.jpg)

**Skins** - Use code “BIBRAVE20” for 20% at [https://www.skins.net/usa](https://www.skins.net/usa). Only valid on full price items, expires 10/31/17.

---

![Races Logo](/images/icons/races_logo.png)

---

###OCTOBER

**10/7/2017 - Bellin Women’s Half Marathon - Green Bay, WI** <br/>
[http://www.bellinwomenshalf.com/](http://www.bellinwomenshalf.com/) <br/>
Use code “BibRave10” saves $10 on race entry, expires 8/31/17.

**10/7/2017 - Zooma Women’s Series Cape Cod - North Andover, MA** <br/>
[http://zoomarun.com/race/cape-cod/](http://zoomarun.com/race/cape-cod/) <br/>
Use code “BIBRAVE” to save 10% on the half marathon or 10K.

**10/15/2017 - Craft Classic Phoenix - Phoenix, AZ** <br/>
[http://www.craftclassic.com/phoenix/](http://www.craftclassic.com/phoenix/) <br/>
Use code “BIBRAVEHALF” for $10 off the Half and “BIBRAVE5k” for $5 off the 5K.

**10/15/2017 - Run Inspired 10K - Winterthur, DE** <br/>
[http://runinspiredraces.com/](http://runinspiredraces.com/) <br/>
Use code “BibRave” for 10% off your race entry.

**10/14-15/2017 - Milwaukee Marathon - Milwaukee, WI** <br/>
[http://www.runmilwaukeemarathon.com/](http://www.runmilwaukeemarathon.com/) <br/>
Use code “BibRaveMKE” for $5 off.

**10/13-15/2017 - Detroit Free Press Marathon - Detroit, MI** <br/>
[http://www.freepmarathon.com/](http://www.freepmarathon.com/) <br/>
Use code “DETROITBRP17” for 10% off race entry.

![Detriot Free Press Marathon Discount Code](/images/icons/detriot-marathon.jpg)

See my blog posts related to this race: [#1: Race Alert](/blog/race-alert-detroit-free-press-chemical-bank-marathon.html), [2017 Fall/Winter Race Schedule](/blog/2017-fall-winter-schedule.html)

**10/14-15/2017 - Rock ‘n’ Roll Brooklyn - Brooklyn, NY** <br/>
[http://www.runrocknroll.com/brooklyn/](http://www.runrocknroll.com/brooklyn/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/1.

**10/14-15/2017 - Rock ‘n’ Roll Denver - Denver, CO** <br/>
[http://www.runrocknroll.com/denver/](http://www.runrocknroll.com/denver/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/8.

**10/14-15/2017 - Rock ‘n’ Roll St. Louis - St. Louis, MO** <br/>
[http://www.runrocknroll.com/st-louis/](http://www.runrocknroll.com/st-louis/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/8.

**10/15/2017 - Rock ‘n’ Roll Lisbon - Lisbon, Portugal** <br/>
[http://www.runrocknroll.com/lisbon/en/](http://www.runrocknroll.com/lisbon/en/) <br/>
Use code “BIBRAVE15” to save 3 €/£ off Half and Full, valid until 10/8.

**10/21/2017 - 47th Annual James Cunningham Seawall Race - Vancouver, BC** <br/>
[http://vancouverrunfest.com](http://vancouverrunfest.com) <br/>
Use code “BIBRAVE10” to save 10% off your race entry! <br/>

**10/21/2017 - Urban Bourbon Half Marathon - Louisville, KY** <br/>
[http://www.urbanbourbonhalf.com/](http://www.urbanbourbonhalf.com/) <br/>
Use code “BourbonRave2017” for 10% off! <br/>

![Urban Bourbon Half Marathon Discount Coupon Code](/images/icons/Urban-Bourbon-HM-stickers.jpg)

See my blog posts related to this race: [#1: Race Alert](/blog/urban-bourbon-half-marathon.html), [2017 Fall/Winter Race Schedule](/blog/2017-fall-winter-schedule.html)

**10/21/2017 - Kansas City Marathon - Kansas City, MO** <br/>
[http://www.sportkc.org/marathon/](http://www.sportkc.org/marathon/) <br/>
Use code “BIBRAVE17” for 15% off! Valid for online registrations only. <br/>

**10/21/2017 - Pumpkins in the Park - Chicago, IL** <br/>
[https://www.pumpkins5k.com/](https://www.pumpkins5k.com/) <br/>
Use code “BibRavePP17” for a bonus RAM Racing drink bottle! <br/>

**10/22/2017 - Nutrabolt Oktoberfest Half - College Station, TX** <br/>
[http://nutrabolthalf.com/](http://nutrabolthalf.com/) <br/>
Use code “BIBRAVER17” to save 10% on race entry.

**10/28/2017 - Tulsa Run - Tulsa, OK** <br/>
[http://tulsasports.org/tulsarun/](http://tulsasports.org/tulsarun/) <br/>
Use code “bibravetr” for $5 off race entry. <br/>

**10/28/2017 - Rock ‘n’ Roll Chengdu - Chengdu, CN** <br/>
[http://www.runrocknroll.com/chengdu/](http://www.runrocknroll.com/chengdu/) <br/>
Use code “BIBRAVE15” to save $15 on the Half and Full, valid until 10/21.

**10/29/2017 - Rock ‘n’ Roll Los Angeles - Los Angeles, CA** <br/>
[http://www.runrocknroll.com/los-angeles/](http://www.runrocknroll.com/los-angeles/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/22.

**10/29/2017 - Ocean State Rhode Race - Narragansett, RI** <br/>
[http://runri.us/narragansett-race-info/](http://runri.us/narragansett-race-info/) <br/>
Use code “BibRave” to save 10% on race entry.

**10/29/2017 - Hot Chocolate 15K/5K Chicago - Chicago, IL** <br/>
[https://www.hotchocolate15k.com/chicago](https://www.hotchocolate15k.com/chicago) <br/>
Use code “BRHCCHI17” to score a BONUS Hot Chocolate branded cap!

###NOVEMBER

**11/4/2017 - Bike the Coast - San Diego, CA** <br/>
[http://bikethecoast.eventmediainc.com/](http://bikethecoast.eventmediainc.com/) <br/>
Use code “BRBTC2017” for 30% off, includes ride & jersey combos!

**11/04/2017 - Rock ‘n’ Roll Merida - Merida, Mexico** <br/>
[http://www.runrocknroll.com/merida/](http://www.runrocknroll.com/merida/) <br/>
Use code “BIBRAVE15” to save $15 or 270 Pesos off Half, valid until 10/28.

**11/04- 05/2017 - Rock ‘n’ Roll Savannah - Savannah, GA** <br/>
[http://www.runrocknroll.com/savannah/](http://www.runrocknroll.com/savannah/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 10/28.

**11/5/2017 - Hot Chocolate 15K/5K Columbus - Columbus, OH** <br/>
[https://www.hotchocolate15k.com/columbus](https://www.hotchocolate15k.com/columbus) <br/>
Use code “BRHCCOL17” to score a BONUS Hot Chocolate branded cap!

**11/5/2017 - South Shore Half - Norwell, MA** <br/>
[http://southshorehalf.com/](http://southshorehalf.com/) <br/>
Use code “BRSSH10” to save 10% on your race entry.

**11/11- 12/2017 - Rock ‘n’ Roll Las Vegas - Las Vegas, NV** <br/>
[http://www.runrocknroll.com/las-vegas/](http://www.runrocknroll.com/las-vegas/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 11/05.

**11/12/2017 - Honor Run Half Marathon - Florence, KY** <br/>
[http://www.honorrunhalf.com/](http://www.honorrunhalf.com/) <br/>
Use code “BIBRAVE10” to save $10 on your race entry.

![Honor Run Half Marathon Discount Code](/images/icons/honor-run-half-medals.jpg)

See my blog posts related to this race: [#1: Race Alert](/blog/race-alert-honor-run-half-marathon.html), [2017 Fall/Winter Race Schedule](/blog/2017-fall-winter-schedule.html)

**11/12/2017 - Madison Marathon - Madison, WI** <br/>
[http://www.madisonmarathon.org/](http://www.madisonmarathon.org/) <br/>
Use code “RAVE10” for $10 off Madison Marathon or Half Marathon. <br/>
Code will expire Nov 8 at 11:59PM (close of online registration)

**11/12/2017 -  Monterey Bay Half Marathon - Big Sur, CA** <br/>
[http://www.bigsurhalfmarathon.org/](http://www.bigsurhalfmarathon.org/) <br/>
Use code “BRP17” for a bonus 13.1 magnet!

**11/18-19/2017 - Williams Route 66 Marathon - Tulsa, OK** <br/>
[http://route66marathon.com/](http://route66marathon.com/) <br/>
Use code “2017R66BR” for $10 off your race entry. <br/>

**11/23/2017 - North Shore Turkey Trot - Highland Park, IL** <br/>
[https://www.northshoreturkeytrot.com/](https://www.northshoreturkeytrot.com/) <br/>
Use code “BibRaveTT17” for a bonus RAM Racing drink bottle! <br/>

**11/23/2017 - Art Van Turkey Trot - Chicago, IL** <br/>
[http://www.turkeytrotchicago.com/](http://www.turkeytrotchicago.com/) <br/>
Use code “17BIBRAVE10” to save 10% off all distances!

**11/23/2017 - Century Link Turkey Day 5K Minneapolis - Minneapolis, MN** <br/>
[http://www.turkeyday-5k.com/races/minneapolis/](http://www.turkeyday-5k.com/races/minneapolis/) <br/>
Use code “TURKEYDAY2017” to save 10% off all distances!

###DECEMBER

**12/2/2017 - Run Laughlin -  Laughlin, NV** <br/>
[http://runlaughlin.com/](http://runlaughlin.com/) <br/>
Use code “BIBRAVE20” to save 20% on your race entry!

**12/02- 03/2017 - Rock ‘n’ Roll San Antonio - San Antonio, TX** <br/>
[http://www.runrocknroll.com/san-antonio/](http://www.runrocknroll.com/san-antonio/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 11/26.

**12/3/2017 - Hot Chocolate 15K/5K Scottsdale - Scottsdale, AZ** <br/>
[https://www.hotchocolate15k.com/scottsdale](https://www.hotchocolate15k.com/scottsdale) <br/>
Use code “BRHCSCOTTS17” to score a BONUS Hot Chocolate branded cap!

**12/10/2017 - BCS Marathon - College Station, TX** <br/>
[http://bcsmarathon.com/](http://bcsmarathon.com/) <br/>
Code “BIBRAVER17" saves 10% on your race entry.

**12/10/2017 - Honolulu Marathon - Honolulu, HI** <br/>
[http://www.honolulumarathon.org/](http://www.honolulumarathon.org/) <br/>
Use code “BIBRAVEHNL” to save 15% on your race entry!

**12/10/2017 - Hot Chocolate 15K/5K St. Louis - St. Louis, MO** <br/>
[https://www.hotchocolate15k.com/stlouis](https://www.hotchocolate15k.com/stlouis) <br/>
Use code “BRHCSTL17” to score a BONUS Hot Chocolate branded cap!

**12/17/2017 - Hot Chocolate 15K/5K Tampa - Tampa, FL** <br/>
[https://www.hotchocolate15k.com/tampa](https://www.hotchocolate15k.com/tampa) <br/>
Use code “BRHCTAMPA17” to score a BONUS Hot Chocolate branded cap!

##2018

###JANUARY

**1/7/2018 - Hot Chocolate 15K/5K San Francisco - San Francisco, CA** <br/>
[https://www.hotchocolate15k.com/sanfrancisco](https://www.hotchocolate15k.com/sanfrancisco) <br/>
Use code “BRHCSF18” to score a BONUS Hot Chocolate branded cap!

**1/13-14/2018 - Rock ‘n’ Roll Arizona - Phoenix, AZ** <br/>
[http://www.runrocknroll.com/arizona/](http://www.runrocknroll.com/arizona/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 1/7/18.

**1/21/2018 - Hot Chocolate 15K/5K Atlanta - Atlanta, GA** <br/>
[https://www.hotchocolate15k.com/atlanta](https://www.hotchocolate15k.com/atlanta) <br/>
Use code “BRHCATL18” to score a BONUS Hot Chocolate branded cap!

**2/10/2018 - Hot Chocolate 15K/5K Houston - Houston, TX** <br/>
[https://www.hotchocolate15k.com/houston](https://www.hotchocolate15k.com/houston) <br/>
Use code “BibRaveHCHouston18” to score a BONUS Hot Chocolate branded cap!

###FEBRUARY

**2/3/2018 - Sedona Marathon - Sedona, AZ** <br/>
[http://www.sedonamarathon.com/](http://www.sedonamarathon.com/) <br/>
Use code “18BibRave" for 20% off race entry!

**2/3/2018 - Hot Chocolate 15K/5K Dallas - Dallas, TX** <br/>
[https://www.hotchocolate15k.com/dallas](https://www.hotchocolate15k.com/dallas) <br/>
Use code “BRHCDAL18” to score a BONUS Hot Chocolate branded cap!

**2/10/2018 - Hot Chocolate 15K/5K Charlotte - Charlotte, NC** <br/>
[https://www.hotchocolate15k.com/charlotte](https://www.hotchocolate15k.com/charlotte) <br/>
Use code “BibRaveHCChar18” to score a BONUS Hot Chocolate branded cap!

**2/17/2018 - Hot Chocolate 15K/5K Nashville - Nashville, TN** <br/>
[https://www.hotchocolate15k.com/nashville](https://www.hotchocolate15k.com/nashville) <br/>
Use code “BRHCNASH18” to score a BONUS Hot Chocolate branded cap!

**2/18/2018 - A1A Fort Lauderdale Marathon and Half Marathon - Fort Lauderdale, FL** <br/>
[http://a1amarathon.com/](http://a1amarathon.com/) <br/>
Use code “BIBRAVE” to save 15% on the Marathon, Half Marathon and 5K.

**2/24/2018 - Mesa-Phoenix Marathon - Mesa, AZ** <br/>
[https://thephoenixmarathon.com/](https://thephoenixmarathon.com/) <br/>
Use code "BONKTTF10" for $10 off the full and half marathon pricing!

See my blog posts related to this race: [2018 Mesa-Phoenix Marathon Ambassador + Discount Code](/blog/mesa-phx-marathon-ambassador.html)

**2/25/2018 - Hot Chocolate 15K/5K Las Vegas - Las Vegas, NV** <br/>
[https://www.hotchocolate15k.com/lasvegas](https://www.hotchocolate15k.com/lasvegas) <br/>
Use code “BRHCVEGAS18” to score a BONUS Hot Chocolate branded cap!

###MARCH

**3/4/2018 - Encinitas Half Marathon - Encinitas, CA** <br/>
[https://encinitashalfmarathon.com/](https://encinitashalfmarathon.com/) <br/>
Use code "BONKTTF10" for 10% off any Encinitas Half Marathon entry!

**3/4/2018 - 13.1 Miami Beach - Miami Beach, FL** <br/>
[http://www.run131series.com/miamibeach/](http://www.run131series.com/miamibeach/) <br/>
Use code “BIBRAVEMB18” to save $5 on the half marathon!

**3/4/2018 - Rock ‘n’ Roll New Orleans - New Orleans, LA** <br/>
[http://www.runrocknroll.com/new-orleans](http://www.runrocknroll.com/new-orleans) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 1/29.

**3/4/2018 - Hot Chocolate 15K/5K Seattle - Seattle, WA** <br/>
[https://www.hotchocolate15k.com/seattle](https://www.hotchocolate15k.com/seattle) <br/>
Use code “BRHCSEA18” to score a BONUS Hot Chocolate branded cap!

**3/18/2018 - Hot Chocolate 15K/5K San Diego - San Diego, CA** <br/>
[https://www.hotchocolate15k.com/sandiego](https://www.hotchocolate15k.com/sandiego) <br/>
Use code “BRHCSD18” to score a BONUS Hot Chocolate branded cap!

**3/18/2018 - Tobacco Road Marathon and Half Marathon - Cary, NC** <br/>
[http://www.tobaccoroadmarathon.com](http://www.tobaccoroadmarathon.com) <br/>
Use code “bibrave1” to save $20 on race registration!

**3/24/2018 - Hot Chocolate 15K/5K Indianapolis - Indianapolis, IN** <br/>
[https://www.hotchocolate15k.com/indianapolis](https://www.hotchocolate15k.com/indianapolis) <br/>
Use code “BibRaveHCIndy18” to score a BONUS Hot Chocolate branded cap!

###APRIL

**4/7/2018 - Hot Chocolate 15K/5K Philadelphia - Philadelphia, PA** <br/>
[https://www.hotchocolate15k.com/philadelphia](https://www.hotchocolate15k.com/philadelphia) <br/>
Use code “BRHCPHILLY18” to score a BONUS Hot Chocolate branded cap!

**3/18/2018 - Hot Chocolate 15K/5K Minneapolis - Minneapolis, MN** <br/>
[https://www.hotchocolate15k.com/minneapolis](https://www.hotchocolate15k.com/minneapolis) <br/>
Use code “BRHCMINN18” to score a BONUS Hot Chocolate branded cap!

**4/26-28/2018 - Illinois Marathon - Champaign-Urbana, IL** <br/>
[http://illinoismarathon.com](http://illinoismarathon.com/) <br/>
Use code “2018bibravebonus” to save $5 on race entry!

<% update_date = File.mtime(current_page.source_file).to_date %>
<p class="small center">Last Updated <%=  update_date.strftime("%b %e, %Y") %></p>

<%= partial "partials/ad_unit_bottom.erb" %>
