---
title: "Discounts"
keywords: "Rock n Roll marathon discount,Rock n Roll marathon discount code,Rock n Roll marathon code,HC 15K code,HC 15K discount,HC 15K discount code,Hot chocolate race code,Hot chocolate race discount,Hot chocolate race discount code,Hot Chocolate Discount,Hot Chocolate Discount code,Hot Chocolate code,Craft Classic Seattle code ,Craft Classic Seattle discount,Craft Classic Seattle discount code,Craft Classic San Diego code ,Craft Classic San Diego discount,Craft Classic San Diego discount code,Craft Classic Phoenix code ,Craft Classic Phoenix discount,Craft Classic Phoenix discount code,Madison Mini-Marathon code,Madison Mini-Marathon discount,Madison Mini-Marathon discount code,BTN Big 10K code,BTN Big 10K discount,BTN Big 10K discount code,Big Ten 10K discount,Big Ten 10K discount code,Big Ten 10K code,Bucktown 5K code,Bucktown 5K discount,Bucktown 5K discount code,Urban Bourbon Half code,Urban Bourbon Half discount,Urban Bourbon Half discount code,Kansas City Marathon code,Kansas City Marathon discount ,Kansas City Marathon discount code,Pumpkins in the Park code,Pumpkins in the Park discount,Pumpkins in the Park discount code,Madison Marathon code,Madison Marathon discount,Madison Marathon discount code,North Shore Turkey Trot code,North Shore Turkey Trot discount,North Shore Turkey Trot discount code,Crystal City Twilighter code,Crystal City Twilighter discount,Crystal City Twilighter discount code,Clarendon Day Run code,Clarendon Day Run discount,Clarendon Day Run discount code,Bike the Coast code,Bike the Coast discount,Bike the Coast discount code,Tulsa Run code,Tulsa Run discount,Tulsa Run discount code,Milwaukee Marathon discount,Milwaukee Marathon code,Milwaukee Marathon discount code,Route 66 Marathon discount,Route 66 Marathon code,Route 66 Marathon discount code,Sedona Marathon code,Sedona Marathon discount,Sedona Marathon discount code,DMSE Sports Classic code,DMSE Sports Classic discount code,DMSE Sports Classic discount,Detroit Free Press Marathon code,Detroit Free Press Marathon discount,Detroit Free Press Marathon discount code,Honolulu Marathon code,Honolulu Marathon discount,Honolulu Marathon discount code,Freedom's Run code,Freedom's Run discount,Freedom's Run discount code,Run Inspired 10K code,Run Inspired 10K discount,Run Inspired 10K discount code,Nutrabolt Oktoberfest Half code,Nutrabolt Oktoberfest Half discount,Nutrabolt Oktoberfest Half discount code,Honor Run Half code,Honor Run Half discount,Honor Run Half discount code,Bellin Women's Half code,Bellin Women's Half discount,Bellin Women's Half discount code,Zooma Cape Cod code,Zooma Cape Cod discount,Zooma Cape Cod discount code,Run Laughlin code,Run Laughlin discount,Run Laughlin discount code,Chicago Half Marathon code,Chicago Half Marathon discount,Chicago Half Marathon discount code,BCS Marathon code,BCS Marathon discount,BCS Marathon discount code,The North Face Endurance Wisconsin discount,The North Face Endurance Wisconsin code,The North Face Endurance Wisconsin discount code,TNFECS WI code,TNFECS WI discount,TNFECS WI discount code,Ocean State Rhode Race code,Ocean State Rhode Race discount,Ocean State Rhode Race discount code,Bristol Independence Rhode Race code,Bristol Independence Rhode Race discount,Bristol Independence Rhode Race discount code,Jamestown Rhode Race code,Jamestown Rhode Race discount,Jamestown Rhode Race discount code,North County Wine Run code,North County Wine Run discount,North County Wine Run discount code,Salinas Valley Half Marathon code,Salinas Valley Half Marathon discount,Salinas Valley Half Marathon discount code,Monterey Bay Half Marathon code,Monterey Bay Half Marathon discount,Monterey Bay Half Marathon discount code,Run Mag Mile code,Run Mag Mile discount,Run Mag Mile discount code,Torchlight 5K code,Torchlight 5K discount,Torchlight 5K discount code,America's Finest City Half Marathon code,America's Finest City Half Marathon discount,America's Finest City Half Marathon discount code,AFC Half Marathon code,AFC Half Marathon code,AFC Half Marathon code, 2Toms discount,2Toms code,2Toms discount code,Brilliant Reflective code ,Brilliant Reflective discount code,Brilliant Reflective discount,SmellWell code ,SmellWell discount code,SmellWell discount,Orange Mud code,Orange Mud discount code,Orange Mud discount,Knuckle Lights code,Knuckle Lights discount code,Knuckle Lights discount,AfterShokz code,AfterShokz  discount code,AfterShokz  discount"
description: "Home of running gear and race discounts and coupon codes. Updated on a frequent basis so check back soon. Feel free to share all codes with friends and family."
---



![Featured Logo](/images/icons/featured_logo.png)

---

[**Mesa-Phoenix Marathon**](https://thephoenixmarathon.com/marathon-registration/)

**Saturday, February 24, 2018**

![Mesa-PHX Marathon 2018 Discount Code](/images/icons/header-ambassador.jpg)

A net downhill course with great temperatures during Phoenix winter!
Perfect for PRing or a destination race to escape the cold that rest of the U.S. has to deal with this time of year.
20.7% of runners qualify for Boston and this race has sold out every year since 2013!
I will be there!
Join me!

*Use code **"BONKTTF10"** for $10 off the full and half marathon pricing!*

The discount cannot be applied to the 10k distance.
{: .small }

![Mesa-PHX Marathon 2018 Coupon Code](/images/icons/course_elevation_thumb.jpg)


[**Encinitas Half Marathon**](https://encinitashalfmarathon.com/)

**March 4, 2018**

![Encinitas Half Marathon 2018 Discount Code](/images/icons/encinitas-half-marathon-discount.jpg)


*Use code **"BONKTTF10"** for 10% off any Encinitas Half Marathon entry!*

---

![Gear Logo](/images/icons/gear_logo.png)

---

**AfterShokz** - Receive a BONUS portable storage case using "FREECASE" at [http://bibrave.aftershokz.com/](http://bibrave.aftershokz.com/).

**Knuckle Lights Colors** - Use code “BRKL2017" for 15% off your purchase at [https://www.knucklelights.com/](https://www.knucklelights.com/), expires 9/1/17.

**Orange Mud** - Use code “BRPPFV" for 10% off your purchase at [https://www.orangemud.com/](https://www.orangemud.com/).

**2Toms** - Use code "2Toms20" for 20% off online purchase only at [http://www.2toms.com/](http://www.2toms.com/). The code expires Sept 30, 2017.

**Brilliant Reflective** - Use code "BRP35" for 35% off your online purchase at [http://bit.ly/BRforRunners](http://bit.ly/BRforRunners).
Check out my review of the [Brilliant Reflective](/blog/brilliant-reflective-strips.html) strips.

![Brilliant Reflective Discount Coupon Code](/images/icons/brilliantreflective.png)

**Stunt Puppy** - Use code "BIBRAVE917" for 20% off your purchase at [https://www.stuntpuppy.com](https://www.stuntpuppy.com).

---

![Races Logo](/images/icons/races_logo.png)

---

###SEPTEMBER

**9/2-3/2017 - Rock ‘n’ Roll Virginia Beach, Virginia Beach, VA** <br/>
[http://www.runrocknroll.com/virginia-beach/](http://www.runrocknroll.com/virginia-beach/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 8/27.

**9/9/2017 - Run Mag Mile - Chicago, IL** <br/>
[https://www.runmagmile.com/](https://www.runmagmile.com/) <br/>
Use code “BibRaveMM17” for a bonus RAM Racing drink bottle!

**9/9 -10/2017 - UA Mountain Running Series Copper Mountain - Copper Mountain, CO** <br/>
[http://www.uamountainrunning.com/event-locations/copper-mountain](http://www.uamountainrunning.com/event-locations/copper-mountain) <br/>
Use code “BIBRAVE40” to save 40% on any race distance.

**9/10/2017 - Craft Classic Seattle - Seattle, WA** <br/>
[http://www.craftclassic.com/seattle/](http://www.craftclassic.com/seattle/) <br/>
Use code “BIBRAVEHALF” for $10 off the Half and “BIBRAVE5k” for $5 off the 5K.

**9/16-17/2017 - The North Face Endurance Challenge Wisconsin - Kettle Morraine, WI** <br/>
[https://www.thenorthface.com/get-outdoors/endurance-challenge/wisconsin.html](https://www.thenorthface.com/get-outdoors/endurance-challenge/wisconsin.html) <br/>
Use code “BIB15” to save 15% on your race entry.

**9/17/2017 - Bucktown 5K - Chicago, IL** <br/>
[https://www.bucktown5k.com/](https://www.bucktown5k.com/) <br/>
Use code “BibRaveBT17” for a bonus RAM Racing drink bottle!

**9/17/2017 - Rock ‘n’ Roll Philadelphia - Philadelphia, PA** <br/>
[http://www.runrocknroll.com/philadelphia/](http://www.runrocknroll.com/philadelphia/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 9/10.

**9/23/2017 - Rhode Races Jamestown - Jamestown, RI** <br/>
[http://runri.us/jamestown-race-info/](http://runri.us/jamestown-race-info/) <br/>
Use code "BibRave" to save 10% on race entry.

**9/23/2017 - North County Wine Run - Battle Ground, WA** <br/>
[http://www.ncwinerun.com/](http://www.ncwinerun.com/) <br/>
Use code "winecountry" to save $7 on race entry.

**9/23-24/2017 - Rock ‘n’ Roll Montreal - Montreal, QC** <br/>
[http://www.runrocknroll.com/montreal/en/](http://www.runrocknroll.com/montreal/en/) <br/>
Use code “BIBRAVE15” to save $15 on the Half and Full, valid until 9/17.

**9/24/2017 - Clarendon Day Run - Arlington, VA** <br/>
[http://www.runpacers.com/race/clarendon-day-run/](http://www.runpacers.com/race/clarendon-day-run/) <br/>
Use code "17cdrBibRave" for $5 off.

**9/24/2017 - Chicago Half Marathon & 5K - Chicago, IL** <br/>
[http://www.chicagohalfmarathon.com/](http://www.chicagohalfmarathon.com/) <br/>
Use code “BRCHI17” to save $10 on race entry.

**9/30/2017 - Freedom’s Run - Harper's Ferry, WV** <br/>
[http://www.freedomsrun.org/Default.aspx](http://www.freedomsrun.org/Default.aspx) <br/>
Use code "BIBRAVE5" for $5 off.

###OCTOBER

**10/1/2017 - Hot Chocolate 15K/5K Denver - Denver, CO** <br/>
[https://www.hotchocolate15k.com/denver](https://www.hotchocolate15k.com/denver) <br/>
Use code “BRHCDEN17” to score a BONUS Hot Chocolate branded cap!

**10/7/2017 - Bellin Women’s Half Marathon - Green Bay, WI** <br/>
[http://www.bellinwomenshalf.com/](http://www.bellinwomenshalf.com/) <br/>
Use code “BibRave10” saves $10 on race entry, expires 8/31/17.

**10/7/2017 - Zooma Women’s Series Cape Cod - North Andover, MA** <br/>
[http://zoomarun.com/race/cape-cod/](http://zoomarun.com/race/cape-cod/) <br/>
Use code “BIBRAVE” to save 10% on the half marathon or 10K.

**10/15/2017 - Craft Classic Phoenix - Phoenix, AZ** <br/>
[http://www.craftclassic.com/phoenix/](http://www.craftclassic.com/phoenix/) <br/>
Use code “BIBRAVEHALF” for $10 off the Half and “BIBRAVE5k” for $5 off the 5K.

**10/15/2017 - Run Inspired 10K - Winterthur, DE** <br/>
[http://runinspiredraces.com/](http://runinspiredraces.com/) <br/>
Use code “BibRave” for 10% off your race entry.

**10/14-15/2017 - Milwaukee Marathon - Milwaukee, WI** <br/>
[http://www.runmilwaukeemarathon.com/](http://www.runmilwaukeemarathon.com/) <br/>
Use code “BibRaveMKE” for $5 off.

**10/13-15/2017 - Detroit Free Press Marathon - Detroit, MI** <br/>
[http://www.freepmarathon.com/](http://www.freepmarathon.com/) <br/>
Use code “DETROITBRP17” for 10% off race entry.

![Detriot Free Press Marathon Discount Code](/images/icons/detriot-marathon.jpg)

See my blog posts related to this race: [#1: Race Alert](/blog/race-alert-detriot-free-press-chemical-bank-marathon.html)

**10/14-15/2017 - Rock ‘n’ Roll Brooklyn - Brooklyn, NY** <br/>
[http://www.runrocknroll.com/brooklyn/](http://www.runrocknroll.com/brooklyn/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/1.

**10/14-15/2017 - Rock ‘n’ Roll Denver - Denver, CO** <br/>
[http://www.runrocknroll.com/denver/](http://www.runrocknroll.com/denver/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/8.

**10/14-15/2017 - Rock ‘n’ Roll St. Louis - St. Louis, MO** <br/>
[http://www.runrocknroll.com/st-louis/](http://www.runrocknroll.com/st-louis/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/8.

**10/15/2017 - Rock ‘n’ Roll Lisbon - Lisbon, Portugal** <br/>
[http://www.runrocknroll.com/lisbon/en/](http://www.runrocknroll.com/lisbon/en/) <br/>
Use code “BIBRAVE15” to save 3 €/£ off Half and Full, valid until 10/8.

**10/21/2017 - 47th Annual James Cunningham Seawall Race - Vancouver, BC** <br/>
[http://vancouverrunfest.com](http://vancouverrunfest.com) <br/>
Use code “BIBRAVE10” to save 10% off your race entry! <br/>

**10/21/2017 - Urban Bourbon Half Marathon - Louisville, KY** <br/>
[http://www.urbanbourbonhalf.com/](http://www.urbanbourbonhalf.com/) <br/>
Use code “BourbonRave2017” for 10% off! <br/>

**10/21/2017 - Kansas City Marathon - Kansas City, MO** <br/>
[http://www.sportkc.org/marathon/](http://www.sportkc.org/marathon/) <br/>
Use code “BIBRAVE17” for 15% off! Valid for online registrations only. <br/>

**10/21/2017 - Pumpkins in the Park - Chicago, IL** <br/>
[https://www.pumpkins5k.com/](https://www.pumpkins5k.com/) <br/>
Use code “BibRavePP17” for a bonus RAM Racing drink bottle! <br/>

**10/22/2017 - Nutrabolt Oktoberfest Half - College Station, TX** <br/>
[http://nutrabolthalf.com/](http://nutrabolthalf.com/) <br/>
Use code “BIBRAVER17” to save 10% on race entry.

**10/28/2017 - Tulsa Run - Tulsa, OK** <br/>
[http://tulsasports.org/tulsarun/](http://tulsasports.org/tulsarun/) <br/>
Use code “bibravetr” for $5 off race entry. <br/>

**10/29/2017 - Rock ‘n’ Roll Los Angeles - Los Angeles, CA** <br/>
[http://www.runrocknroll.com/los-angeles/](http://www.runrocknroll.com/los-angeles/) <br/>
Use code “BIBRAVE15” to save $15 on the Half, valid until 10/22.

**10/29/2017 - Ocean State Rhode Race - Narragansett, RI** <br/>
[http://runri.us/narragansett-race-info/](http://runri.us/narragansett-race-info/) <br/>
Use code “BibRave” to save 10% on race entry.

**10/29/2017 - Hot Chocolate 15K/5K Chicago - Chicago, IL** <br/>
[https://www.hotchocolate15k.com/chicago](https://www.hotchocolate15k.com/chicago) <br/>
Use code “BRHCCHI17” to score a BONUS Hot Chocolate branded cap!

###NOVEMBER

**11/4/2017 - Bike the Coast - San Diego, CA** <br/>
[http://bikethecoast.eventmediainc.com/](http://bikethecoast.eventmediainc.com/) <br/>
Use code “BRBTC2017” for 30% off, includes ride & jersey combos!

**11/04/2017 - Rock ‘n’ Roll Merida - Merida, Mexico** <br/>
[http://www.runrocknroll.com/merida/](http://www.runrocknroll.com/merida/) <br/>
Use code “BIBRAVE15” to save $15 or 270 Pesos off Half, valid until 10/28.

**11/04- 05/2017 - Rock ‘n’ Roll Savannah - Savannah, GA** <br/>
[http://www.runrocknroll.com/savannah/](http://www.runrocknroll.com/savannah/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 10/28.

**11/5/2017 - Hot Chocolate 15K/5K Columbus - Columbus, OH** <br/>
[https://www.hotchocolate15k.com/columbus](https://www.hotchocolate15k.com/columbus) <br/>
Use code “BRHCCOL17” to score a BONUS Hot Chocolate branded cap!

**11/11- 12/2017 - Rock ‘n’ Roll Las Vegas - Las Vegas, NV** <br/>
[http://www.runrocknroll.com/las-vegas/](http://www.runrocknroll.com/las-vegas/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 11/05.

**11/12/2017 - Honor Run Half Marathon - Florence, KY** <br/>
[http://www.honorrunhalf.com/](http://www.honorrunhalf.com/) <br/>
Use code “BIBRAVE10” to save $10 on your race entry.

![Honor Run Half Marathon Discount Code](/images/icons/honor-run-half-medals.jpg)

See my blog posts related to this race: [#1: Race Alert](/blog/race-alert-honor-run-half-marathon.html)

**11/12/2017 - Madison Marathon - Madison, WI** <br/>
[http://www.madisonmarathon.org/](http://www.madisonmarathon.org/) <br/>
Use code “RAVE10” for $10 off Madison Marathon or Half Marathon. <br/>
Code will expire Nov 8 at 11:59PM (close of online registration)

**11/12/2017 -  Monterey Bay Half Marathon - Big Sur, CA** <br/>
[http://www.bigsurhalfmarathon.org/](http://www.bigsurhalfmarathon.org/) <br/>
Use code “BRP17” for a bonus 13.1 magnet!

**11/18-19/2017 - Williams Route 66 Marathon - Tulsa, OK** <br/>
[http://route66marathon.com/](http://route66marathon.com/) <br/>
Use code “2017R66BR” for $10 off your race entry. <br/>

**11/23/2017 - North Shore Turkey Trot - Highland Park, IL** <br/>
[https://www.northshoreturkeytrot.com/](https://www.northshoreturkeytrot.com/) <br/>
Use code “BibRaveTT17” for a bonus RAM Racing drink bottle! <br/>

###DECEMBER

**12/2/2017 - Run Laughlin -  Laughlin, NV** <br/>
[http://runlaughlin.com/](http://runlaughlin.com/) <br/>
Use code “BIBRAVE20” to save 20% on your race entry!

**12/02- 03/2017 - Rock ‘n’ Roll San Antonio - San Antonio, TX** <br/>
[http://www.runrocknroll.com/san-antonio/](http://www.runrocknroll.com/san-antonio/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 11/26.

**12/3/2017 - Hot Chocolate 15K/5K Scottsdale - Scottsdale, AZ** <br/>
[https://www.hotchocolate15k.com/scottsdale](https://www.hotchocolate15k.com/scottsdale) <br/>
Use code “BRHCSCOTTS17” to score a BONUS Hot Chocolate branded cap!

**12/10/2017 - BCS Marathon - College Station, TX** <br/>
[http://bcsmarathon.com/](http://bcsmarathon.com/) <br/>
Code “BIBRAVER17" saves 10% on your race entry.

**12/10/2017 - Honolulu Marathon - Honolulu, HI** <br/>
[http://www.honolulumarathon.org/](http://www.honolulumarathon.org/) <br/>
Use code “BIBRAVEHNL” to save 15% on your race entry!

**12/10/2017 - Hot Chocolate 15K/5K St. Louis - St. Louis, MO** <br/>
[https://www.hotchocolate15k.com/stlouis](https://www.hotchocolate15k.com/stlouis) <br/>
Use code “BRHCSTL17” to score a BONUS Hot Chocolate branded cap!

**12/17/2017 - Hot Chocolate 15K/5K Tampa - Tampa, FL** <br/>
[https://www.hotchocolate15k.com/tampa](https://www.hotchocolate15k.com/tampa) <br/>
Use code “BRHCTAMPA17” to score a BONUS Hot Chocolate branded cap!

##2018

###JANUARY

**1/7/2018 - Hot Chocolate 15K/5K San Francisco - San Francisco, CA** <br/>
[https://www.hotchocolate15k.com/sanfrancisco](https://www.hotchocolate15k.com/sanfrancisco) <br/>
Use code “BRHCSF18” to score a BONUS Hot Chocolate branded cap!

**1/13-14/2018 - Rock ‘n’ Roll Arizona - Phoenix, AZ** <br/>
[http://www.runrocknroll.com/arizona/](http://www.runrocknroll.com/arizona/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 1/7/18.

**1/21/2018 - Hot Chocolate 15K/5K Atlanta - Atlanta, GA** <br/>
[https://www.hotchocolate15k.com/atlanta](https://www.hotchocolate15k.com/atlanta) <br/>
Use code “BRHCATL18” to score a BONUS Hot Chocolate branded cap!

###FEBRUARY

**2/3/2018 - Sedona Marathon - Sedona, AZ** <br/>
[http://www.sedonamarathon.com/](http://www.sedonamarathon.com/) <br/>
Use code “18BibRave" for 20% off race entry!

**2/3/2018 - Hot Chocolate 15K/5K Dallas - Dallas, TX** <br/>
[https://www.hotchocolate15k.com/dallas](https://www.hotchocolate15k.com/dallas) <br/>
Use code “BRHCDAL18” to score a BONUS Hot Chocolate branded cap!

**2/17/2018 - Hot Chocolate 15K/5K Nashville - Nashville, TN** <br/>
[https://www.hotchocolate15k.com/nashville](https://www.hotchocolate15k.com/nashville) <br/>
Use code “BRHCNASH18” to score a BONUS Hot Chocolate branded cap!

**2/18/2018 - A1A Fort Lauderdale Marathon and Half Marathon - Fort Lauderdale, FL** <br/>
[http://a1amarathon.com/](http://a1amarathon.com/) <br/>
Use code “BIBRAVE” to save 15% on the Marathon, Half Marathon and 5K.

**2/24/2018 - Mesa-Phoenix Marathon - Mesa, AZ** <br/>
[https://thephoenixmarathon.com/](https://thephoenixmarathon.com/) <br/>
Use code "BONKTTF10" for $10 off the full and half marathon pricing!

See my blog posts related to this race: [2018 Mesa-Phoenix Marathon Ambassador + Discount Code](/blog/mesa-phx-marathon-ambassador.html)

**2/25/2018 - Hot Chocolate 15K/5K Las Vegas - Las Vegas, NV** <br/>
[https://www.hotchocolate15k.com/lasvegas](https://www.hotchocolate15k.com/lasvegas) <br/>
Use code “BRHCVEGAS18” to score a BONUS Hot Chocolate branded cap!

###MARCH

**3/4/2018 - Encinitas Half Marathon - Encinitas, CA** <br/>
[https://encinitashalfmarathon.com/](https://encinitashalfmarathon.com/) <br/>
Use code "BONKTTF10" for 10% off any Encinitas Half Marathon entry!

**3/4/2018 - Hot Chocolate 15K/5K Seattle - Seattle, WA** <br/>
[https://www.hotchocolate15k.com/seattle](https://www.hotchocolate15k.com/seattle) <br/>
Use code “BRHCSEA18” to score a BONUS Hot Chocolate branded cap!

**3/18/2018 - Hot Chocolate 15K/5K San Diego - San Diego, CA** <br/>
[https://www.hotchocolate15k.com/sandiego](https://www.hotchocolate15k.com/sandiego) <br/>
Use code “BRHCSD18” to score a BONUS Hot Chocolate branded cap!

###APRIL

**4/7/2018 - Hot Chocolate 15K/5K Philadelphia - Philadelphia, PA** <br/>
[https://www.hotchocolate15k.com/philadelphia](https://www.hotchocolate15k.com/philadelphia) <br/>
Use code “BRHCPHILLY18” to score a BONUS Hot Chocolate branded cap!

**3/18/2018 - Hot Chocolate 15K/5K Minneapolis - Minneapolis, MN** <br/>
[https://www.hotchocolate15k.com/minneapolis](https://www.hotchocolate15k.com/minneapolis) <br/>
Use code “BRHCMINN18” to score a BONUS Hot Chocolate branded cap!

<% update_date = File.mtime(current_page.source_file).to_date %>
<p class="small center">Last Updated <%=  update_date.strftime("%b %e, %Y") %></p>

<%= partial "partials/ad_unit_bottom.erb" %>
