---
title: "Discounts"
keywords: "Rock n Roll marathon discount,
Rock n Roll marathon discount code,
Rock n Roll marathon code,
HC 15K code,
HC 15K discount,
HC 15K discount code,
Hot chocolate race code,
Hot chocolate race discount,
Hot chocolate race discount code,
Hot Chocolate discount,
Hot Chocolate discount code,
Hot Chocolate code,
Madison Marathon code,
Madison Marathon discount,
Madison Marathon discount code,
North Shore Turkey Trot code,
North Shore Turkey Trot discount,
North Shore Turkey Trot discount code,
Bike the Coast code,
Bike the Coast discount,
Bike the Coast discount code,
Tulsa Run code,
Tulsa Run discount,
Tulsa Run discount code,
Route 66 Marathon discount,
Route 66 Marathon code,
Route 66 Marathon discount code,
Sedona Marathon code,
Sedona Marathon discount,
Sedona Marathon discount code,
Honolulu Marathon code,
Honolulu Marathon discount,
Honolulu Marathon discount code,
Honor Run Half code,
Honor Run Half discount,
Honor Run Half discount code,
Run Laughlin code,
Run Laughlin discount,
Run Laughlin discount code,
BCS Marathon code,
BCS Marathon discount,
BCS Marathon discount code,
Ocean State Rhode Race code,
Ocean State Rhode Race discount,
Ocean State Rhode Race discount code,
Ocean State code,
Ocean State discount,
Ocean State discount code,
OSRR code,
OSRR discount,
OSRR discount code,
Monterey Bay Half Marathon code,
Monterey Bay Half Marathon discount,
Monterey Bay Half Marathon discount code,
James Cunningham Seawall Race code,
James Cunningham Seawall Race discount,
James Cunningham Seawall Race discount code,
Vancouver Seawall Race code,
Vancouver Seawall Race discount,
Vancouver Seawall Race discount code,
Rock n Roll Las Vegas code,
Rock n Roll Las Vegas discount,
Rock n Roll Las Vegas discount code,
Rock n Roll Merida code,
Rock n Roll Merida discount,
Rock n Roll Merida discount code,
Rock n Roll San Antonio code,
Rock n Roll San Antonio discount,
Rock n Roll San Antonio discount code,
Rock n Roll Arizona code,
Rock n Roll Arizona discount,
Rock n Roll Arizona discount code,
Rock n Roll Savannah code,
Rock n Roll Savannah discount,
Rock n Roll Savannah discount code,
Rock n Roll New Orleans code,
Rock n Roll New Orleans discount,
Rock n Roll New Orleans discount code,
RnR Las Vegas code,
RnR Las Vegas discount,
RnR Las Vegas discount code,
RnR Merida code,
RnR Merida discount,
RnR Merida discount code,
RnR San Antonio code,
RnR San Antonio discount,
RnR San Antonio discount code,
RnR Arizona code,
RnR Arizona discount,
RnR Arizona discount code,
RnR Savannah code,
RnR Savannah discount,
RnR Savannah discount code,
RnR New Orleans code,
RnR New Orleans discount,
RnR New Orleans discount code,
Hot Chocolate 15K Chicago code,
Hot Chocolate 15K Chicago discount,
Hot Chocolate 15K Chicago discount code,
Hot Chocolate 15K Columbus code,
Hot Chocolate 15K Columbus discount,
Hot Chocolate 15K Columbus discount code,
Hot Chocolate 15K Scottsdale code,
Hot Chocolate 15K Scottsdale discount,
Hot Chocolate 15K Scottsdale discount code,
Hot Chocolate 15K St Louis code,
Hot Chocolate 15K St Louis discount,
Hot Chocolate 15K St Louis discount code,
Hot Chocolate 15K Tampa code,
Hot Chocolate 15K Tampa discount,
Hot Chocolate 15K Tampa discount code,
Hot Chocolate 15K San Francisco code,
Hot Chocolate 15K San Francisco discount,
Hot Chocolate 15K San Francisco discount code,
Hot Chocolate 15K Atlanta code,
Hot Chocolate 15K Atlanta discount,
Hot Chocolate 15K Atlanta discount code,
Hot Chocolate 15K Dallas code,
Hot Chocolate 15K Dallas discount,
Hot Chocolate 15K Dallas discount code,
Hot Chocolate 15K Nashville code,
Hot Chocolate 15K Nashville discount,
Hot Chocolate 15K Nashville discount code,
Hot Chocolate 15K Las Vegas code,
Hot Chocolate 15K Las Vegas discount,
Hot Chocolate 15K Las Vegas discount code,
Hot Chocolate 15K Seattle code,
Hot Chocolate 15K Seattle discount,
Hot Chocolate 15K Seattle discount code,
Hot Chocolate 15K San Diego code,
Hot Chocolate 15K San Diego discount,
Hot Chocolate 15K San Diego discount code,
Hot Chocolate 15K Philadelphia code,
Hot Chocolate 15K Philadelphia discount,
Hot Chocolate 15K Philadelphia discount code,
Hot Chocolate 15K Minneapolis code,
Hot Chocolate 15K Minneapolis discount,
Hot Chocolate 15K Minneapolis discount code,
Hot Chocolate 15K Indianapolis code,
Hot Chocolate 15K Indianapolis discount,
Hot Chocolate 15K Indianapolis discount code,
Hot Chocolate 15K Charlotte code,
Hot Chocolate 15K Charlotte discount,
Hot Chocolate 15K Charlotte discount code,
Hot Chocolate 15K Houston code,
Hot Chocolate 15K Houston discount,
Hot Chocolate 15K Houston discount code,
HC Indianapolis code,
HC Indianapolis discount,
HC Indianapolis discount code,
HC Charlotte code,
HC Charlotte discount,
HC Charlotte discount code,
HC Houston code,
HC Houston discount,
HC Houston discount code,
HC Chicago code,
HC Chicago discount,
HC Chicago discount code,
HC Columbus code,
HC Columbus discount,
HC Columbus discount code,
HC Scottsdale code,
HC Scottsdale discount,
HC Scottsdale discount code,
HC St Louis code,
HC St Louis discount,
HC St Louis discount code,
HC Tampa code,
HC Tampa discount,
HC Tampa discount code,
HC San Francisco code,
HC San Francisco discount,
HC San Francisco discount code,
HC Atlanta code,
HC Atlanta discount,
HC Atlanta discount code,
HC Dallas code,
HC Dallas discount,
HC Dallas discount code,
HC Nashville code,
HC Nashville discount,
HC Nashville discount code,
HC Las Vegas code,
HC Las Vegas discount,
HC Las Vegas discount code,
HC Seattle code,
HC Seattle discount,
HC Seattle discount code,
HC San Diego code,
HC San Diego discount,
HC San Diego discount code,
HC Philadelphia code,
HC Philadelphia discount,
HC Philadelphia discount code,
HC Minneapolis code,
HC Minneapolis discount,
HC Minneapolis discount code,
A1A Fort Lauderdale Marathon code,
A1A Fort Lauderdale Marathon  discount,
A1A Fort Lauderdale Marathon  discount code,
A1A Fort Lauderdale code,
A1A Fort Lauderdale discount,
A1A Fort Lauderdale discount code,
A1A Marathon code,
A1A Marathon discount,
A1A Marathon discount code,
Hot Chocolate Chicago code,
Hot Chocolate Chicago discount,
Hot Chocolate Chicago discount code,
Hot Chocolate Columbus code,
Hot Chocolate Columbus discount,
Hot Chocolate Columbus discount code,
Hot Chocolate Scottsdale code,
Hot Chocolate Scottsdale discount,
Hot Chocolate Scottsdale discount code,
Hot Chocolate St Louis code,
Hot Chocolate St Louis discount,
Hot Chocolate St Louis discount code,
Hot Chocolate Tampa code,
Hot Chocolate Tampa discount,
Hot Chocolate Tampa discount code,
Hot Chocolate San Francisco code,
Hot Chocolate San Francisco discount,
Hot Chocolate San Francisco discount code,
Hot Chocolate Atlanta code,
Hot Chocolate Atlanta discount,
Hot Chocolate Atlanta discount code,
Hot Chocolate Dallas code,
Hot Chocolate Dallas discount,
Hot Chocolate Dallas discount code,
Hot Chocolate Nashville code,
Hot Chocolate Nashville discount,
Hot Chocolate Nashville discount code,
Hot Chocolate Las Vegas code,
Hot Chocolate Las Vegas discount,
Hot Chocolate Las Vegas discount code,
Hot Chocolate Seattle code,
Hot Chocolate Seattle discount,
Hot Chocolate Seattle discount code,
Hot Chocolate San Diego code,
Hot Chocolate San Diego discount,
Hot Chocolate San Diego discount code,
Hot Chocolate Philadelphia code,
Hot Chocolate Philadelphia discount,
Hot Chocolate Philadelphia discount code,
Hot Chocolate Minneapolis code,
Hot Chocolate Minneapolis discount,
Hot Chocolate Minneapolis discount code,
Hot Chocolate Indianapolis code,
Hot Chocolate Indianapolis discount,
Hot Chocolate Indianapolis discount code,
Hot Chocolate Charlotte code,
Hot Chocolate Charlotte discount,
Hot Chocolate Charlotte discount code,
Hot Chocolate Houston code,
Hot Chocolate Houston discount,
Hot Chocolate Houston discount code,
South Shore Half code,
South Shore Half discount,
South Shore Half discount code,
South Shore code,
South Shore discount,
South Shore discount code,
13.1 Miami Beach code,
13.1 Miami Beach discount,
13.1 Miami Beach discount code,
13.1 Miami code,
13.1 Miami discount,
13.1 Miami discount code,
Miami Beach Half code,
Miami Beach Half discount,
Miami Beach Half discount code,
Miami Half code,
Miami Half discount,
Miami Half discount code,
Illinois Marathon code,
Illinois Marathon discount,
Illinois Marathon discount code,
IL Marathon code,
IL Marathon discount,
IL Marathon discount code,
Art Van Turkey Trot code,
Art Van Turkey Trot discount,
Art Van Turkey Trot discount code,
Chicago Turkey Trot code,
Chicago Turkey Trot discount,
Chicago Turkey Trot discount code,
Tobacco Road Marathon code,
Tobacco Road Marathon discount,
Tobacco Road Marathon discount code,
Tobacco Road Half Marathon code,
Tobacco Road Half Marathon discount,
Tobacco Road Half Marathon discount code,
Art Van Turkey Trot code,
Art Van Turkey Trot discount,
Art Van Turkey Trot discount code,
MN Turkey Trot code,
MN Turkey Trot discount,
MN Turkey Trot discount code,
Minneapolis Turkey Trot code,
Minneapolis Turkey Trot discount,
Minneapolis Turkey Trot discount code,
Century Link Turkey Day 5K Minneapolis code
Century Link Turkey Day 5K Minneapolis discount
Century Link Turkey Day 5K Minneapolis discount code
Miami Marathon code,
Miami Marathon discount,
Miami Marathon discount code,
Miami Half Marathon code,
Miami Half Marathon discount,
Miami Half Marathon discount code,
F3 Chicago Half Marathon code,
F3 Chicago Half Marathon discount,
F3 Chicago Half Marathon discount code,
F3 Half Marathon code,
F3 Half Marathon discount,
F3 Half Marathon discount code,
F3 Lake Half Marathon code,
F3 Lake Half Marathon discount,
F3 Lake Half Marathon discount code,
Jingle All the Way 5K code,
Jingle All the Way 5K discount,
Jingle All the Way 5K  discount code,
Jingle All the Way 15K code,
Jingle All the Way 15K discount,
Jingle All the Way 15K  discount code,
DAV5K code,
DAV5K discount,
DAV5K discount code,
Palm Beaches Marathon code,
Palm Beaches Marathon discount,
Palm Beaches Marathon discount code,
Palm Beaches Half Marathon code,
Palm Beaches Half Marathon discount,
Palm Beaches Half Marathon discount code,
Mount Dora Half Marathon code,
Mount Dora Half Marathon discount,
Mount Dora Half Marathon discount code,
Indy 500 Mini Marathon code,
Indy 500 Mini Marathon discount,
Indy 500 Mini Marathon discount code,
OneAmerica 500 Mini Marathon code,
OneAmerica 500 Mini Marathon discount,
OneAmerica 500 Mini Marathon discount code,
Indy 500 Half Marathon code,
Indy 500 Half Marathon discount,
Indy 500 Half Marathon discount code,
Indianapolis 500 Half Marathon code,
Indianapolis 500 Half Marathon discount,
Indianapolis 500 Half Marathon discount code,
OneAmerica 500 Half Marathon code,
OneAmerica 500 Half Marathon discount,
OneAmerica 500 Half Marathon discount code"
description: "Home of running gear and race discounts and coupon codes. Updated on a frequent basis so check back soon. Feel free to share all codes with friends and family."
---



![Featured Logo](/images/icons/featured_logo.png)

---

[**Mesa-Phoenix Marathon**](https://thephoenixmarathon.com/marathon-registration/)

**Saturday, February 24, 2018**

![Mesa-PHX Marathon 2018 Discount Code](/images/icons/header-ambassador.jpg)

A net downhill course with great temperatures during Phoenix winter!
Perfect for PRing or a destination race to escape the cold that rest of the U.S. has to deal with this time of year.
20.7% of runners qualify for Boston and this race has sold out every year since 2013!
I will be there!
Join me!

*Use code **"BONKTTF10"** for $10 off the full and half marathon pricing!*

The discount cannot be applied to the 10k distance.
{: .small }

![Mesa-PHX Marathon 2018 Coupon Code](/images/icons/course_elevation_thumb.jpg)


[**Encinitas Half Marathon**](https://encinitashalfmarathon.com/)

**March 4, 2018**

![Encinitas Half Marathon 2018 Discount Code](/images/icons/encinitas-half-marathon-discount.jpg)


*Use code **"BONKTTF10"** for 10% off any Encinitas Half Marathon entry!*

---

![Gear Logo](/images/icons/gear_logo.png)

---

**AfterShokz** - Receive $30 off your purchase with code “BIBRAVE30” at [http://bibrave.aftershokz.com/](http://bibrave.aftershokz.com/).

**Brilliant Reflective** - Use code "BRPmulti" for 20% off multipacks at [http://bit.ly/BRforRunners](http://bit.ly/BRforRunners).
Check out my review of the [Brilliant Reflective](/blog/brilliant-reflective-strips.html) strips.

![Brilliant Reflective Discount Coupon Code](/images/icons/brilliantreflective.png)

**Fun Run Box** - Use code “BIBRAVE” for 15% off any subscription or single Oktoberfest box at [https://funrunbox.com/bibrave](https://funrunbox.com/bibrave).

![Fun Run Box Discount Coupon Code](/images/icons/FunRunBox.jpg)

**Skins** - Use code “BIBRAVE20” for 20% at [https://www.skins.net/usa](https://www.skins.net/usa). Only valid on full price items, expires 10/31/17.

---

![Races Logo](/images/icons/races_logo.png)

---

###NOVEMBER

**11/4/2017 - Bike the Coast - San Diego, CA** <br/>
[http://bikethecoast.eventmediainc.com/](http://bikethecoast.eventmediainc.com/) <br/>
Use code “BRBTC2017” for 30% off, includes ride & jersey combos!

**11/04/2017 - DAV5K Tulsa - Tulsa, OK** <br/>
[http://www.dav5k.org/events/tulsa/](http://www.dav5k.org/events/tulsa/) <br/>
Use code “SAVE5” to save $5 on race entry.

**11/5/2017 - Hot Chocolate 15K/5K Columbus - Columbus, OH** <br/>
[https://www.hotchocolate15k.com/columbus](https://www.hotchocolate15k.com/columbus) <br/>
Use code “BRHCCOL17” to score a BONUS Hot Chocolate branded cap!

**11/5/2017 - South Shore Half - Norwell, MA** <br/>
[http://southshorehalf.com/](http://southshorehalf.com/) <br/>
Use code “BRSSH10” to save 10% on your race entry.

**11/11- 12/2017 - Rock ‘n’ Roll Las Vegas - Las Vegas, NV** <br/>
[http://www.runrocknroll.com/las-vegas/](http://www.runrocknroll.com/las-vegas/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 11/05.

**11/12/2017 - Honor Run Half Marathon - Florence, KY** <br/>
[http://www.honorrunhalf.com/](http://www.honorrunhalf.com/) <br/>
Use code “BIBRAVE10” to save $10 on your race entry.

![Honor Run Half Marathon Discount Code](/images/icons/honor-run-half-medals.jpg)

See my blog posts related to this race: [#1: Race Alert](/blog/race-alert-honor-run-half-marathon.html), [2017 Fall/Winter Race Schedule](/blog/2017-fall-winter-schedule.html)

**11/12/2017 - Madison Marathon - Madison, WI** <br/>
[http://www.madisonmarathon.org/](http://www.madisonmarathon.org/) <br/>
Use code “RAVE10” for $10 off Madison Marathon or Half Marathon. <br/>
Code will expire Nov 8 at 11:59PM (close of online registration)

**11/12/2017 -  Monterey Bay Half Marathon - Big Sur, CA** <br/>
[http://www.bigsurhalfmarathon.org/](http://www.bigsurhalfmarathon.org/) <br/>
Use code “BRP17” for a bonus 13.1 magnet!

**11/18-19/2017 - Williams Route 66 Marathon - Tulsa, OK** <br/>
[http://route66marathon.com/](http://route66marathon.com/) <br/>
Use code “2017R66BR” for $10 off your race entry. <br/>

**11/23/2017 - North Shore Turkey Trot - Highland Park, IL** <br/>
[https://www.northshoreturkeytrot.com/](https://www.northshoreturkeytrot.com/) <br/>
Use code “BibRaveTT17” for a bonus RAM Racing drink bottle! <br/>

**11/23/2017 - Art Van Turkey Trot - Chicago, IL** <br/>
[http://www.turkeytrotchicago.com/](http://www.turkeytrotchicago.com/) <br/>
Use code “17BIBRAVE10” to save 10% off all distances!

**11/23/2017 - Century Link Turkey Day 5K Minneapolis - Minneapolis, MN** <br/>
[http://www.turkeyday-5k.com/races/minneapolis/](http://www.turkeyday-5k.com/races/minneapolis/) <br/>
Use code “TURKEYDAY2017” to save 10% off all distances!

###DECEMBER

**12/1-3/2017 - Palm Beaches Marathon -  West Palm Beach, FL** <br/>
[https://www.thefitteampalmbeachesmarathon.com/](https://www.thefitteampalmbeachesmarathon.com/) <br/>
Use code “PBMBR20” to save 20% on any single race - full, half, or 5k.

**12/2/2017 - Run Laughlin -  Laughlin, NV** <br/>
[http://runlaughlin.com/](http://runlaughlin.com/) <br/>
Use code “BIBRAVE20” to save 20% on your race entry!

**12/02- 03/2017 - Rock ‘n’ Roll San Antonio - San Antonio, TX** <br/>
[http://www.runrocknroll.com/san-antonio/](http://www.runrocknroll.com/san-antonio/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 11/26.

**12/3/2017 - Hot Chocolate 15K/5K Scottsdale - Scottsdale, AZ** <br/>
[https://www.hotchocolate15k.com/scottsdale](https://www.hotchocolate15k.com/scottsdale) <br/>
Use code “BRHCSCOTTS17” to score a BONUS Hot Chocolate branded cap!

**12/10/2017 - BCS Marathon - College Station, TX** <br/>
[http://bcsmarathon.com/](http://bcsmarathon.com/) <br/>
Code “BIBRAVER17" saves 10% on your race entry.

**12/10/2017 - Honolulu Marathon - Honolulu, HI** <br/>
[http://www.honolulumarathon.org/](http://www.honolulumarathon.org/) <br/>
Use code “BIBRAVEHNL” to save 15% on your race entry!

**12/10/2017 - Hot Chocolate 15K/5K St. Louis - St. Louis, MO** <br/>
[https://www.hotchocolate15k.com/stlouis](https://www.hotchocolate15k.com/stlouis) <br/>
Use code “BRHCSTL17” to score a BONUS Hot Chocolate branded cap!

**12/10/2017 - Jingle All the Way 5K & 15K - Washington, D.C.** <br/>
[https://www.runpacers.com/race/jingle-all-the-way-5k/](https://www.runpacers.com/race/jingle-all-the-way-5k/) <br/>
Code “BibRaveJingle” saves $5 off the 5K or 15K.

**12/17/2017 - Hot Chocolate 15K/5K Tampa - Tampa, FL** <br/>
[https://www.hotchocolate15k.com/tampa](https://www.hotchocolate15k.com/tampa) <br/>
Use code “BRHCTAMPA17” to score a BONUS Hot Chocolate branded cap!

**12/17/2017 - Mount Dora Half Marathon - Mount Dora, FL** <br/>
[http://www.mountdorahalfmarathon.com/](http://www.mountdorahalfmarathon.com/) <br/>
Use code “BIBRAVE15” to save 15% on the half or 5k!

##2018

###JANUARY

**1/7/2018 - Hot Chocolate 15K/5K San Francisco - San Francisco, CA** <br/>
[https://www.hotchocolate15k.com/sanfrancisco](https://www.hotchocolate15k.com/sanfrancisco) <br/>
Use code “BRHCSF18” to score a BONUS Hot Chocolate branded cap!

**1/13-14/2018 - Rock ‘n’ Roll Arizona - Phoenix, AZ** <br/>
[http://www.runrocknroll.com/arizona/](http://www.runrocknroll.com/arizona/) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 1/7/18.

**1/20/2018 - F^3 Lake Half Marathon - Chicago, IL** <br/>
[http://www.f3running.com/](http://www.f3running.com/) <br/>
Use code “bibrave13” to save $6 off the half and “bibrave5” to save $5 off 5K!

**2/10/2018 - Hot Chocolate 15K/5K Houston - Houston, TX** <br/>
[https://www.hotchocolate15k.com/houston](https://www.hotchocolate15k.com/houston) <br/>
Use code “BibRaveHCHouston18” to score a BONUS Hot Chocolate branded cap!

**1/28/2018 - Miami Marathon - Miami Beach, FL** <br/>
[http://www.themiamimarathon.com/](http://www.themiamimarathon.com/) <br/>
Use code “BIBRAVEMM18” to save $5 on race entry!

###FEBRUARY

**2/3/2018 - Sedona Marathon - Sedona, AZ** <br/>
[http://www.sedonamarathon.com/](http://www.sedonamarathon.com/) <br/>
Use code “18BibRave" for 20% off race entry!

**2/3/2018 - Hot Chocolate 15K/5K Dallas - Dallas, TX** <br/>
[https://www.hotchocolate15k.com/dallas](https://www.hotchocolate15k.com/dallas) <br/>
Use code “BRHCDAL18” to score a BONUS Hot Chocolate branded cap!

**2/4/2018 - Hot Chocolate 15K/5K Atlanta - Atlanta, GA** <br/>
[https://www.hotchocolate15k.com/atlanta](https://www.hotchocolate15k.com/atlanta) <br/>
Use code “BRHCATL18” to score a BONUS Hot Chocolate branded cap!

**2/10/2018 - Hot Chocolate 15K/5K Charlotte - Charlotte, NC** <br/>
[https://www.hotchocolate15k.com/charlotte](https://www.hotchocolate15k.com/charlotte) <br/>
Use code “BibRaveHCChar18” to score a BONUS Hot Chocolate branded cap!

**2/11/2018 - Palm Desert Half Marathon - Palm Desert, CA** <br/>
[http://www.palmdeserthalfmarathon.com/](http://www.palmdeserthalfmarathon.com/) <br/>
Use code “BRPD18” to save 10% on race entry!

**2/17/2018 - Hot Chocolate 15K/5K Nashville - Nashville, TN** <br/>
[https://www.hotchocolate15k.com/nashville](https://www.hotchocolate15k.com/nashville) <br/>
Use code “BRHCNASH18” to score a BONUS Hot Chocolate branded cap!

**2/18/2018 - A1A Fort Lauderdale Marathon and Half Marathon - Fort Lauderdale, FL** <br/>
[http://a1amarathon.com/](http://a1amarathon.com/) <br/>
Use code “BIBRAVE” to save 15% on the Marathon, Half Marathon and 5K.

**2/24/2018 - Mesa-Phoenix Marathon - Mesa, AZ** <br/>
[https://thephoenixmarathon.com/](https://thephoenixmarathon.com/) <br/>
Use code "BONKTTF10" for $10 off the full and half marathon pricing!

See my blog posts related to this race: [2018 Mesa-Phoenix Marathon Ambassador + Discount Code](/blog/mesa-phx-marathon-ambassador.html)

**2/25/2018 - Hot Chocolate 15K/5K Las Vegas - Las Vegas, NV** <br/>
[https://www.hotchocolate15k.com/lasvegas](https://www.hotchocolate15k.com/lasvegas) <br/>
Use code “BRHCVEGAS18” to score a BONUS Hot Chocolate branded cap!

###MARCH

**3/4/2018 - Encinitas Half Marathon - Encinitas, CA** <br/>
[https://encinitashalfmarathon.com/](https://encinitashalfmarathon.com/) <br/>
Use code "BONKTTF10" for 10% off any Encinitas Half Marathon entry!

**3/4/2018 - 13.1 Miami Beach - Miami Beach, FL** <br/>
[http://www.run131series.com/miamibeach/](http://www.run131series.com/miamibeach/) <br/>
Use code “BIBRAVEMB18” to save $5 on the half marathon!

**3/4/2018 - Rock ‘n’ Roll New Orleans - New Orleans, LA** <br/>
[http://www.runrocknroll.com/new-orleans](http://www.runrocknroll.com/new-orleans) <br/>
Use code “BIBRAVE15” to save $15 off Half and Full, valid until 1/29.

**3/4/2018 - Hot Chocolate 15K/5K Seattle - Seattle, WA** <br/>
[https://www.hotchocolate15k.com/seattle](https://www.hotchocolate15k.com/seattle) <br/>
Use code “BRHCSEA18” to score a BONUS Hot Chocolate branded cap!

**3/4/2018 - The Alamo 13.1 & Alamo 26.2 Marathon - San Antonio, TX** <br/>
[http://alamo131.com/](http://alamo131.com/)
Use code “BIBRAVE18” to save 15% on race entry!

**3/18/2018 - Hot Chocolate 15K/5K San Diego - San Diego, CA** <br/>
[https://www.hotchocolate15k.com/sandiego](https://www.hotchocolate15k.com/sandiego) <br/>
Use code “BRHCSD18” to score a BONUS Hot Chocolate branded cap!

**3/18/2018 - Tobacco Road Marathon and Half Marathon - Cary, NC** <br/>
[http://www.tobaccoroadmarathon.com](http://www.tobaccoroadmarathon.com) <br/>
Use code “bibrave1” to save $20 on race registration!

**3/24/2018 - Hot Chocolate 15K/5K Indianapolis - Indianapolis, IN** <br/>
[https://www.hotchocolate15k.com/indianapolis](https://www.hotchocolate15k.com/indianapolis) <br/>
Use code “BibRaveHCIndy18” to score a BONUS Hot Chocolate branded cap!

**3/25/2018 - All American Marathon - Fort Bragg, NC** <br/>
[https://bragg.armymwr.com/programs/all-american-marathon](https://bragg.armymwr.com/programs/all-american-marathon) <br/>
Use code "TODDALLAMERICAN" for a 10% discount!

###APRIL

**4/7/2018 - Hot Chocolate 15K/5K Philadelphia - Philadelphia, PA** <br/>
[https://www.hotchocolate15k.com/philadelphia](https://www.hotchocolate15k.com/philadelphia) <br/>
Use code “BRHCPHILLY18” to score a BONUS Hot Chocolate branded cap!

**4/8/2018 - Hapalua - Hawaii’s Half Marathon - Waikiki Beach, HI** <br/>
[http://thehapalua.com/](http://thehapalua.com/)
Use code “BIBRAVEHAPALUA” to save 10% on race entry.

**4/8/2018 - Statesman Cap10K - Austin, TX** <br/>
[http://www.cap10k.com/](http://www.cap10k.com/)
Use code “BibRaveRunsCap10K” to save $5 on race entry.

**3/18/2018 - Hot Chocolate 15K/5K Minneapolis - Minneapolis, MN** <br/>
[https://www.hotchocolate15k.com/minneapolis](https://www.hotchocolate15k.com/minneapolis) <br/>
Use code “BRHCMINN18” to score a BONUS Hot Chocolate branded cap!

**4/26-28/2018 - Illinois Marathon - Champaign-Urbana, IL** <br/>
[http://illinoismarathon.com](http://illinoismarathon.com/) <br/>
Use code “2018bibravebonus” to save $5 on race entry!

###MAY

**5/5/2018 - OneAmerica 500 Festival Mini-Marathon - Indianapolis, IN** <br/>
[https://www.500festival.com/running/mini-marathon/](https://www.500festival.com/running/mini-marathon/) <br/>
Use code “BRP2018” to save $5 on race entry!

<% update_date = File.mtime(current_page.source_file).to_date %>
<p class="small center">Last Updated <%=  update_date.strftime("%b %e, %Y") %></p>

<%= partial "partials/ad_unit_bottom.erb" %>
