<% content_for :head do
  js = javascript_include_tag "index"
end %>

<%= partial "partials/post_feature.erb", locals: {
  article: blog.articles[0],
  id: "featured_post" }%>

<div class="sub_features">
  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    style: "width: 42%;font-size:.8em;",
    id: "random_post_1"   }%>

  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    style: "width: 42%;font-size:.8em;",
    id: "random_post_2" }%>
</div>

<%
#create a card_group for each data.tags
card_groups = {}
data.tags.each do |tag_info|
  card_groups[tag_info.name] = {
    info: tag_info,
    articles: []
  }
end

#add relevant articles to each card_groups
blog.articles.each do |article|
  tag_info = get_tag_info(article.tags)
  card_groups[tag_info.name][:articles].push(article)
end

#print a card for each card_group
card_groups.each do |name,value|
  tag_info = value[:info]
%>

  <%= partial "partials/card.erb", locals: {
      articles: value[:articles],
      img_url: tag_info.img_url || tag_info.icon_url,
      is_icon: !tag_info.key?(:img_url),
      tag_name: tag_info.name } %>

<% end %>
