---
pageable: true
per_page: 3
---

<h1 class="center">Welcome!</h1>

<h2>Latest Posts</h2>

<% page_articles.each_with_index do |article, i| %>
  <%= partial "partials/post_summary.erb", locals: {
      article:article } %>

  <% if i!=(articles.length-1) then %>
    <%=  "<hr  />" %>
  <% end %>
<% end %>

<h2>Common Tags</h2>

<% data.tags.sort_by { |k, v| v[:ranking] }.each do |tag_name,tag_info| %>
  <%= partial "partials/card.erb", locals: {
      articles:blog.tags[tag_name],
      img_url: tag_info.url,
      tag_name: tag_name, } %>
<% end %>


<%= partial "partials/pages.erb" %>
