---
pageable: true
per_page: 3
---

<h1 class="center">Welcome!</h1>

<h2>Latest Posts</h2>

<%= partial "partials/post_summaries.erb", locals: {
    articles: page_articles }%>

<%= partial "partials/pages.erb" %>

<h2>Common Tags</h2>

<% data.tags.sort_by { |k, v| v[:ranking] }.each do |tag_name,tag_info| %>
  <%= partial "partials/card.erb", locals: {
      articles:blog.tags[tag_name],
      img_url: tag_info.url,
      tag_name: tag_name } %>
<% end %>
