<% content_for :head do
  js = javascript_include_tag "index"
end %>

<%= partial "partials/post_feature.erb", locals: {
  article: blog.articles[0],
  id: "featured_post" }%>

<div class="sub_features">
  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    style: "width: 42%;font-size:.8em;",
    id: "random_post_1"   }%>

  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    style: "width: 42%;font-size:.8em;",
    id: "random_post_2" }%>
</div>


<%
#create an article grouping for each data.tags
article_groups = {}
data.tags.each do |tag_info|
  article_groups[tag_info.name] = {
    info: tag_info,
    articles: []
  }
end

#add the relevant articles
max_num_of_tagged_articles = 4
blog.articles.each do |article|
  tag_info = get_tag_info(article.tags)

  #add articles to article groups, ensure that the groups are under a set # of articles
  if article_groups[tag_info.name][:articles].length < max_num_of_tagged_articles
    article_groups[tag_info.name][:articles].push(article)
  end
end


tabs = []
article_groups.each do |name,value|
  tabs.push({
      'title':name.titleize,
      'articles': value[:articles]
  })
end

%>



<%= partial "partials/tabs.erb", locals: { tabs: tabs } %>
