<% content_for :head do
  js = javascript_include_tag "index"
end %>

<%= partial "partials/post_feature.erb", locals: {
  article: blog.articles[0],
  id: "featured_post" }%>

<div class="sub_features">
  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    style: "width: 42%;font-size:.8em;",
    id: "random_post_1"   }%>

  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    style: "width: 42%;font-size:.8em;",
    id: "random_post_2" }%>
</div>

<%= partial "partials/tabs.erb", locals: { tabs: tab_groupings() } %>
